[2017-01-18 22:50] mdgilene commented on #225
This issue is resolved with 53570e3277dffbd955f8011d2e288c5d3007274f

[2017-01-18 22:50] #225 closed, assigned to nobody

[2017-01-19 04:44] rsanchez-wsu commented on #236
@mdgilene If you are willing to tackle it, I won't stop you.  I like the suggestion to start small and simple and grow it from there.

[2017-01-19 04:50] mdgilene commented on #236
I can try to write up a wiki page that would layout the specifications for it. Although I would probably wait until we are closer to cleaning up the remaining issues and such from last semester before beginning any real work on it.

[2017-01-19 05:20] mdgilene commented on #206
Fixed with 53570e3277dffbd955f8011d2e288c5d3007274f

[2017-01-19 05:20] #206 closed, assigned to nobody

[2017-01-20 04:32] mdgilene opened #237 "Formalizing the specification for XML format when representing the file structure"
This Issue can be considered closed once the following has been met.
- [x] A decision has been reached as to which XML format will be used.
- [ ] A formal specification for the chosen XML format has been documented in the wiki.

<hr>

Currently there are multiple different variants as to how the file system structure is going to be represented using XML.

## From ClientSideGUI
Currently the Client

[2017-01-20 05:21] rsanchez-wsu commented on #237
This is an excellent issue to raise.  The reason for the varying XML implementations is that last semester we started with no code, so as the various teams tackled the parts of the project they selected, they needed to implement related functionality.  At the time that ClientSideGUI and JFilesServer were being implemented, I don't think that XmlHandler was fully functional, and it certainly wasn't

[2017-01-20 18:41] SolidStateHero opened #238 "Create Team 11 Wiki Page"
**The following issue can be closed once the following criteria are met and cleared:**

- [x] Create and develop wiki page for Team 11
- [x] Create format guidelines for additions to the wiki page, which should include:
   - [x] Team member names
   - [x] Development practices
   - [x] Merge policies
   - [x] Current Milestone summary
   - [x] Completed issues with documentation

There is currentl

[2017-01-20 18:44] rsanchez-wsu commented on #238
To be complete, this issue's summary should list the specific items that will be on the wiki page in order to consider it complete.  For example, team members, team-specific development practices, merge policy, etc.

[2017-01-20 19:03] SolidStateHero opened #239 "Analyze and Redocument Current GUI Code where Necessary"
The following issue will be closed when these criteria are met:

- [x] Current GUI code has been thoroughly searched for any incorrect or inaccurate documentation.
- [x] Current GUI code is properly recorded in javadoc, class-level, and method-level documentation.

Keep in mind that this may involve simply going through the code and changing nothing at worst. If this is the case, it would still be

[2017-01-20 19:09] rsanchez-wsu commented on #239
Some things to consider here are: 1) you don't define what format issues are being targeted or how they are to be addressed; 2) you don't define what "properly documented" means; and, 3) as an FYI, there were some efforts to document code in the wiki, but I don't like that as I would rather see more documentation, especially class-level and method-level documentation, in Javadoc and leave the wiki

[2017-01-20 19:25] mdgilene commented on #226
One thing to consider (assuming I'm understanding correctly) is tht at the current GUI would require significant rework in order to use Web Views instead of the regular javafx views (panels, buttons, labels, etc.)

[2017-01-21 00:33] mdgilene opened #240 "Reevaluate Project Architecture"
The purpose of this issue is to discuss the current project architecture. At the moment the architecture has grown naturally over the course of the previous semester by multiple teams. As it stands now it is sufficent for the current state of the project however I could see issues arising later on as the project gets larger and more complex. Because of this I think we should formalize the architec

[2017-01-21 16:17] mdgilene opened #241 "Consolidate GUI code into a single package and remove secondary GUI"
Currently there are three GUIs that were being worked on at the end of last semester. Because of this we need to consolidate their code into a single package and remove one of the duplicate GUIs.

The more fleshed out GUI is ClientSideGui located in the client package. Because of this, we will be moving forward with this design as the base for the rest of this semester.

The follow lists what actu

[2017-01-21 19:23] LoganRickert commented on #241
I've been wondering myself why there are two GUIs. Does anyone actually know? I've just been assuming the GUI package is the official GUI.

[2017-01-21 19:28] mdgilene commented on #241
I believe there were two teams working on the GUI last semester. It appears as thought they started developing it separately but then started working together near the end of the semester and began to merge their two designs together. So currently ClientSideGui can do everything GUI can do plus some extra things.

[2017-01-21 20:16] rsanchez-wsu commented on #241
@mdgilene You are correct.

[2017-01-22 00:55] mdgilene commented on #241
Didn't even realize, but turns out there are actually 3. However, JfilesGui in the client package is completely obsolete so it will be removed as well.

[2017-01-22 01:44] cklw5858 opened #242 "Create Team 7 Documentation on Wiki"
Create a Team 7 Wiki page that will be used for our team's documentation. This is where we can put our goals, milestone information, release notes, etc. This will be beneficial in order to compile help documentation at the end of the semester.

[2017-01-22 17:58] hbarri opened #243 "Clean up Team 1 branches"
Review, compare, and understand all the diverged branches of team 1 - team1 branch (https://github.com/rsanchez-wsu/jfiles/tree/team1), team1-dev branch (https://github.com/rsanchez-wsu/jfiles/tree/team1-dev), and team1RMI-dev branch (https://github.com/rsanchez-wsu/jfiles/tree/team1RMI-dev). Then clean them up by assessing their state and deciding on what to do with each one.

[2017-01-23 21:42] laurenceforshaw opened #244 "Tutorial"
#We need to create a tutorial explaining what parts are working and what exactly happens when each main function runs. Detail step by step what exactly the program is doing so that somebody can understand what the program does without diving through the code.

[2017-01-23 21:51] cerasaurus opened #245 "Design and Improve Team 10 Wiki Page"
Research and design format of team Wiki Page.
Include Sections:

- [x] Team members and info

- [x] Develop and document work-flow/ merge policies

- [x] Ideas

- [x] Work in Progress

- [x] Milestones

Below is a link to the outline I created for our team wiki page. The link should allow anyone to edit it as well.
https://goo.gl/E1FIEo

This issue is considered closed if all five of these section

[2017-01-23 21:56] laurenceforshaw opened #246 "Server main() tutorial review."
Review the wiki page https://github.com/rsanchez-wsu/jfiles/wiki/JFiles-Server-Main-StepThrough and make sure it is understandable and accurate. Needs to be done by somebody other than @laurenceforshaw, who wrote the page in question.

[2017-01-24 19:00] #240 closed, assigned to nobody

[2017-01-24 19:33] mdgilene opened #247 "Factor out GUI visual events into CSS where possible"
This issue relies on issue #230 to accomplish fully.

Currently visual effects such as adding drop shadows to buttons is handled in the code however the code required to do so is relatively verbose for what it actually accomplishes and thus clutters up the code. Most of the same effects can be accomplished easily via CSS.

There are 4 functions currently in ClientSideGui that handle these actions.

[2017-01-24 22:55] mdgilene opened #248 "Generate JavaDoc for project and host it here on GitHub"
Currently the only documentation we have for the code base exists inside the classes themselves and the ones we manually create on the wiki.

Using Eclipse we are able to generate the JavaDoc for the entire project and store that generated JavaDoc in the /docs folder inside the project.

Once the JavaDoc has been generated this repository can be configured so that GitHub will automatically use the

[2017-01-25 02:44] rsanchez-wsu commented on #243
@hbarri I think that it would make sense to make a distinction between the assessment phase and the action phase.  I think that this issue can cover the assessment phase as written.  That part will necessitate some discussion, which can take place here.  However, I think that the action phase is distinct and will one or more separate issues to properly capture the work to be done.

[2017-01-25 02:59] rsanchez-wsu commented on #226
@willeko999x I believe that the purpose of this issue was just to clearly document the content that was in the initial write up.  Is your intent in adopting this issue to do only that, or do you intend to start work on a Bootstrap effort?

[2017-01-25 03:03] rsanchez-wsu commented on #216
Let's make sure to keep in mind the eventual goal is for all code-related documentation to end up in JavaDoc comments, which will be generated and published here on the GitHub project (#248).

[2017-01-25 03:03] rsanchez-wsu commented on #239
Let's make sure to keep in mind the eventual goal is for all code-related documentation to end up in JavaDoc comments, which will be generated and published here on the GitHub project (#248).

[2017-01-25 03:12] rsanchez-wsu commented on #242
@cklw5858 Please define what specific things need to be on the wiki page.

[2017-01-25 03:14] rsanchez-wsu commented on #231
@LoganRickert This issue is on your team's milestone, but there is no statement regarding the deliverable or desired end state.  Please make sure that something gets added here at some point so that it is properly documented.

[2017-01-25 03:57] mdgilene commented on #236
I have written up a preliminary wiki page regarding this issue.

https://github.com/rsanchez-wsu/jfiles/wiki/Server-Gui

[2017-01-25 13:43] cklw5858 commented on #242
This Wiki page will include the following:
## **Members of Team 7**
**Name:** Carey Kaufmann
**Email:** carey.kaufmann@wright.edu
**GitHub username:** cklw5858
**Slack username:** careyk

**Name:** Logan Rickert
**Email:** loganrickertdev@gmail.com
**GitHub username:** loganrickert
**Slack username:** loganrickert

**Name:** Reggie Ballard
**Email:** ballard.44@wright.edu
**GitHub username:** TheR

[2017-01-25 18:41] laurenceforshaw opened #249 "Tell client about refused connections."
If a connection is refused by the server, inform the client of this, then close the connection.

[2017-01-25 20:31] SolidStateHero commented on #226
The plan was currently just to complete the issue as a part of our clean-up effort by moving it to the wiki.

Edit: However I wouldn't be opposed to integrating Bootstrap in a future milestone.

[2017-01-25 20:49] SolidStateHero commented on #226
I have moved the content of the issue to the wiki with a few changes and organizational additions, thus closing the issue. It is located at [https://github.com/rsanchez-wsu/jfiles/wiki/Optional:-Implementing-Bootstrap](url). If there are any future suggestions or edits, feel free to make them.

[2017-01-25 20:49] #226 closed, assigned to nobody

[2017-01-25 20:50] jtrenton opened #250 "Add JUnit test for XmlHandler class"
Since we have decided to accept the XmlHandler as defining our XML format, it is important to insure that the class works as expected.

The JUnit jar is already contained in the project. But Ant still needs to be setup to run Junit on every build.

The test should insure that the output is consistent with expectations no matter the input.

[2017-01-25 20:55] SolidStateHero commented on #223
Closed - whether this was finished or not, we don't have last semester's team to actually fill out this page.

[2017-01-25 20:55] #223 closed, assigned to nobody

[2017-01-25 20:56] SolidStateHero commented on #222
This issue was never closed, and we do not have the previous team to give us the goals and objectives.

[2017-01-25 20:56] #222 closed, assigned to Dorkatron199

[2017-01-25 20:59] SolidStateHero commented on #224
@rsanchez-wsu I'm looking through the issues to clean them up. I'm missing the context of what team created this and whether or not this was meant to be for one single team or all teams?

[2017-01-25 21:11] SolidStateHero commented on #211
Invalid and closed - We do not have the team currently working on the project to give final thoughts.

[2017-01-25 21:11] #211 closed, assigned to nobody

[2017-01-26 02:22] rsanchez-wsu commented on #226
@willeko999x Thanks for clarifying and thanks for posting a link to the new wiki content.

[2017-01-26 02:24] rsanchez-wsu commented on #250
@jtrenton Let's separate this into two issues.  Please create a new issue to modify `build.xml` by adding two new targets.  One target will run the whole test suite and another target can be used to run a single test by specifying the test name.  You can assign the new issue to me and link it to this one.

[2017-01-26 02:28] rsanchez-wsu commented on #224
@willeko999x This was a team 4 issue.  I recommend asking @viro101 for advice/suggestions on this.  If he has nothing illuminating to offer on this, then it is OK to close.  I expect that the first two items will eventually be handled under #231 and the third item will eventually be covered through incremental improvements to the code.

[2017-01-26 02:30] rsanchez-wsu commented on #240
@mdgilene Fantastic work with this.  I like the new structure.

[2017-01-26 02:32] rsanchez-wsu commented on #236
@mdgilene Thanks for starting the wiki page.  I hope that others decide to chime in and offer their suggestions.

[2017-01-26 02:32] rsanchez-wsu commented on #242
@cklw5858 Thanks

[2017-01-26 02:34] rsanchez-wsu commented on #249
@laurenceforshaw This is very much a good thing for the server to do.  It might something to include in the discussion for #231 as well.  I can see how there might be a refused connection before commands start flowing, but I can also see that there might be a reason for the server to terminate the client connection (think of a situation where a command runs too long and the server terminates the c

[2017-01-26 06:45] LoganRickert commented on #231
The deliverables for this issue are:

- [x]  Agree on a standard representation for flags
- [x]  Agree on a standard representation for arguments
- [ ]  Agree on an initial set of commands and for each command: what is the command, the arguments, the flags, and how will it be helpful for the server to have.

[2017-01-26 07:17] LoganRickert opened #251 "Formal Command Implementation Structure"
Our team had a brief meeting today to discuss different ways to implement commands. We felt that an effect way would be to use the [Command Pattern](https://en.wikipedia.org/wiki/Command_pattern).

We propose the creation of a new package called `commands`. There will be a master interface called `command` with the following structure:

[code]

The `String` returned will be the output from the com

[2017-01-26 07:19] LoganRickert commented on #251
It may be a smart idea to create a convention that all commands start with `Cmd`. IE: `CmdFind` instead of `Find`. There may be conflictions with class names or ambiguity as to what the class does without proper context while scanning through a file.

[2017-01-26 07:32] LoganRickert commented on #249
I agree with Sanchez but as far as command wise, I feel that the `error` command should suffice. The server may send an `ERROR timeout`, signaling to the client that something has gone wrong.

That being said, we may want to add an `ABORT` command which mimics the `error` command but is used to report a fatal issue. This command would tell the client to immediately disconnect and report to the use

[2017-01-26 07:43] LoganRickert commented on #236
I think a few things could be added and change to improve the current graphical user interface laid out.

* Adding a 'stop' and 'restart' button.
* Split the main section in two. The bottom half be the console output and the top half be current stats on the server. Things like:
  * How many current active connections
  * Current bandwidth usage / how many files are currently in transit.
  * A grap

[2017-01-26 11:44] rsanchez-wsu commented on #251
I like the proposal in the summary and the additional idea of a naming convention to reduce ambiguity.  I encourage folks to read Joel Spolsky's blog posting _Making Wrong Code Look Wrong_: https://www.joelonsoftware.com/2005/05/11/making-wrong-code-look-wrong/

It does an excellent job of explaining the concept of Hungarian notation (and how people have misunderstood it).  We might apply somethin

[2017-01-26 11:45] rsanchez-wsu commented on #236
@LoganRickert I think those are all viable ideas.  Your top level points at least should be turned into their own issues.

[2017-01-26 13:28] jtrenton opened #252 "Modify build.xml -- Add targets for testing"
Modify build.xml by adding two new targets. One target will run the whole test suite and another target can be used to run a single test by specifying the test name.

[2017-01-26 16:14] mdgilene commented on #236
I agree all of those things would be good to have a some point. At the moment though I was simply looking to get something up and running that is able to accomplish the same things as the server itself. Currently the server doesn't have an interface to may of those things so we would have to wait for those to be implemented before we can create a UI element for them.

[2017-01-26 16:16] mdgilene commented on #251
If all of the command classes are in the same package, then naming conflicts shouldn't be an issue. An alternative option would to name them like you said `Cmd+name` however internally the command is recognized as simply `name` that way the user doesn't have to type `Cmd`.

[2017-01-26 16:29] mdgilene opened #253 "Factor out complex custom Gui elements into a separate class."
The goal of this would to increase code readability and to begin to reduce the amount of "stuff" that is done inside the main Gui class. The main Gui class should really only create the major view elements and handle user actions with the menu bar. However right now it is doing that plus things like parsing XML.

This would be an ongoing process however there are a couple things this applies to ri

[2017-01-26 17:54] #241 closed, assigned to nobody

[2017-01-26 23:49] cklw5858 commented on #251
This is a very nice review of what was discussed in the meeting yesterday. Thanks @LoganRickert for writing this up.

[2017-01-26 23:58] cklw5858 commented on #231
I agree with Proposal 2 to follow more of a Linux shell approach. I like @mdgilene idea for flags:
cmd -flag:[param]

Parameters would be optional.

[2017-01-27 00:47] #253 closed, assigned to nobody

[2017-01-28 12:40] ianbarney commented on #176
I have completed this Issue, but forgot to reference it in my commit message.

[2017-01-28 13:55] rsanchez-wsu commented on #176
@ianbarney Please mention the commit ID in a comment here and then browse to the commit in GitHub and also make a comment on the commit referencing the issue number.  That will ensure that we are able to track when/where/why items are closed.

[2017-01-28 14:06] rsanchez-wsu commented on #176
@ianbarney Thanks.

[2017-01-28 14:06] #176 closed, assigned to nobody

[2017-01-29 04:03] laurenceforshaw opened #254 "Reuse slots in clients"
Currently ClientCount only increments and never decrements. Once enough clients have logged, in no more can do so even is some have since logged out. We need to allow spaces for clients to be reused after clients log out.

[2017-01-29 05:00] LoganRickert commented on #254
Our team (team7) has been working on some plans for later in the semester to re work how client connections are handled, which would eliminate this problem.

But yes, this is an issue that should be address. If more than INT_MAX32 clients connect over the life of the server, it would crash the server.

[2017-01-29 18:40] mdgilene opened #255 "Investigate moving UI development to FXML and SceneBuilder"
One of the major benefits of FXML is that it allows us to easily split up our views from the controllers and the models behind those views (MVC development pattern). However we aren't fully taking advantage of that at the moment as our views/controllers are mashed together into a single file right now. Using FXML we can easily define the static portions of the user interface and the handlers that

[2017-01-29 18:58] #149 closed, assigned to nobody

[2017-01-29 19:17] hbarri opened #256 "Clean up Team 1 branches (Part 2)"
After reviewing and comparing all the diverged branches of team 1 - team1 branch (https://github.com/rsanchez-wsu/jfiles/tree/team1), team1-dev branch (https://github.com/rsanchez-wsu/jfiles/tree/team1-dev), and team1RMI-dev branch (https://github.com/rsanchez-wsu/jfiles/tree/team1RMI-dev). We can now start the action phase of removing, merging, and editing branches. This issue is a continuation o

[2017-01-29 19:22] rsanchez-wsu commented on #256
@hbarri This issue is clearly a continuation of an issue (I forget precisely which one) from this past week.  Please make mention of the original issue to ensure that our future selves and other developers who end up working on this project can follow everything along.  To do this, edit your initial summary and add a sentence mentioning the issue by number, and perhaps optionally provide something

[2017-01-29 20:01] hbarri commented on #256
I edited the comment as you recommended.

[2017-01-29 20:13] rsanchez-wsu commented on #256
@hbarri Thanks!

[2017-01-29 20:34] LoganRickert opened #257 "Implementing New Commands"
I think we should begin implementing commands outlined in #231 using the structure outlined in #251. By the end of milestone 1 for team 7, all the skeletons for the commands should have been created. I would like the implementation of these commands to occur on the `commands` branch.

The only commands that have been excluded are `send` and `recv`. Personally, I think the protocol for how files sh

[2017-01-30 02:12] rsanchez-wsu commented on #243
@hbarri Could you add a comment here that explains the reason for closing this milestone and any related issues/commits/etc.?

[2017-01-30 03:40] hbarri commented on #243
This issue relates to issue #256 where we plan to archive and delete the team1RMI-dev branch and merge the team1 branch into the team1-dev branch. We plan to then hopefully be able to merge master into team1 in future milestones.

[2017-01-30 16:18] TremblingOdin commented on #229
Issue has been fixed and is functional on team9-dev branch.

[2017-01-30 17:28] mdgilene commented on #237
I think it is clear that we should choose the XML format currently generated by XmlHandler. At this point the format needs to be documented in the wiki in-order to close this issue.

[2017-01-30 18:50] SolidStateHero commented on #219
I am closing this issue with approval from @rsanchez-wsu as most of the other open issues will be closed as code progresses.

[2017-01-30 18:50] #219 closed, assigned to nobody

[2017-01-30 20:40] SolidStateHero commented on #255
If you don't mind, we'd like to collaborate on this with your team if at all possible.

[2017-01-30 21:54] LoganRickert opened #258 "Refactor JFilesServer"
The JFilesServer needs some refactoring. It has deprecated methods and unused member variables.

- [x] Remove deprecated methods

- [x] Remove unused member variables

- [x] Convert the server itself from being a needlessly multithreaded to single threaded (Not talking about when it creates a new thread per connection but the server itself is threaded and doesn’t need to be).

[2017-01-30 21:58] markbrant621 commented on #213
I reviewed the errors in this issue, but I will need further testing on the Deprecated stop() methods before I am able to push it to master.

[2017-01-30 22:03] lroberts108 commented on #245
I finished the initial work-flow/ merge policies. I think this issue can be closed...

[2017-01-30 22:08] ghost commented on #244
Laurence, in your tutorial [#244](https://github.com/rsanchez-wsu/jfiles/wiki/Server-contact-StepThrough) when you write about the addThread() Method in the Server contact StepThrough section of your tutorial. You have a link to another issue about a change to make in the server files to inform the client if they could not connect to the server but still not disconnect anything. Even though you ha

[2017-01-30 23:29] laurenceforshaw commented on #244
My first priority is to document the current functionality or lack thereof. I could add something describing how it should work when fully implemented.

[2017-01-31 00:27] TremblingOdin opened #259 "Interact With Files"
As of right now when you open the client side GUI the file area seems to be a stagnant image. In order to test the functionality of various things like a right click menu, or a search output, which other teams have either worked on or started working on, we need to have the client side GUI create functional file and folder objects.

[2017-01-31 00:37] TremblingOdin commented on #259
I should have specified this probably needs to be done along side issue 150: https://github.com/rsanchez-wsu/jfiles/issues/150. However while that focuses on just the XML aspect this would be focusing on the object generation aspect so I thought it would be a separate issue on it's own

[2017-01-31 00:46] lroberts108 commented on #54
This issue has been fixed and is being closed

[2017-01-31 00:46] #54 closed, assigned to MichaelMorath

[2017-01-31 00:57] #203 closed, assigned to mdgilene

[2017-01-31 02:32] w262jxl commented on #216
There are already javadoc comments associated with each method/class. What else needs to be done for this issue?

[2017-01-31 16:15] ghost commented on #244
Ok for the time being I will continue to read over the tutorial section by section.

[2017-02-01 01:01] cklw5858 commented on #242
Wiki is now created for Team 7 and added to the table of contents.

[2017-02-01 01:01] #242 closed, assigned to cklw5858

[2017-02-01 01:22] laurenceforshaw opened #260 "Add Basic test server and clientconsoles."
Add basic server and client console to UTF over network functions for testing purposes.

[2017-02-01 18:44] LoganRickert commented on #251
This issue has officially been resolved. A skeleton for each class has been created.

[2017-02-01 18:44] #251 closed, assigned to LoganRickert, cklw5858, w012bwh

[2017-02-01 19:38] kryan100 commented on #224
A bit late, but if you haven't contacted viro yet, the first item references everything contained within the "core" folder. I documented a bit of it before the semester ended, and it looks like someone was able to expand and format it better.

#231 seems to address the second item. Team 4 intended to use the Core files that were imported from somewhere™ as the format for commands and for the tools

[2017-02-01 21:50] cashjason commented on #107
I have pushed my changes to the team 12 branch, but I am having trouble making the file serializable and getting my build to succeed then. That is the last thing to do before making this a javabean

[2017-02-01 22:26] mdgilene commented on #230
Now that we're using FXML/Scenebuilder to build these scenes, the CSS is much easier to accomplish as the stylesheet and classes can be specified in FXML. I have sort of started started this with the addition of FileIconView.css so this can be used as an example as how to actually use CSS.

[2017-02-01 22:27] SolidStateHero opened #261 "Issue #230 Needs split up into more managable sections."
Issue #230 is far too broad to be completed in a single milestone, let alone be managed successfully. By splitting this into multiple issues and pointing back to the parent issue we can make it much easier to complete sections of the issue and document any issues, research, or general roadblocks we may encounter.

[2017-02-01 22:43] SolidStateHero commented on #239
This issue may be done/completed already. I only found a few comments that need subjective minor changes. I would like the rest of my group or anyone else who wants to help to look for me. The documentation is very well done and the code is fairly simple in composition. If there are no other problems I will push what little I've done and close this issue.

[2017-02-01 22:44] SolidStateHero commented on #230
I looked over the CSS you set up and I agree, it looks much more simple now. We will be taking a much longer look at this issue this week.

[2017-02-01 22:54] LoganRickert opened #262 "Merge Team7-dev with master"
Now that the new command structure is working and the `Find` command has been implemented on team7-dev, I think we should merge team7-dev with master. The current command structure on master only supports `Find` so that's why I think it would be a good point.

[2017-02-01 23:48] burks20 opened #263 "Expand and Restructure Project Wiki (main)"
As it currently stands, students are referred to the main Wiki for instructions on IDE setup, project overviews, and team information.  However, significant steps of the environment setups are buried in unknown locations, non-existent, or out of order to include instructions on installing plug-ins for Eclipse (blank content) as well as Telnet/Netcat instructions (out of order).

There are also gla

[2017-02-02 00:00] burks20 opened #264 "Adding course-specific instructions to the wiki (main)"
As an extension of issue #263 (Expand and Restructure Wiki), the Wiki should also include course-specific content such as structures for deliverables.  There should not be a need to cross-reference examples and guidelines from pilot.wright.edu; if the project is only being developed through coursework, the following articles should also exist on GitHub:

- [x] "Course" page explaining how the WSU

[2017-02-02 00:40] mdgilene commented on #262
I second this, I think our team might switch gears for a bit and try to get the server/client to be able to send/receive the new command system that you guys have been working on.

[2017-02-02 00:44] mdgilene opened #265 "Modify the client/server to use the new command system instead of plain text"
Currently the Client and Server only respond to user input in the form of plain text. We need to modify the client to create command instances and transmit them to the server, and then modify the server to take the input from the client and rebuild the command instance and execute it.

[2017-02-02 00:50] #262 closed, assigned to nobody

[2017-02-02 00:53] LoganRickert commented on #265
That sounds like you're over complicating things. Right now the client sends the command in plain text to the server. The server interprets the the plain text and transforms it into the appropriate command object.

[2017-02-02 02:43] #258 closed, assigned to nobody

[2017-02-02 04:12] #265 closed, assigned to nobody

[2017-02-02 19:08] #150 closed, assigned to nobody

[2017-02-02 21:50] ianbarney opened #266 "Going into Folders"
The goal of this issue for the gui is to be able to go inside a folder when it is double clicked. It might help to create a folder class. When the folder is clicked it could send it's name to the current path and then go into the folder.

[2017-02-03 17:45] SolidStateHero commented on #239
I've made another look through and I believe that the current code is documented properly.

[2017-02-03 17:45] #239 closed, assigned to nobody

[2017-02-03 18:42] SolidStateHero opened #267 "Incorperate CSS Styling - Document (In wiki) how to format CSS pages"
One of the first steps of moving the hardcoded GUI to CSS is to research and document the steps needed to integrate it with FXML within the wiki. This way, we can have a source of knowledge that others can use when more GUI is added. The information to be added is located in issue #230, issue #255, and issue #247.

This is a child issue of issue #230

[2017-02-03 18:47] SolidStateHero opened #268 "Incorperate CSS Styling - Change basic elements of current GUI"
The CSS is implemented within the code, but it is only used for example purposes. Our goal is to style all of the current elements in an attractive and professional way to create a foundation for future additions to the GUI.

This is a child issue of issue #230

This issue will be considered completed and closed when all elements of the GUI have had CSS styling rules applied to them.

[2017-02-03 18:50] SolidStateHero commented on #261
This is somewhat completed, as we have started to create sub-issues for this. We will continue to add issues as we progress on the CSS detailed in #230.

[2017-02-03 18:50] #261 closed, assigned to nobody

[2017-02-03 22:29] hbarri opened #269 "Review & Edit previous Issues"
A lot of issues have been left over from previous semesters regarding non-existent or out-of-date problems in the code.

- [x] go through all of our issues, especially the older ones
- [x] close the unnecessary issues
- [x] edit the out-of-date but relevant issues

[2017-02-05 17:27] hbarri commented on #212
Can this issue be closed since all of the old milestones have already been cleaned up?

[2017-02-06 05:05] rsanchez-wsu commented on #242
@cklw5858 Could you provide a direct link for the page here?

[2017-02-06 06:24] SolidStateHero commented on #212
I would argue yes. I've been through all of the issues and milestones, and anything that is left could contain important information. Closing this now.

[2017-02-06 06:24] #212 closed, assigned to nobody

[2017-02-06 12:55] ianbarney commented on #192
Switching over to CSS we need to redo this issue, but it shouldn't be too hard. I think when you click search we should have a method that sets currentDirectory to what's in the search bar and passes it to the loadDirectory method.

[2017-02-06 15:21] cklw5858 commented on #242
Great idea. Here is the Wiki link for Team 7:
https://github.com/rsanchez-wsu/jfiles/wiki/Team-7

[2017-02-06 16:41] TremblingOdin opened #270 "Convert String path to Stack"
Convert all the String path, or currentDirectory, variables to stacks where you appened/pop "/location" to get where you need to go for better ease of access and navigation

[2017-02-06 17:12] hbarri opened #271 "Merge team1 branch into team1-dev branch"
This issue is a continuation of a previous issue we had related to our previous milestone (issue #256). As expected and stated in issue #256,  the team1-dev and team1 branches are significantly different so the merging portion of that issue carried over to this milestone. However, the team1RMI-dev branch was successfully closed in issue #256. We also plan to hopefully be able to merge master into

[2017-02-06 17:31] ghost commented on #244
Your tutorial looks very well formatted and in good detail. I don't see a lot of editing that I think would need to be done. I am going to do a recheck through it all and see if i see any miss spelling or something that could be rewritten in a another way.

[2017-02-06 18:04] #245 closed, assigned to cerasaurus

[2017-02-06 18:12] mdgilene opened #272 "Begin work on basic server UI"
This goal of this issue is to get a working server UI up and running with the basic functionalities listed in the [Server GUI](https://github.com/rsanchez-wsu/jfiles/wiki/Server-Gui) wiki page. It will follow the same general code structure as the client UI.

[2017-02-06 20:36] jasonmarcum commented on #215
Andrew Ribar and I have completed this issue, but we are still having trouble committing the changes. Once we can figure that out we will be able to close this issue.

[2017-02-06 20:37] #256 closed, assigned to nobody

[2017-02-06 20:37] #269 closed, assigned to hbarri

[2017-02-06 21:26] burks20 commented on #263
The wiki menu has been re-structured, but may undergo some more tweaks as the Wiki is filled out for this upcoming week in the next issue #264 .  The homepage of the Wiki now describes the goal & method of the project development.  Actual content & images need to be added to the newly defined pages listed in the Wiki navigation and will be addressed as issue #264.

[2017-02-06 21:26] #263 closed, assigned to burks20

[2017-02-06 21:36] #246 closed, assigned to nobody

[2017-02-06 22:17] LoganRickert opened #273 "Basic Admin Commands For Server"
I would like to add some basic admin commands to the server so that anyone who wants to test with a persistent server can do so. Authentication has not yet to be determined.

### RESTART ###

Restarts the server.

Format:

`RESTART`

Example:

`RESTART`

### UPDATE ###

Runs a pull.

Format:

`UPDATE`

Flags:

* `R` - Restart the server.

Example:

`UPDATE`

To mark this issue closed, Restart and

[2017-02-06 22:29] LoganRickert opened #274 "'Users' XML Usage"
So I would like to start an issue about the idea of storing user information as XML.

The rough structure could be as followed:

[code]

-- Note: recursive="true" means you have access to that directory and all directories below, as oppose to recursive="false" where you can only access files directly in that folder.

Feedback on this XML structure would be great! I am not sure if we want to have t

[2017-02-06 22:31] LoganRickert commented on #274
Our team won't really be dealing with this issue but I think it's something important to talk about and handle sooner rather than later so we can start working with persistent servers and other things.

So if another team would like to work on this issue, feel more than free to take it up. Thanks!

[2017-02-06 22:33] mdgilene commented on #274
Eventually something like this wouldn't be stored as XML, this information would be contained in a database on the server machine. I was going to look into getting JDBC working, but it does sort of depend on a persistent server.

[2017-02-06 22:34] LoganRickert commented on #274
The main reason that I was thinking XML is because it would be easy for people to test and edit the XML so they can easily test permissions, users, etc without having to deal with a complicated database and its interface.

[2017-02-06 22:36] mdgilene commented on #274
We could get around that by implementing a `chmod` command that an admin account can use and that command goes and updates the database accordingly.

[2017-02-06 22:37] LoganRickert commented on #274
I was assuming that users would be in the head of the server. If you wanted to create a new user, you could without having to create a new user account on the server.

[2017-02-06 22:55] LoganRickert commented on #274
`<directory>` could have a property to denote the user has `r` and `w` access as well.

[2017-02-06 23:00] ElderReebs commented on #215
This commit essentially finishes up issue #215 from Milestone 1 and when it carried over to Milestone 2, and some work on issue #216 in the JFilesClient class from Milestone 2.  Issue #216 has just been started so we have more work to accomplish before we can wrap this issue up. Here is the link 22169e1 commit.

[2017-02-06 23:18] LoganRickert opened #275 "Change JFilesServer to a singleton"
I think it would be a good idea to rewrite the JFilesServer as a singleton. This would ensure that only one instance of the server is running at any given time throughout the program.

The main reason I would like to do this is to investigate restarting and reloading the server by Class reloading.

This issue will be marked as complete once the class has been changed to a singleton.

[2017-02-07 00:13] mdgilene commented on #275
Our team was actually planning on doing some work on the server side of stuff this next week so we can take a look at this issue as well.

[2017-02-07 03:35] kcopper opened #276 "Drag & Drop feature"
The goal of this issue is to implement a Drag and Drop feature in the current GUI. The feature will allow the user to simply click an hold a item on there computer or application and drag the item to there desire location on the JFiles application.

[2017-02-07 03:39] cerasaurus opened #277 "Expand on JUnit Wiki Page"
This issue is to expand on the basic overview of JUnit testing.

Possible additions include:
Example code
Example classes

This issues is considered closed when example code has been added for each of the Junit options including:

- [x] Test Class

- [x] Ant Test Runner

[2017-02-07 04:18] mdgilene commented on #276
I'll draw your attention to commit 08225ff5ee1bb2702e116792a528db6855ea9642, this feature has been completed for the most part. However it can't be fully completed until we can actually send file data to the server. At the moment it simply adds a `FileIconView` to the window.

[2017-02-07 04:23] hbarri commented on #256
Team1RMI-dev branch was successfully deleted and we compared the code between team1 and team1-dev. We plan to merge the team1 and team1-dev branches in our second milestone (https://github.com/rsanchez-wsu/jfiles/milestone/73) in issue #271.

[2017-02-07 04:26] hbarri commented on #269
I went through all the old issues, edited the out-of-date issues, closed the unnecessary issues, and cleaned up the old milestones, and then closed this issue.

[2017-02-07 04:28] hbarri commented on #217
Team 8 plans to come back to this issue in later milestones considering the project is still far from completion and we cannot expect to clean all of the Checkstyle and Findbugs issues with half of the methods and classes being empty.

[2017-02-07 12:50] rsanchez-wsu commented on #267
@willeko999x This issue lacks sufficient clarity.  I get the general idea of what it covers, but it does not go into enough detail that another developer could come along, pick this up and complete the task.  GUI, CSS, and FXML are very broad areas and for this issue to be manageable (and for it to result in useful output) it needs to be thought out a bit more and the end state/deliverable needs t

[2017-02-07 12:53] rsanchez-wsu commented on #268
@willeko999x After reading this issue I cannot tell what is actually supposed to be done.  The relationship between the current GUI, CSS, and FXML is not especially clear with regard to what change this issue is supposed to drive.  The description needs to be updated to include a clear statement of what needs to be done and it needs an end state/deliverable.

[2017-02-07 13:02] rsanchez-wsu commented on #277
@cerasaurus this issue is very well written, but I am not sure that we will need to cover all of these options.  @jtrenton is also working on some JUnit capabilities, so I think it makes sense to communicate with him to ensure that there isn't duplication of effort.  In reality, all we need to get started is Test classes.  The Test Runner Class is provided by Ant and/or Eclipse (the Test Runner is

[2017-02-07 13:04] rsanchez-wsu commented on #244
@laurenceforshaw @GamingFox Where is this tutorial?  Can you provide a link here in the issue so it is documented?

[2017-02-07 13:05] rsanchez-wsu commented on #260
@laurenceforshaw I think I understand the objective here, but this issue would benefit from a more detailed description for clarity.

[2017-02-07 13:13] rsanchez-wsu commented on #264
Thanks for tackling this.  It will be a big help to everyone during this and future terms.

[2017-02-07 13:58] rsanchez-wsu commented on #266
@ianbarney This issue needs a more definitive statement as to what is to be done.  The current description is noncommittal.  Additionally, the write up should have a clear statement as to what the end state/deliverable is.

[2017-02-07 13:58] rsanchez-wsu commented on #270
@TremblingOdin Could you provide some added detail as to how this is supposed to work?

[2017-02-07 14:02] rsanchez-wsu commented on #107
@cashjason What is the commit ID that you pushed?  Make sure in the future to include a "Ref #xyz" in your commit message so that GitHub will automatically associate the commit with the issue.

[2017-02-07 22:43] mdgilene opened #278 "Implement basic JDBC Derby database functionality"
The goal of this issue is to begin implementing a JDBC Derby database that can be used to store various information.  Initially the database would primarily be used for storing user information such as names, passwords, permissions, etc..

In order to complete this issue we will have to research and experiment with how to actually get the database up and running and then determine what format the

[2017-02-08 19:10] laurenceforshaw opened #279 "Implement send() test"
Implement a JUnit for the send command in JFilesServerThread()

[2017-02-08 21:00] #215 closed, assigned to nobody

[2017-02-08 22:05] SolidStateHero commented on #267
Closed. The wiki page can be viewed at https://github.com/rsanchez-wsu/jfiles/wiki/Using-CSS-and-FXML

[2017-02-08 22:05] #267 closed, assigned to nobody

[2017-02-08 22:08] ghost commented on #244
Here Is A Link To The Guide Location So documentation can be done:
[#244_Link](https://github.com/rsanchez-wsu/jfiles/wiki/team-10-Guides)

[2017-02-09 02:56] rsanchez-wsu opened #280 "Fix or suppress FindBugs issue identified in ff99744"
In commit ff99744 there is a bit of a hack to prevent FindBugs from reporting a problem.  This issue is meant to drive an investigation into that to either correct the issue or properly suppress FindBugs from reporting it.

[2017-02-09 03:01] rsanchez-wsu commented on #243
@hbarri I reopened this issue when I commented on it previously.  Did you intend to close it again with your reply to my comment or to leave it open?  I ask because I recall that team1RMI-dev was deleted at some point during the past week.  If #256 is the follow-on then I am OK with closing this issue, but I will leave that to you in case you are leaving it open on purpose.

[2017-02-09 03:21] rsanchez-wsu commented on #229
@TremblingOdin I am guessing that by closing this issue you were referring to commit 6da581d.  Please have a look at it, because the way you handle the exceptions (i.e., you don't) is not suitable for merging to master.  Also, when closing an issue it is helpful to make sure that the commit gets associated with the issue.  The best way to accomplish that is by referencing the issue number in the c

[2017-02-09 03:23] TremblingOdin commented on #229
@rsanchez-wsu Sorry, will fix going forward

[2017-02-09 03:26] rsanchez-wsu commented on #245
@lroberts108 @cerasaurus Please add a link to the project wiki page here.

[2017-02-09 03:27] rsanchez-wsu commented on #244
Cool.  Thanks.

[2017-02-09 03:37] cerasaurus commented on #245
https://github.com/rsanchez-wsu/jfiles/wiki/Team-10

[2017-02-09 03:43] rsanchez-wsu commented on #238
@willeko999x @kcopper Can you please provide a link to the wiki page?

[2017-02-09 03:45] rsanchez-wsu commented on #224
@kryan100 Thanks for the additional information!

[2017-02-09 04:08] rsanchez-wsu commented on #267
@willeko999x Thanks for the link.  It explains everything nicely.

[2017-02-09 04:09] rsanchez-wsu commented on #269
@hbarri Thanks.  I see that there are no milestones remaining from last semester.  I appreciate you making the effort keep the project tidy.

[2017-02-09 04:22] rsanchez-wsu commented on #274
@mdgilene The information that we store in the database will likely be XML formatted, at least the serialized representations of the file/directory metadata objects.  It may or may not make sense to treat the user information in the same way.

[2017-02-09 04:29] rsanchez-wsu commented on #107
The commit id is a8c84df as reported by @cashjason in Slack ( @cashjason , FYI, if you respond in Slack, the comment will not make its way back to GitHub, so please make sure to reply via the appropriate issue/commit/etc. in GitHub so the reply is associated with the right part of the project.)

[2017-02-09 18:01] mdgilene opened #281 "Implement Derby SQL query system"
The purpose of this issue is to implement a system that will allow for the easy creation of SQL statements without having to build them up yourself and (hopefully) be able to use the system without actually knowing any SQL syntax.

The general design will be similar to that of the commands system. There will be 2 master interfaces called `DerbyQuery` and `DerbyUpdate`. Any SQL commands that act as

[2017-02-09 20:01] SolidStateHero commented on #238
Closed, page located at: https://github.com/rsanchez-wsu/jfiles/wiki/Team-11

[2017-02-09 20:01] #238 closed, assigned to nobody

[2017-02-09 20:46] #275 closed, assigned to nobody

[2017-02-09 21:30] ghost commented on #244
@laurenceforshaw   The code in the JFilesGui.java looks familiar to me. I recognize some of the code written here in relation from when I did work in Android Studios. For one of my past CS classes. I could work on the Guide for the Gui on what parts of the code is doing if you would like. Would you like me to do some work with the Guide telling about what the Gui does or what the methods do? This

[2017-02-09 21:59] LoganRickert opened #282 "Reorganize Server Package"
The server package needs to be reorganized.

To complete this, the following needs to be fixed:

- [x] The `handle` function should be inside of the `JFilesServerThread` class.
- [x] `JFilesServerThread` is not a very good name
- [x] `JFilesServerThread`'s JavaDocs are a lot of just periods.
- [x] `private JFilesServerThread[] clients = new JFilesServerThread[50];`
- [x] `JFilesServerThread` uses

[2017-02-09 23:58] ghost commented on #244
I have been able to add to the Guides and edited the JFilesGui() and added in some description of what this file does. [#244_Gui_Work_part1](https://github.com/rsanchez-wsu/jfiles/wiki/What-Does-The-Public-JFilesGui%28%29-Method-Do%3F) [#244_Gui_Work_part2](https://github.com/rsanchez-wsu/jfiles/wiki/What-Does-The-public-void-start%28Stage-primaryStage%29-Method-Do%3F)

[2017-02-10 00:18] TremblingOdin commented on #270
So I figured to navigate the directory it would be best to be able to cleanly segment you location. I thought if you could simply pop or add the "/path" of each directory and in the search bar segment the String at "/" for user input it would help parts of the system run cleaner and a bit better rather than trying to constantly edit a string. I was thinking a Stack with a `.toString()` method woul

[2017-02-10 00:50] hbarri commented on #243
You're correct, issue #256 is the follow up for this issue so I will now close this.

[2017-02-10 00:50] #243 closed, assigned to nobody

[2017-02-10 03:03] LoganRickert commented on #282
All items have been fixed.

Forgot to add #282 to these commits:

355912c828c2f73ba68d5ce2dc141067d376d3d3
451eee203f36d25857c6d1d3e2162d41e6842153
bfc3097b4393a7bb6776bafd5fcafd83c511210d
0a8592a66249e693ea2d8ea27d6353741983f4ca

[2017-02-10 03:03] #282 closed, assigned to LoganRickert

[2017-02-10 14:59] Jdocnog commented on #217
Fixed what seemed to be all the CheckStyle errors of team1-dev, changed the logger manager, and some try catch blocks for file IO near lines 722 in SocketManager.  Commit a987e87

[2017-02-10 15:49] Jdocnog commented on #271
Merged team1-dev into team1.  However, there are still issues that resulted from the merge that need to be fixed in future milestones and issues (such as issue #283).  Commit efcde2b closes this issue #271

[2017-02-10 15:49] #271 closed, assigned to nobody

[2017-02-10 15:59] Jdocnog opened #283 "Fixing Team1 and Team1-dev merge errors"
Because of the merge of team1 and team1-dev in issue #271, the errors from both branches were merged together into one. So the point of this issue is to work on going back through the merged code and fixing all the errors. One problem that we had while merging was we noticed half-way through that the computer used to merge these two branches had issues with Eclipse, it did not show us the errors i

[2017-02-10 17:13] LoganRickert commented on #281
What are your requirements to mark this issue as complete?

[2017-02-10 17:21] laurenceforshaw opened #284 "Implement LS Junit Test()"
Implement a test ofr the LS command.

[2017-02-10 18:07] inDuberitably opened #285 "Slack Integrations"
Design a slack bot that performs the following:

1. Notify when assignments/exams are due.
2. Share GitHub milestones in general.
3. Track/assign/resolve Github issues in chat.
4. Get build status and future infrastructure notifications.

[2017-02-10 22:29] ghost commented on #244
I have gone through the tutorial and added in information regarding the JFilesGui.java. I have described each method and telling each step that is done.

[2017-02-11 01:05] laurenceforshaw commented on #284
Done https://github.com/rsanchez-wsu/jfiles/commit/e59fc05e8e0afaf2a40237886874a2e35d309592

[2017-02-11 01:16] mdgilene commented on #285
Not sure if you are aware or not but most of those are already available in our slack.

1. Not sure if feasible, due to having to link into Pilot.
3. Already accomplished to an extent via the [Github](https://ceg3120spring2017.slack.com/messages/github/) Slack channel.
4. Already available via [Travis](https://ceg3120spring2017.slack.com/messages/travis/) Slack channel.

[2017-02-11 01:21] mdgilene commented on #281
This issue is considered closed when there is enough functionality built into the database management system to be able to create and modify tables and to be able to query those tables based on a set of search parameters.

[2017-02-11 01:58] laurenceforshaw opened #286 "Implement a test for the find command."

[2017-02-11 02:30] LoganRickert commented on #285
Pilot does have an API but I think it's super hard and very restrictive to get access to.

[2017-02-12 20:26] laurenceforshaw opened #287 "Make find command work for folders."
Currently the find command will find files but not folders.  It should be expanded to find folders as well.

[2017-02-12 22:14] hbarri opened #288 "Wiki Documentation of Methods/Classes"
This was already completed in issue #216

[2017-02-13 07:00] w262jxl commented on #216
Methods and classes have been documented into the wiki pages. Team 1 Branch Documentation.

[2017-02-13 07:01] #216 closed, assigned to nobody

[2017-02-13 15:04] inDuberitably commented on #285
-Pilot has demo students who can act as a liaison for getting information to slack. This isn't something necessarily new, logging in and scraping information off a page. No need to actually deal with the garbage that is Pilot's API.
-Github just posts to a channel, not necessarily interacts with it. The goal would be you'd be able to post in chat in your team's channel "@ RaymerBot !issues" (trade

[2017-02-13 17:20] dmaddalena opened #289 "Implement server-to-client file transfer"
File transfer is one of the two core functionalities of the JFiles project (alongside file browsing). This is a broad overview of the file transfer issue and will evolve over time. Implementing this functionality will require, but is not limited to, the following tasks:

- [x] Research FTP and alternatives, then determine an appropriate option for the project. #306
- [ ] Implement file transfer su

[2017-02-13 17:27] SolidStateHero commented on #268
Due to difficulties getting the CSS to work, we still have work to do on this issue this week. However, we do know that the master branch has CSS files already implemented that should be working by default once rules are added. We will be continuing work on this on the following milestone (4).

[2017-02-13 18:00] lroberts108 commented on #205
Newer issue #277 is an expansion of what this issue began to discuss. I am going to close this issue so we do not have multiple discussions happening about testing the project as a whole. Other issues have been created for specific testing implementations such as #279 and #260

In short, we have decided to use and implement the jUnit test suite.

[2017-02-13 18:00] #205 closed, assigned to BrandAllred

[2017-02-13 18:18] lroberts108 opened #290 "Bring team5file test class over to team10-dev branch"
Team 5 implemented a filetest class with some thorough comments, see #143 . The test class needs to make its way back into master however since the file restructuring I feel it may be a nightmare. So I plan on only taking the test files created and putting them in our junit test folder.

[2017-02-13 18:24] #107 closed, assigned to cashjason

[2017-02-13 18:58] mdgilene opened #291 "Database Structure"
The goal of this issue is to decide on the structure of the database that is going to be used to store users and the permissions to files/folders.

I have come up with a start and am looking for input and discussion on what might need changed.

[code]

## Users
This table will be used to store the list of users and include things such as their name, ID, password and what permission group they are

[2017-02-13 19:07] burks20 commented on #264
The Wiki on GitHub does not support a direct file or picture upload of its own.  Since this project doesn't have an official third party storage/content provider, I would rather refrain from using a random one of my choice.  I will be posting images on the Wiki by attaching the pictures through this issue/ticket.  This takes care of two problems:

1.  If I create an image folder in our master bran

[2017-02-13 19:17] mdgilene commented on #264
If the images are just being used for the wiki, then why not just use something like Imgur, rather than cluttering up issues as a storage place for images? As far as reliability and uptime I've never had issues with Imgur and as long as the images are viewed at least 1 time every 6 months they will never be deleted.

[2017-02-13 19:20] burks20 commented on #264
@mdgilene - I don't think the GitHub Issues has the 6-month restriction like Imgur, so this seems like a better solution.

[2017-02-13 19:25] mdgilene commented on #255
GUI development has moved to FXML

[2017-02-13 19:25] #255 closed, assigned to nobody

[2017-02-13 19:30] mdgilene commented on #264
Hmm, I'm not sure. It just seems like this is a very hack'y way of doing it. If someone comes along and deletes this issue then all the images on the wiki are gone.

[2017-02-13 19:56] burks20 commented on #264
More screenshots attached.

For the Wiki page on Course-Related Materials:

- https://cloud.githubusercontent.com/assets/22056291/22900107/37b2ca52-f1fb-11e6-9f43-8cfd22c74fe3.png

- https://cloud.githubusercontent.com/assets/22056291/22900195/763c287c-f1fb-11e6-8896-3c06cb2660b4.png

[2017-02-13 20:01] burks20 commented on #264
I've made this issue less cluttered by removing the image previews.  I can go further and completely remove the text links to the image files, but it would make it much harder to track down the links.

[2017-02-13 20:34] SolidStateHero commented on #289
We may need to split this up into more manageable issues, but I think we can avoid that by documenting progress within this issue's comments.

[2017-02-13 21:15] burks20 commented on #264
Checkstyle Wiki page pictures:

- https://cloud.githubusercontent.com/assets/22056291/22903706/90569fe2-f207-11e6-9207-a9cb558d4534.png

- https://cloud.githubusercontent.com/assets/22056291/22903952/85bffa5a-f208-11e6-93d9-1f9e7999596d.png

- https://cloud.githubusercontent.com/assets/22056291/22904057/f470f6ca-f208-11e6-9895-515206128613.png

- https://cloud.githubusercontent.com/assets/22056291

[2017-02-13 22:00] laurenceforshaw commented on #284
Ok not working sorry.

[2017-02-13 22:28] ghost commented on #273
What about STOP and START. These may be useful as well in the future. For instance, if the server will need to come down for a certain period of time for whatever business issue. It could be a big release or it needs taken down to resolve issues so clients aren't using it with issues.

Also, another thought. I assume the UPDATE command is only going to pull from master but we may want to think abo

[2017-02-13 22:38] ghost commented on #273
Just realized you implemented Stop.

Another thing, should Update close the connection (act like Stop) or should we close the connection, pull then open the connection again (Start). Also, as far as implementation goes, we could call the other commands (Stop & Start) from the Update command rather than rewriting the same code.

[2017-02-13 23:27] #288 closed, assigned to nobody

[2017-02-14 00:30] burks20 commented on #264
@hbarri - Thanks for moving this to Milestone 4.  I misjudged the workload and cannot finish all of the objectives within the timeframe of Milestone 3.

[2017-02-14 01:55] ianbarney opened #292 "Clear method"
As far as I understand, we need to wipe the file images from the gui each time we enter a new directory. As of right now the old images remain and the new directory files show up below the old ones. This is an extension of #266 and the method should be implemented so that the gui can display new directories when they are entered like with #192. The method should be a clear method that removes all

[2017-02-14 01:58] mdgilene commented on #292
https://github.com/rsanchez-wsu/jfiles/blob/master/src/edu/wright/cs/jfiles/gui/client/ClientAppViewController.java#L105

The view already does this. this method is called at the very start of `loadDirectory`. Thus every time you need to load a new directory the view will first clear and then re-populate.

[2017-02-14 02:01] ianbarney commented on #292
well I must be doing something wrong because every time I call the loadDirectory method with the new directory the files are still there and it shows the new files under them.

[2017-02-14 02:02] mdgilene commented on #292
what branch are you working on?

[2017-02-14 02:02] ianbarney commented on #292
gui-dev

[2017-02-14 02:05] ianbarney commented on #292
okay u rite it's just not in that branch

[2017-02-14 02:05] ianbarney commented on #292
my b thanks for pointing that out.

[2017-02-14 02:05] mdgilene commented on #292
Seems like master was updated after you branched off of it. `clearView` was added with commit 4f1fa49d5de77f7d9d1fa1463177e562fae6f8c6. I would reccomend merging master into your branch i-order to update it.

[2017-02-14 02:07] #292 closed, assigned to nobody

[2017-02-14 03:34] elliottfries opened #293 "Add user login and creation to GUI"
The new GUI will need a place for users to login and create accounts. These features should be added to the client side GUI for use when the database gets up and running.

[2017-02-14 03:52] #293 closed, assigned to nobody

[2017-02-14 04:08] cerasaurus opened #294 "Implement Unit Tests for Core"
There are many classes in the Core and anyone on the team or another team who is interested in writing JUnit tests can add their name next to a class and write tests for it.  I started with the argument and arguments classes and have that code in Team10-dev (I think).  As discussed in class today, please do not change visibility in order to test.

Classes in Core:

- [x] Argument - @cerasaurus

-

[2017-02-14 04:10] rsanchez-wsu commented on #282
@LoganRickert Excellent work with this.

[2017-02-14 04:11] rsanchez-wsu commented on #270
@TremblingOdin That makes sense.  So it would work like the breadcrumb in a typical modern file browser.  Sounds good to me.

[2017-02-14 04:14] orangecraz opened #295 "Build issues in commands.java"
I have recently discovered an issue when attempting to build the project. when reading the compiler errors, it appears to originate in Commands.java. I don't know if anyone else is experiencing this issue, but I have been told that the code could be broken. This is important because I cannot work on issue #268 if I cannot build the project

The issue seems to originate in line 37-39, involving end

[2017-02-14 04:28] elliottfries opened #296 "Create a directory tree in the client GUI"
We should create a directory tree to the client side GUI so we can select a specific directory without just having to use the search function. The main goal is to get it created in the gui, we will tackle functionality at another time. Team 9 will tackle this issue.

[2017-02-14 04:45] ianbarney commented on #296
We want the tree to appear on the left side of the GUI maybe in a gridPane, that can expand when clicked. So each directory gets it's own row and then when clicked it expands the row or adds a row to the gridPane and puts a gridPane in that row for that directory. But mostly we want a visible tree in the GUI similar to what we have with the main directory display area. We will want to make a class

[2017-02-14 04:46] rsanchez-wsu commented on #291
@mdgilene This is critically important and will impact nearly every part of the project.  Please make sure to mention it to everyone in Slack so that someone from every team sees it and has the opportunity to comment on it.

[2017-02-14 04:48] rsanchez-wsu commented on #264
@burks20 @mdgilene Images can be placed into a directory on the master branch of the project and then referenced from the wiki.  The project code would never be deleted and as long as nobody makes a commit that removes the images, they should never become unavailable.

[2017-02-14 04:48] rsanchez-wsu commented on #264
@burks20 @mdgilene Link: https://help.github.com/articles/adding-images-to-wikis/

[2017-02-14 05:00] rsanchez-wsu commented on #293
The reason that this issue was closed is because this feature is not a good fit for the project at this time or in the foreseeable future.

[2017-02-14 05:02] rsanchez-wsu commented on #295
@orangecraz The proper thing to do when reporting a build failure to post the exact and complete error output.  Only the most trivial problems can be addressed without seeing the actual output of the failure.

[2017-02-14 05:05] mdgilene commented on #296
I believe there is some sort of built in tree view that javafx has but I haven't looked into that much. This might work better than a grid as it would reduce the amount of event handling and whatnot we have to deal with.

[2017-02-14 05:48] ianbarney commented on #296
Thanks for alerting me to this. I'll have to look into it, it would save a lot of effort, using a grid pane would be a mess.

[2017-02-14 06:21] ianbarney commented on #296
Just glancing at Scene Builder an accordion would be better than a grid if there is no tree view thing.

[2017-02-14 07:05] LoganRickert commented on #295
It is ultra unlikely the commands class is broken in any way. As @rsanchez-wsu said, please post the error output so we can take a lot and hopefully resolve this issue.

[2017-02-14 17:04] orangecraz commented on #295
I'm sorry for not outputting the error log. Here are the error messages I was referring to from running the build file.

    [mkdir] Created dir: C:\Users\Michael\git\jfiles\build\classes
    [javac] Compiling 41 source files to C:\Users\Michael\git\jfiles\build\classes
    [javac] C:\Users\Michael\git\jfiles\src\edu\wright\cs\jfiles\commands\Commands.java:37: error: ')' expected
    [javac] 	TOUC

[2017-02-14 17:47] LoganRickert commented on #295
What branch are you on?

[2017-02-14 17:47] LoganRickert commented on #295
Are you using Java 7?

[2017-02-14 17:51] LoganRickert commented on #295
I'm 99.9% sure the problem is that you are using Java 7 instead of Java 8. Run Java -version to confirm. Thanks!

[2017-02-14 19:15] rsanchez-wsu commented on #295
I am in agreement.  I would be shocked if it were not the case that this is a Java 7 environment.

[2017-02-14 21:24] orangecraz commented on #295
It tells me I'm using Java 8.

java version "1.8.0_121"

[2017-02-14 21:25] orangecraz commented on #295
I do think it's probably something on my end though.

[2017-02-14 22:40] LoganRickert commented on #295
Make sure eclipse is set up to use Java 8 as well.

[2017-02-14 23:37] orangecraz commented on #295
I'll check that tonight. That could be it.

[2017-02-15 03:40] orangecraz commented on #295
Java's using jre 1.8.0. I'm going to see if there might be a problem with my version of 1.8.0. It could also be a problem with JAVA_HOME. If all goes well, I should have a working build soon.

[2017-02-15 03:43] orangecraz commented on #295
JAVA_HOME was set to 1.7. I set it to 1.8, but it's still acting up.

[2017-02-15 04:11] rsanchez-wsu commented on #283
@Jdocnog I don't understand how this situation is possible.  I get that there might have been an issue with Eclipse, but running the build on the command line would have revealed that there were errors and then it would have been obvious that there were problems that needed to be addressed.  If the situation was particularly bad or tangled, the merge could have been aborted before pushing a broken

[2017-02-15 04:17] rsanchez-wsu commented on #289
@willeko999x you make a good suggestion.

[2017-02-15 20:07] orangecraz commented on #295
I have found my issue. JAVA_HOME is set to a jre, not a jdk. I'm going to fix that, and see if that fixes anything.

[2017-02-15 20:28] orangecraz commented on #295
I have successfully fixed the issue. I'm closing this issue now. Thank you for your help.

[2017-02-15 20:28] #295 closed, assigned to nobody

[2017-02-16 01:31] SolidStateHero commented on #268
See commit ef0c1bf

The css file for the BorderPane and Label has had several elements changed. It will serve as a good example on how to change future GUI elements, and makes the icons look a lot better.

[2017-02-16 01:31] #268 closed, assigned to nobody

[2017-02-17 18:44] jasonmarcum opened #297 "Write comments and documentation for Team 1 dev branch"
We've decided to comment the team1-dev branch now to save future work after the two branches are merged. We plan on making readable comments for future groups to better understand the code.

[2017-02-17 19:06] mdgilene commented on #291
If no one has any comments on this setup then I am going to proceed with implementing this.

One minor thing to add to the above is that whatever role is created first and inserted into the Roles table will be considered the default role. Most likely a 'NONE' role will be used.

[2017-02-17 22:47] laurenceforshaw commented on #279
https://github.com/rsanchez-wsu/jfiles/commit/ec1a8eb52c1bbdb0833c0fefb4bdce917906e1b9

[2017-02-17 22:47] #279 closed, assigned to laurenceforshaw

[2017-02-17 22:52] laurenceforshaw commented on #284
cce7f2fc41fa608900816b2a5234149ade9e3faf

[2017-02-17 22:52] #284 closed, assigned to nobody

[2017-02-17 23:01] mdgilene commented on #279
I don't think this issue is closed. There are a couple issues I see.

1. This isn't a JUnit test. This is just a class that starts up a socket and reads input/sends output. JUnit test classes follow very specific patterns.
2. It doesn't actually test any code related to the JFilesClient or JFilesServer, it's just testing the built in Java Sockets class
3. There are `suppresswarnings` all over the

[2017-02-17 23:09] laurenceforshaw commented on #279
Are you looking at the same thing I am? The class I made is [[https://github.com/rsanchez-wsu/jfiles/tests/edu/wright/cs/jfiles/junit/StepTest.java ]]

[2017-02-17 23:14] mdgilene commented on #279
Hmm seems as though I got mixed up, was looking at a couple different commits at the same time. The above stuff I mentioned though still applies to the files in this commit ec1a8eb52c1bbdb0833c0fefb4bdce917906e1b9.

[2017-02-18 03:13] cerasaurus commented on #291
I think this is clear, simple and effiecient.
I was going to ask what the difference was between role_id/user_id and id but I see you took it out of roles and users. Did you mean to take it out of the permissions as well?

[2017-02-18 04:01] mdgilene commented on #291
@cerasaurus Initially I gave each table a basic `id` column that was supposed to act as a simple table index and wasn't used for anything else but then I realized it was kind of redundant to have a table index id and an id for the actual role/permission. So I thought it would be better to just use the index in the table as the id of the role/permission. In regards to `role_id` and `user_id` these

[2017-02-20 01:25] mdgilene commented on #281
Once the current changes are merged into master this issue can be closed as the major operations defined above are now possible.

[2017-02-20 03:22] hbarri opened #298 "Fixing failed merge of team1 into team1-dev"
We had previously attempted to clean up the team1 branches by merging the team1 branch into the team1-dev branch in issue #271 (commit efcde2b). However, because we are all new to the merging process in eclipse/git, we accidentally merged the team1-dev branch into the team1 branch. This caused us to accidentally push broken code. This issue will be centered around fixing that failed merge by undoi

[2017-02-20 04:15] mdgilene commented on #298
If you can find the exact commit id for the bad merge `git revert [commit id]` should do the trick and revert the branch to the state before the merge. Not sure how this works though if there have been subsequent commits after the merge.

[2017-02-20 17:49] TremblingOdin commented on #270
New methods that will be added: `toPath()` returns the path of the object, `root()` empties out the object directory and returns it to the root folder (if there needs to be a quick clear like for a search function), `getHierarchy()` returns the directory it leads to and the directory it resides in to make the client gui tree navigation a bit easier.

[2017-02-20 18:00] TremblingOdin commented on #296
Created a method in `PathStack` to make it easier to return what directories other directories are in rather than parsing through individual strings

[2017-02-20 19:26] SolidStateHero opened #299 "Split Issue #289 into more manageable issues"
There has been little progress in the week Issue #289 Implement server-to-client file transfer. There are three sections that would make good issues for the next few milestones:

- Research FTP and alternatives, then determine an appropriate option for the project.
- Implement file transfer support server-side (the "send" command).
- Implement file transfer support client-side (for receiving files

[2017-02-20 20:08] markbrant621 commented on #213
All @depricated and @ unused warnings are currently fixed. the server ones were fixed by the team working on the server issues, the unused ones seem to be fixed beforehand, I fixed the client one. i am closing this issue since they are all fixed.

[2017-02-20 20:08] #213 closed, assigned to markbrant621

[2017-02-20 20:40] zackarm commented on #272
I am going to split this into multiple issues and close this sometime later today.

[2017-02-20 20:46] SolidStateHero commented on #230
I have completed some CSS styling. If anyone has any comments on whether or not this should be considered closed, please let me know.

[2017-02-20 22:38] cashjason opened #300 "Improving network connectivity between client and server"
Improve the connection between client and server allowing multiple clients to connect and disconnect to the server and keep a stable connection between the client and server.

[2017-02-20 23:37] zackarm opened #301 "Add Option to Close Server to Server GUI"
In the team 12 development branch we have implemented a server GUI but as of now it only contains the button to turn the server on. We want to add a feature that changes the "Run Server" button to a "Close Server"  button while the server is running. This issue can be considered completed when the server can be turned on and off from the button in the server GUI.

[2017-02-20 23:47] zackarm opened #302 "Add Secondary Window to Server GUI"
We want to add a secondary window to the Server GUI that will open when the "Run Server" button is selected. This window should display data about the clients connecting to the server (address, connection start time, connection end time, etc.). This window should also include a "Close Server" button that takes the program back to the initial setup window. This issue can be considered complete when

[2017-02-21 00:29] burks20 commented on #264
Eclipse Wiki page pictures:

- https://cloud.githubusercontent.com/assets/22056291/23145896/233be572-f7a0-11e6-9dc4-d39cc0d1a84c.PNG

- https://cloud.githubusercontent.com/assets/22056291/23146187/8d630bae-f7a2-11e6-8d33-03d1c9d10adb.png

[2017-02-21 01:16] orangecraz commented on #289
I found a few articles that we could use to help us get started with this issue. Included is a method for client-server, server-to-client, and two addons to help. Here are some links:
[html5 Doctor: Drag and Drop to automatically send to server](http://html5doctor.com/drag-and-drop-to-server/)
[Pushing Files to the Browser Using Delivery.js, Socket.IO and Node.js](http://liamkaufman.com/blog/2012/

[2017-02-21 01:28] orangecraz opened #303 "Make clear instructions for building and running the server and client programs"
After going through a great effort to get the files running, I realized that we seem to lack a clear tutorial on building and running the application. This is significant because being able to run the program is essential to being able to modify and test the application. As such, I plan to work on the wiki to give instructions on how to build the program using ant, and running both the server and

[2017-02-21 01:38] laurenceforshaw opened #304 "Make Juint tests autorun on ANT"
I believe there is a way to do this. I will attempt to create a wiki page about this then merge tests with the main so that critical function don't break again

[2017-02-21 02:10] mdgilene opened #305 "Integrate Database into Server"
Now that the majority of the database functionality is built we can begin to integrate it into the server and begin to use it to start creating and store users and permissions.

Currently the plan is to have a singleton class much like the server that will represent the database. It will contain ways to easily manipulate the database and perform checks such as "does this user have permission to ac

[2017-02-21 02:14] #272 closed, assigned to mdgilene

[2017-02-21 18:17] SolidStateHero opened #306 "Implement server-to-client file transfer - Research FTP and alternatives, then determine an appropriate option for the project"
This is a child issue of issue #289

During our progress on the parent issue, we came up with the following links:
[html5 Doctor: Drag and Drop to automatically send to server](http://html5doctor.com/drag-and-drop-to-server/)
[Pushing Files to the Browser Using Delivery.js, Socket.IO and Node.js](http://liamkaufman.com/blog/2012/02/11/12-pushing-files-to-the-browser-using-deliveryjs-socketio-and-n

[2017-02-21 18:20] SolidStateHero opened #307 "Implement server-to-client file transfer - Implement file transfer support server-side (the "send" command)."
This is a child issue of issue #289

Right now the server-side commands are somewhat bare. Adding the send command, which will send files from the server to the client, will begin to flesh out the commands.

[2017-02-21 18:24] SolidStateHero opened #308 "Implement server-to-client file transfer - Implement file transfer support client-side (for receiving files)."
This is a child issue of issue #289

After sending the files, the client must be changed so that it accepts the files. This may require more research in the future, and possibly needs to be split into other issues. The files must be accepted with user conformation and placed in a directory of the user's choosing, though these requirements are not necessary for this issue to be closed.

[2017-02-21 18:24] SolidStateHero commented on #299
See issue #289 for links to child issues.

[2017-02-21 18:24] #299 closed, assigned to nobody

[2017-02-22 00:06] #281 closed, assigned to nobody

[2017-02-22 02:54] mdgilene commented on #291
https://github.com/rsanchez-wsu/jfiles/wiki/Database

The structure of the database has been documented here.

[2017-02-22 02:54] #291 closed, assigned to mdgilene

[2017-02-22 20:59] orangecraz commented on #303
The Ant project building tutorial might need it's own page, but the java/eclipse tutorial could be done within the eclipse tips and tricks page, while the procedure for running the client could be specified in project architecture. I'll be trying to do it like this, in order to minimize the number of new pages needed.

[2017-02-22 22:01] ghost opened #309 "JFilesGui Information"
This issue is for continuing with the #244 Tutorial Issue but this will be focusing writing out what the Gui section of the project does or is supposed to do when it is fully functional. This will detail the Gui and what each part does and how it works. [Link_To_Guides](https://github.com/rsanchez-wsu/jfiles/wiki/team-10-Guides)

[2017-02-22 22:50] jtrenton commented on #304
@laurenceforshaw #252 is pretty much the identical to this issue. Maybe close this issue and assign yourself to that issue? And I've played around with modifying the build.xml to some extent, obviously to no avail. Let me know if you want to hear about my failures.

[2017-02-26 01:20] rsanchez-wsu commented on #216
@w262jxl Could you provide full links to the wiki pages where these are documented?

[2017-03-02 02:28] orangecraz commented on #303
I have found that a tutorial on running ant has already been made on the page on CLI ANT. Checking it off the list.

[2017-03-02 02:33] orangecraz commented on #303
Apparently, the procedure for running the project was listed under list demo. That needs a new name. It would seem that a tutorial on converting jfiles from git to java is all that's left.

[2017-03-02 02:48] orangecraz commented on #303
I have written a brief tutorial to enable the running of git projects in eclipse. This should conclude this issue.

[2017-03-02 02:48] #303 closed, assigned to orangecraz

[2017-03-05 20:10] lroberts108 commented on #290
I still do not think this will be as productive as I once thought. With branch 5 beginning to create a whole fileapi this does not line up with the current course of development. It is also very difficult to compare since team5 branch still has the old file structure. I will continue to dig through the code but not much longer.

[2017-03-06 20:37] SolidStateHero commented on #289
@dmaddalena If you are still planning to work on this, please add it to the next milestone and add a description of what you plan to do in the milestone description.

[2017-03-07 17:26] mdgilene commented on #248
This issue is almost complete. The only thing that still needs to be accomplished is the JavaDoc needs to be displayed in web format here on github pages.

[2017-03-08 20:01] orangecraz commented on #306
I have an article that lists a number of FTP alternatives. I'll look at them and try to determine the strengths and weaknesses of each. Here is the article:

[A Closer Look at FTP Alternatives](https://www.globalscape.com/solutions/ftp-alternatives)

Here are what the article lists as options:

- Managed File Transfer (MFT)

- Trivial File Transfer Protocol (TFTP)

- Simple File Transfer Protocol

[2017-03-08 21:38] #300 closed, assigned to nobody

[2017-03-09 18:24] Jdocnog commented on #298
Reverted the Merge of team1-dev and team1 (commit efcde2b).  This revert (commit f62c3ca) rolled team1 back to where it was before the broken code was pushed. This hopefully closes this issue #298.

[2017-03-13 00:17] lroberts108 opened #310 "gitignore file is contaminated with unresolved merge conflict code"
Just noticed the .gitignore file is contaminated with an unresolved merge confict

[2017-03-13 00:22] lroberts108 commented on #310
this has been resolved in commit 	9f7df9e

[2017-03-13 00:22] #310 closed, assigned to lroberts108

[2017-03-13 15:01] #298 closed, assigned to nobody

[2017-03-13 15:11] hbarri opened #311 "Re-merging team1 branch into team1-dev branch"
In previous milestones, our team had incorrectly merged the team1-dev branch into the team1 branch. This caused us to accidentally push broken code. In attempting to fix this error, we reverted the unsuccessful merge in issue #298, and we now plan on completing the merge, hopefully successfully, in this issue through re-merging the branches in the correct direction.

[2017-03-13 19:47] orangecraz commented on #306
Here are the results of my research:

Simple File Transfer Protocol is considered obsolete. It is less resource intensive than FTP, but TFTP uses even less resources.

Managed File Transfer is a high cost method intended for businesses. It will probably not be useful for use here.

Trivial File Transfer Protocol is much less resource intensive than FTP, but is less secure. The article I used to fi

[2017-03-13 20:50] dmaddalena commented on #306
Lot of great information here. My vote for protocol goes to either FTPS or TFTP. Since this project is primarily a learning experience I think that FTPS could be a very good opportunity to stretch out a bit, but I also appreciate the apparent ease of TFTP implementation. This is a small application so the lightweight nature of TFTP is appealing for that reason.

[2017-03-13 21:10] TremblingOdin opened #312 "Merge PathStack"
Merge Kayvan-Dev with GUI-dev so that the updated PathStack, https://github.com/rsanchez-wsu/jfiles/commit/946bcd67efe969752513b64168dbdb82773c80dd, is present for future GUI endeavors

[2017-03-13 21:13] TremblingOdin commented on #312
Resolved here https://github.com/rsanchez-wsu/jfiles/pull/313

[2017-03-13 21:13] #312 closed, assigned to nobody

[2017-03-13 21:18] w012bwh opened #314 "create server command mv"
Breaking up issue #257 into smaller issues. MV command is one left to implement.

[2017-03-13 21:20] w012bwh opened #315 "create server command touch"
Breaking up issue #257 into smaller issues. The Touch command is a command left to implement.

[2017-03-13 21:20] w012bwh opened #316 "Create server command CD"
Breaking up issue #257 into smaller issues. CD is a command left to implement.

[2017-03-13 22:34] markbrant621 commented on #260
I am closing this issue, as laurenceforshaw has created test classes that do test the server, and i have reviewed these classes and made comments throughout them.

[2017-03-13 22:34] #260 closed, assigned to laurenceforshaw

[2017-03-13 22:37] markbrant621 commented on #286
Closing this issue. Laurenceforshaw had implemented a findtest class that creates a file and tests the server to see if it is found, as well as testing a file that should not be found. Overall, issue certainly could have been created with much more information regarding its goal.

[2017-03-13 22:37] #286 closed, assigned to laurenceforshaw

[2017-03-13 22:44] AlexMcGillvary commented on #306
It seems like, due to the limitations of TFTP being more for local area networks and not the Internet, our decision should be between SFTP and FTPS. Both seem to be emphasize security. [This article](https://www.goanywhere.com/blog/2011/10/20/sftp-ftps-secure-ftp-transfers) seems to imply that SFTP is easier to implement; however, I have no experience implementing either so it's really just a coin

[2017-03-13 22:48] markbrant621 commented on #309
I like the second part what it is suppose to do. I would suggest ideas for future implementation as the GUI is fairly simple right now.

[2017-03-13 22:50] zackarm commented on #301
I am closing this issue and issue #302  because we have decided to take a different approach for the Server GUI I will be creating new issues pertaining to the new design.

[2017-03-13 22:51] zackarm commented on #302
I am closing this issue and issue #301 because we have decided to take a different approach for the Server GUI I will be creating new issues pertaining to the new design.

[2017-03-13 22:52] #301 closed, assigned to nobody

[2017-03-13 22:52] #302 closed, assigned to nobody

[2017-03-13 23:10] markbrant621 commented on #290
I will be closing this issue as our mentioned in our slack channel. I believe the overall problem was the files could not be integrated correctly and do not meet our overall goal with JUnit testing.

[2017-03-13 23:10] #290 closed, assigned to lroberts108

[2017-03-13 23:38] zackarm opened #317 "Organize server logging information output in Server GUI"
In its current stat the server GUI is outputting logging information as it does in the console window. We would like to organize the information more uniformly for output on the log tab in the server GUI. The logging information should include at a minimum what clients are connecting, what time they connect, and what time they disconnect. We could also add the  total amount of time each user is co

[2017-03-14 00:52] ianbarney opened #318 "Directory tree Java bean"
@elliottfries  and @TremblingOdin believe to complete issue #296 we need to make a java bean class for the Directory Tree that stores the information we need in the directory tree. It should contain the path, stackPath, and image view needed to put it in the gui. This issue is complete when the class is created and contains all the necessary data.

[2017-03-14 00:55] ianbarney opened #319 "Populate Directory Tree"
@elliottfries, @TremblingOdin, and I think that for issue #296 we need to make a method that will populate the directory tree. This method should go within the clientAppController class and should be called as the gui is opened. This issue is complete when the method exists and can populate the directory tree.

[2017-03-14 00:58] zackarm opened #320 "Implement a Local Cache for Client"
In order to increase the speed of accessing files for the client we should add a local cache that stores file metadata after it is accessed from the server. If this is implemented it will reduce the time it takes to access files that have already been accessed by a user. This cache should be cleared once the client disconnects from the server. This issue can be closed when the client has a functio

[2017-03-14 00:59] ianbarney opened #321 "Directory Tree Event Handling"
@TremblingOdin, @elliottfries and I believe in addition to issue #319 that the tree needs event handling so that when a part of the tree is clicked it expands appropriately with the right path so that it shows the new directory that is also being displayed.

[2017-03-14 01:11] zackarm opened #322 "Finish add new user feature on server GUI"
Currently the server GUI has a pop up window that requests information to add a new user to the database, in its current state the information is not actually added to the database. We would like to implement the functionality of this pop up window to add new users to the system. This issue can be closed when the pop up window takes user information and adds the user to the database.

[2017-03-14 01:23] zackarm opened #323 "Add a way to turn the server on or off to the server GUI"
The server GUI in its current state has no way to turn the server off when the GUI is running, the server automatically starts running once the GUI is launched. We would like to add a button that allows the user to turn the server off and on from the GUI. This issue can be closed when the server GUI has a functioning button that allows you to turn the server on or off at any time from the server G

[2017-03-14 01:37] zackarm opened #324 "Add sorting feature to server GUI logging infromation"
Progress on this issue cannot be made until issue #317 is completed. For this issue we would like to add the ability sort the server logging data by user address, username, connection time, disconnection time, or total connection time. I don't think that this is something that is crucial to the overall functionality of the program, but I do think that sorting is something you should be able to do

[2017-03-14 01:40] zackarm opened #325 "Add option to configure server parameters to server GUI"
We would like to add text fields to the server GUI to allow the user to configure the server to whatever specifications are desired. This should include a field to allow the user to input things like the port number to be used, the maximum number of clients that can connect at one time, and the root directory for the server to start in. This issue can be closed when the server can be configured by

[2017-03-14 02:06] ghost opened #326 "Create admin command SEND"
Purpose:
To send a file to a user

The command RECV will be used afterward to receive the sent file.

[2017-03-14 02:07] ghost opened #327 "Create admin command RECV"
Purpose:
Used to receive a sent file.

The user must have files sent to them in order to use this command or else an error should be thrown.

[2017-03-14 02:08] cspencer44 commented on #327
Purpose:
To be used on a file to display the file's contents.

[2017-03-14 02:12] ghost commented on #327
Should this also be tracking the user's associated with the files? I.E: Sender & Receiver?

[2017-03-14 02:13] ghost commented on #326
Should this also be tracking the user's associated with the files? I.E: Sender & Receiver?

[2017-03-14 02:23] LoganRickert opened #328 "HELP command"
A HELP command needs to be implemented.

#### Help

Returns information and arguments for a command

Format:

`HELP [command]`

Example:

`HELP FIND`

Returns:

An `INFO` command message. This message will return the String given by `String help()`.

If no command is given, return a list of commands.

To complete this command, the following needs to be done.

- [x] Command implements default `Stri

[2017-03-14 03:23] #328 closed, assigned to nobody

[2017-03-14 04:00] LoganRickert opened #329 "Client Properties Class"
A client properties class should be created to create an interface in between the commands and the database. So for instance, the command can do:

[code]

[code]

This will allow the commands to not have to worry about how to get information from the database.

To complete this:

- [x] Create the ClientProperties class.

- [x] Give each JFilesServerClient their own instance of ClientProperties

-

[2017-03-14 05:34] LoganRickert commented on #329
Forgot to refer commits til like the 2nd to last commit so ah untagged commits are as followed:

commit 9a824ddfe93dc80224d9d02c8e2c0deddb80c557

commit f70deb74c581a398951a8e8d308cd4c566b7580d

commit f27b86c626c46947a68e19f95ad960f7512eab4a

commit 0f97dcac525da7bb11e294b7427bea521a7d282d

commit be468a596d853def4a43df974706c74e5188cd99

commit e83b09dcaa45c3168688678911fff71db5bb884e

commit c2

[2017-03-14 05:34] #329 closed, assigned to nobody

[2017-03-14 05:38] LoganRickert opened #330 "Have Commands Use ClientProperties"
Commands need to be set up to use the new ClientProperties. This means they now check for permissions.

The following commands need to use them:

- [x] ls

- [x] Mkdir

- [x] Mv

- [x] Find

- [x] Cd

- [x] Pwd

- [x] Rm

- [x] Rmdir

- [x] Touch

[2017-03-14 06:02] LoganRickert commented on #274
Closed in favor of using a database instead.

[2017-03-14 06:02] #274 closed, assigned to nobody

[2017-03-14 06:33] LoganRickert commented on #330
Commits that left out #330

commit cc36bcdbbe02cfed8ab31e0543eb292710c1cb91

commit ef5a0b0708073f2f6c422b84854258ab22e5ce89

[2017-03-14 06:33] #316 closed, assigned to nobody

[2017-03-14 07:30] #315 closed, assigned to nobody

[2017-03-14 07:30] #314 closed, assigned to nobody

[2017-03-14 07:31] #257 closed, assigned to nobody

[2017-03-14 07:31] #330 closed, assigned to nobody

[2017-03-15 01:13] laurenceforshaw opened #331 "Document and/or repair permissions."
Currently attempting some commands gives a no permission error in master. Permissions are not documented in the primary wiki. How to use to get authorization needs to be documented and/or fixed if it is working wrong.

[2017-03-15 01:14] LoganRickert commented on #331
Logan Rickert [8:27 PM]
Permissions for the server are now operational. If you are getting permission denied for right now, just run the command `login "Bill Gates" windows_vista`

[2017-03-15 22:01] ElderReebs commented on #264
![pasted image at 2017_03_15 05_01 pm](https://cloud.githubusercontent.com/assets/25023452/23972689/1fe700f8-09a9-11e7-8960-9903342dd20d.png) Using for branch wiki page

[2017-03-16 14:25] rsanchez-wsu commented on #306
@dmaddalena @AlexMcGillvary We are not likely to be able to implement FTPS.  Personally, at this stage in the project I am not convinced that the file transfer needs to be encrypted, but if you want to continue to tackle it, please go ahead.  The reason for staying away from FTPS is that it has numerous problems similar to those associated with active FTP.  Any firewall in the mix really creates a

[2017-03-16 15:51] LoganRickert commented on #306
I still think IOUtils will be the best solution for this project.

http://stackoverflow.com/questions/13555668/java-send-file-using-sockets/13555702#13555702

Here is an example outlining how to do it over a socket for both input and output using the stream objects were using:

http://stackoverflow.com/a/18055372

[2017-03-16 16:46] LoganRickert opened #332 "Travis Fails ClientProp Branch"
Travis is reporting that the branch `clientprop` has a findbug and is failing. When I try running `ant all` and `ant clean all`, the branch builds successfully with no issues. I looked for a way to see if I could view the findbugs report on Travis but I did not see one.

This issue will be closed once the findbug issue has been fixed.

[2017-03-16 16:57] LoganRickert commented on #332
Fixed with commit 379a97a113a63eb97df50e98095f33150cd3c07d

For some reason, eclipse's findbug and ant all's findbug did not report that a variable was unused but it did on Travis.

Refer to: https://github.com/rsanchez-wsu/jfiles/compare/ef2c676e2dfc...0dacd50a6a73#diff-9d5c423ed8d4b7b2ee295cada5b4d392R666

[2017-03-16 16:58] #332 closed, assigned to nobody

[2017-03-16 17:36] LoganRickert commented on #331
This 'issue' has been resolved code wise. It now logs the user in as the 'tmp' user, defaults to the tmp directory and gives them full read/write access.

The wiki documentation still needs to be added.

[2017-03-17 01:10] LoganRickert commented on #229
This issue is no longer relevant.

[2017-03-17 01:10] #229 closed, assigned to nobody

[2017-03-17 01:11] LoganRickert commented on #231
I think at this point the structure is pretty concrete. I am closing the issue.

[2017-03-17 01:11] #231 closed, assigned to nobody

[2017-03-17 02:26] LoganRickert opened #333 "Account Commands"
Commands to create and manage accounts need to be created.

#### Adduser

Registers a new account.

Format:

`ADDUSER <username> [password]`

Example:

`REIGSTER test test`

#### Userdel

Deletes a user account.

Format:

`USERDEL <username>`

Example:

`USERDEL test`

#### Logout

Logs the user out.

Format:

`LOGOUT`

#### Groupadd

Creates a new group.

Format:

`GROUPADD <group>`

Flags:

- `p

[2017-03-17 02:34] LoganRickert opened #334 "Scripting Commands"
It would be helpful to be able to run scripted commands.

#### Script

Reads in the contents of a file and runs each command in the script as if it was sent by the user. Each line is a new command.

Format:

`SCRIPT scriptname`

Flags:
- `local` - opens the file locally.

Example:

`SCRIPT create100accounts.jf`

Returns the output of the script.

An example script:

[code]

Another command that wo

[2017-03-19 17:05] lroberts108 opened #335 "Test files should be added to gitignore"
When junit is run it creates two test results folders. These do not need to be added to the repo, and are only useful per environment, therefor should be added to the .gitignore file.

[2017-03-19 17:08] lroberts108 commented on #335
This has been resolved with commit  c2ec6e9

[2017-03-19 17:08] #335 closed, assigned to lroberts108

[2017-03-20 18:43] burks20 commented on #264
Pictures used on the DTP Wiki page:
-  https://cloud.githubusercontent.com/assets/22056291/24115041/7fdefdc6-0d78-11e7-88d5-86f266694b42.png
-  https://cloud.githubusercontent.com/assets/22056291/24115360/7c84c7b8-0d79-11e7-8b5e-63505aa915d2.png
-  https://cloud.githubusercontent.com/assets/22056291/24115642/665314d0-0d7a-11e7-9038-7ce886612382.png
-  https://cloud.githubusercontent.com/assets/220

[2017-03-20 19:09] burks20 commented on #264
Pictures used on the DTP Wiki page:
-  https://cloud.githubusercontent.com/assets/22056291/24116139/17259a34-0d7c-11e7-83fe-66b88da3f48e.png
-  https://cloud.githubusercontent.com/assets/22056291/24116979/d3b0b4c0-0d7e-11e7-82d2-ae3e7242bdf9.png
-  https://cloud.githubusercontent.com/assets/22056291/24117014/ec98bd34-0d7e-11e7-82cb-d20460bc4e50.png
-  https://cloud.githubusercontent.com/assets/220

[2017-03-20 19:14] orangecraz commented on #306
SFTP already has a standard java library. It's called Jsch. Here's some sample code to show some common implementations:

https://atechblogagain.wordpress.com/2013/06/04/simple-sftp-example-in-java-with-jsch/

http://stackoverflow.com/questions/14617/how-to-retrieve-a-file-from-a-server-via-sftp

IOUtils is featured in Apache Commons. It does seem to be simpler than SFTP, but I can't seem to find

[2017-03-20 19:47] burks20 commented on #264
-  https://cloud.githubusercontent.com/assets/22056291/24117188/9a1776a8-0d7f-11e7-8cad-0b9ef4160c7a.png
- https://cloud.githubusercontent.com/assets/22056291/24117664/7fc50f3e-0d81-11e7-9f9e-df28fdc80b42.png
-  https://cloud.githubusercontent.com/assets/22056291/24117613/471065e4-0d81-11e7-809a-31c33fb6de74.png
-  https://cloud.githubusercontent.com/assets/22056291/24117902/4b358d7e-0d82-11e7-8da

[2017-03-20 20:08] SolidStateHero commented on #306
So right now we're between IOUtils and SFTP, correct? I like the idea of just using a standard library, but I think IOUtils can be done.

Here's a quick link I nabbed on IOUtils:
https://examples.javacodegeeks.com/core-java/apache/commons/io-commons/ioutils/org-apache-commons-io-ioutils-example-3/

[2017-03-20 20:19] burks20 commented on #264
The Git Wiki page was started last week but only contained installation, configuration, and basic commands.  The Git Wiki page was missing the topics of branching and merging, but I had failed to notice that another section of the Wiki addressed these topics (Development Workflow), with contributions from @lroberts108, @mdgilene, @ElderReebs,  and @LoganRickert .  The Git Wiki page now has pointer

[2017-03-20 20:19] #264 closed, assigned to burks20

[2017-03-20 20:32] mdgilene commented on #322
This issue is resolved as off commit 22868454c340ee46a9a10c43c444ec5bc292fe38

[2017-03-20 20:32] #322 closed, assigned to nobody

[2017-03-20 20:48] #326 closed, assigned to nobody

[2017-03-20 20:48] #327 closed, assigned to nobody

[2017-03-20 20:50] cerasaurus commented on #277
@laurenceforshaw would you want to add your info for adding tests to autorun in Ant to the JUnit wiki page and then we can probably close this issue.

[2017-03-20 21:15] zackarm opened #336 "Update Server GUI wiki page"
Since we have made some progress at least to the structure of the server GUI we need to start updating the wiki page to reflect the current state of the GUI. Now that there is at least a structure in place we can at a minimum add images of what the GUI looks like even if the fields are not functional. This issue can be closed when the server GUI wiki page provides documentation for the current ser

[2017-03-20 21:21] zackarm opened #337 "Move ClientSideGUI to gui category"
As of right now the ClientSideGUI documentation is in the client category. Since there is a gui specific category I think that the ClientSideGUI documentation should be moved to the gui category. This issue can be closed when the ClientSideGUI has been moved to the gui category on the wiki.

[2017-03-20 21:25] zackarm opened #338 "Update ClientSideGUI wiki"
Currently the description of the ClientSideGUI looks nothing like what has been implemented and is just contains place holder information. Since a significant amount of work has been done on the Client GUI I think that enough structure is in place to be able to sufficiently document the Client GUI. This issue can be closed when the ClientSideGUI wikik page has been updated to reflect the current s

[2017-03-20 21:35] zackarm opened #339 "Documentation needed for JFilesClient and JFilesClientThread"
At this time there is no documentation for the JFilesClient or the JFilesClientThread. Since these two classes for the most part have everything they need, I think that we can start documenting their features. The server client and server thread documentation have already been written, for readability the JFilesClient and JFilesClientThread classes should use the same format. This issue can be clo

[2017-03-20 22:31] markbrant621 commented on #287
This issue will be closed for now as this feature is not necessarily needed for this test class. Another issue will be created if we wish to revisit the need for fixing this test class in order to find folders as well.

[2017-03-20 22:31] #287 closed, assigned to laurenceforshaw

[2017-03-20 22:35] markbrant621 commented on #304
I will be closing this issue as jtrenton has created the issue as well. I do believe laurenceforshaw has done what he can on his machine to get it to autorun, and with some success.

[2017-03-20 22:35] #304 closed, assigned to laurenceforshaw

[2017-03-20 22:39] markbrant621 commented on #331
I will be closing this issue as it has been resolved by LoganRickert.

[2017-03-20 22:39] #331 closed, assigned to laurenceforshaw

[2017-03-20 23:48] #323 closed, assigned to nobody

[2017-03-21 01:05] #297 closed, assigned to nobody

[2017-03-21 01:22] orangecraz commented on #306
I found where you can download apache commons, if anyone wants to give it a shot. Here is the link:

[Apache Commons Download](http://commons.apache.org/downloads/index.html)

As far as I can tell, it does not come with apache ant, so it needs to be installed.

Thanks for the suggestion, Will.

[2017-03-21 01:36] hbarri opened #340 "Stabilizing the team1 branch (part 1)"
In this issue, we plan on continuing our merge process of team1 and team1-dev. We plan to create two new branches from commits 22169e1 and a987e87 and then merge those two branches together to hopefully be able to merge that commit with commit f62c3ca later on.

[2017-03-21 01:57] hbarri opened #341 "Stabilizing the team1 branch (part 2)"
After creating and merging the two new branches from commits 22169e1 and a987e87 in issue #340, we now plan to merge this new commit of the merged branches (7b972d3) with commit f62c3ca to officially stabilize the team1 branch in this issue.

[2017-03-21 02:01] DavidSiemens opened #342 "Create Icon for Tree"
need to create icons that can be used in the tree and that will be displayed next to the text. Also, need to add code that adds these icons created to the tree using the getImage method. This issue is complete when the tree has icons displayed.

[2017-03-21 02:01] #311 closed, assigned to nobody

[2017-03-21 02:13] elliottfries commented on #318
This issue is being closed because a bean that is useful for issue #296 has already been implemented in the project.

[2017-03-21 02:13] #318 closed, assigned to nobody

[2017-03-21 02:50] elliottfries opened #343 "Create an Observable List for the Directory Tree"
Currently, temporary Strings have been added to the tree, but they are not being displayed. An observable list needs to be added to view the contents of the tree. This issue will be considered complete when the elements of the tree are displayed in the GUI

[2017-03-21 03:09] stephiefloyd opened #344 "Create Observable List"
We plan on implementing an observable list so that the tree can be visible in the GUI. We will be implementing this in the loadTree method right now.

[2017-03-21 03:50] AlexMcGillvary commented on #306
Are we committing to a decision then for the next milestone? It seems IOUtils appears easier to implement; however, SFTP has a standard Java library. Personally I agree with @willeko999x that using a standard library might be the simpler and more consistent option, but as with our original dilemma (FTPS vs SFTP) I yield to the group leader's decision.

[2017-03-21 11:42] #344 closed, assigned to nobody

[2017-03-21 16:52] LoganRickert commented on #306
Apache Commons is already a depency for the project.

[2017-03-21 21:36] jasonmarcum opened #345 "Fix issues with errors, findbugs, and checkstyle for the new merged branch"
Since we now successfully merged the branches in commit 482741d, we plan to go in and fix any errors that occur and issues in the code with findbugs and checkstyle.

[2017-03-21 21:52] mdgilene commented on #317
After thinking about this issue a bit and thinking of how this would be implemented I think that modifying the order/sorting of the server output isn't necessarily the best way to go. Doing so would break chronological order of the output and thus make it difficult to see what happened and when. This would also require a pretty large overhaul to how the server logs information. Currently the serve

[2017-03-21 22:05] zackarm commented on #317
That was my intention for this issue I have a separate issue about sorting the information which would only be used when the server is finished running. My idea was to have the server information come in as is while the server is running but when the server stops the information is put into an output file of some sort ( maybe a table) so that it can be sorted in whatever way the user needs to find

[2017-03-22 19:11] orangecraz commented on #306
If we already have Apache Commons, then I see no reason not to use IOUtils.

[2017-03-22 21:00] cashjason opened #346 "Create delete user button in the server gui"

[2017-03-23 03:01] laurenceforshaw opened #347 "Add databases data to tutorial section."
That current state of the database functionality has not yet been documented under tutorials. This should be done.

[2017-03-26 19:19] ghost commented on #277
Would there be any special test classes that we can all test in-addition to what has already been done?

[2017-03-27 05:28] hbarri commented on #340
Jason (@jasonmarcum) and I were able to create the two new branches from commits 22169e1 and a987e87 (which we called team1-dev2 and team1-dev3) and start the merging process. However, because the team1 and team1-dev branches have diverged so significantly, we were only able to manually complete the merge of the client side but have not gotten to the server class. We plan to finish this up in the

[2017-03-27 17:42] SolidStateHero commented on #306
Since the verdict seems to be IOUtils, I will close this issue and update Issue #307

[2017-03-27 17:42] #306 closed, assigned to nobody

[2017-03-27 17:43] SolidStateHero commented on #307
We will be using IOUtils for this issue.

[2017-03-27 18:11] #337 closed, assigned to nobody

[2017-03-27 18:27] zackarm opened #348 "Remove @SupressWarnings from JFilesClient stop() method"
In its current state the stop method in the JFilesClient class has a suppressed warning for deprecation. In order to fix this the deprecated method needs to be eliminated so that the @SupressWarnings can be removed from the method. This issue can be closed when there is no longer a suppressed warning and the deprecated method is removed.

[2017-03-27 18:30] zackarm commented on #339
The documentation for the JFilesClient is done but the JFilesClientThread documentation is still in progress.

[2017-03-27 19:46] #346 closed, assigned to nobody

[2017-03-27 20:32] burks20 commented on #175
All requested command icons were created and added to the specified directory of gui/img.  Icons are 32x32 pixels, B&W monocrhome, with transparent background.  Additional command icons were also provided:

•	Copy
•	Cut
•	Delete
•	Download
•	Edit
•	Menu
•	Left arrow
•	Right arrow
•	Open
•	Paste
•	Refresh
•	Save
•	Search
•	Settings
•	Upload
•	Warning

Icons were taken from free vector files under C

[2017-03-27 20:32] #175 closed, assigned to burks20

[2017-03-27 20:48] LoganRickert opened #349 "Account Command Skeletons"
I am creating this sub-issue to help better break down #333.

We should start off by making some simple Command skeletons for the following commands:

- [x] Adduser

- [x] Deluser

- [x] Logout

- [x] Groupadd

- [x] User

- [x] Users

[2017-03-27 20:50] LoganRickert opened #350 "Script Commands Skeletons"
I am creating this sub-issue to help better break down #349.

We should start off by making some simple Command skeletons for the following commands:

- [ ] Script

- [x] Write

- [x] LWrite

[2017-03-27 21:05] #339 closed, assigned to nobody

[2017-03-27 22:22] markbrant621 opened #351 "xml handler test class"
I will be working on a test class that will test the functions of the xml handler. The goal is to validate a xml document aginst a DTD or a schema. This will help to compare the generated result with the expected output.

[2017-03-27 22:32] zackarm opened #352 "Fix ClientApp on Team12 branch"
As of right now when you try to run the ClientApp on the Team12 branch it throws an error and does not connect the client to the server or open up the client application. We are not entirely sure what the source of this error is yet, @mdgilene suggested that it may be because we created the login window for the server app and the client needs to be updated in order to login to the server since aut

[2017-03-27 23:18] Jdocnog commented on #345
I fixed some Checkstyle and Findbugs errors for this milestone I think because it has to be done beforehand for us to be able to push working code.  This was done on commit 6d16706.  It fixed all the Logger errors within most of the code for Team1-dev so that we can fix those findbug errors.

[2017-03-28 02:45] #343 closed, assigned to nobody

[2017-03-28 02:46] #342 closed, assigned to nobody

[2017-03-28 02:47] DavidSiemens commented on #343
Team-9 decided that this issue doesn't need implemented.

[2017-03-28 03:31] ghost commented on #309
So far I have been able to make good progress in working to describe what the JFilesGui Client part can do. I haven't finished and I still have a ways to go but I have been making progress with writing about how the Gui works and what its supposed to do.

[2017-04-01 01:55] laurenceforshaw opened #353 "Make the login properly change permissions."
Make logging in correctly change what permissions a user has.

[2017-04-01 19:44] LoganRickert commented on #353
This should already happen.

[2017-04-01 22:21] laurenceforshaw commented on #353
It does not change the cache permission type. However looking at it the cachepermissiontype looks like dead code. Maybe just remove that variable?

[2017-04-03 18:05] SolidStateHero opened #354 "Team 11 - Cleanup Issues"
The intended outcome of this issue is to make sure that our issues are properly documented (as in, clearly defined, and updated with any and all progress), referenced properly (in the case of split-issues), and closed if necessary. We also need to make sure that said issues are ready to be picked up by the next class.

[2017-04-03 18:10] SolidStateHero opened #355 "Team 11 - Finish wiki page"
Our wiki page has not been updated since we wrote it, so our goal with this issue is to update the wiki page and make sure that all the information located on it is consistent and correct. This will assist the next class in identifying our goals that have been finished or have yet to be finished. We should also make sure all of our contact information is available, so that we can be contacted if n

[2017-04-03 19:02] mdgilene opened #356 "Finish up current work on Team12 branches the merge with Master"
It has been a while since we have merged our work with master. Because of this we should finish up what were working on now so that we can do so. This will involve first making sure everything is still working and making sure the dev branches pass the travis build process.

- [x] Merge team12-dev into team12
- [x] Merge master into team12
- [x] Resolve conflicts and make sure everything still work

[2017-04-03 20:07] orangecraz commented on #308
I'll see about some possible implementations for this tonight. No promises, but I'm confident that I can find something.

[2017-04-03 20:15] mdgilene commented on #356
5c74934ef58365631c738cd253a63970ee751505

[2017-04-03 20:15] #356 closed, assigned to nobody

[2017-04-03 21:18] w012bwh opened #357 "Adduser Skeleton"
This issues is to break down #349

[2017-04-03 21:19] w012bwh opened #358 "Deluser command"
This issues is to breakdown #349

[2017-04-03 21:20] w012bwh opened #359 "Logout Skeleton"
This issue is to breakdown #349

[2017-04-03 21:20] w012bwh opened #360 "Groupadd skeleton"
This issue is to breakdown #349

[2017-04-03 21:21] w012bwh opened #361 "User skeleton"
This issue is to breakdown #349

[2017-04-03 21:21] w012bwh opened #362 "Users skeleton"
This issue is to breakdown issue #349

[2017-04-03 21:22] w012bwh opened #363 "Script skeleton"
This issue is to breakdown #350

[2017-04-03 21:22] w012bwh opened #364 "Write skeleton"
This issue is to breakdown #350

[2017-04-03 21:22] w012bwh opened #365 "LWrite skeleton"
This issue is to breakdown #350

[2017-04-03 21:23] #357 closed, assigned to nobody

[2017-04-03 21:23] #358 closed, assigned to nobody

[2017-04-03 21:23] #359 closed, assigned to nobody

[2017-04-03 21:23] #361 closed, assigned to nobody

[2017-04-03 21:23] #362 closed, assigned to nobody

[2017-04-03 22:27] markbrant621 commented on #351
I have been able to create some test cases for this, and I continue to work more on this throughout the week

[2017-04-03 23:20] elliottfries opened #366 "Error handling in the loadTree method"
We need to implement a way to handle any errors that may arise when the directories are printed to the tree. The issue will be considered complete once a way to catch errors is implemented

[2017-04-03 23:32] #319 closed, assigned to nobody

[2017-04-03 23:33] elliottfries commented on #319
The tree has been populated so this issue has been closed.

[2017-04-04 00:42] hbarri commented on #340
Jason (@jasonmarcum) and I completed this merge of the two new branches from commits 22169e1 and a987e87 (which we called team1-dev2 and team1-dev3) in commit 7b972d3. We now plan to merge that commit with commit f62c3ca in issue #341.

[2017-04-04 00:46] #340 closed, assigned to nobody

[2017-04-04 01:19] orangecraz commented on #308
I found a couple of examples of read/write functions for Java. Here they are:

http://stackoverflow.com/questions/18054154/how-to-transfer-file-using-ioutils-copy-through-java-sockets

http://stackoverflow.com/questions/8153224/client-server-file-transfer-in-java

http://stackoverflow.com/questions/5113914/large-file-transfer-with-sockets

I've also found a page detailing some features of IOUtils,

[2017-04-04 03:37] burks20 commented on #92
New branch created.  I believe I have successfully implemented a command to use the ProcessBuilder library.  However, I did not want to merge it into Master yet, as it is just hard-coded to open MSPaint without accepting user input or implementing a hook into any other portion of jFiles to open a requested external application.  The feature can be added later, but the command has been implemented

[2017-04-04 03:49] burks20 commented on #92
Branch is  team8-dev-issue92

[2017-04-04 15:40] ghost commented on #309
I am continuing my work on the issue and hope to have it completed as soon as possible.

[2017-04-04 21:57] #365 closed, assigned to cklw5858

[2017-04-04 22:16] cklw5858 commented on #364
The write skeleton was completed by India (according to commit in commands branch). Closing this issue.

[2017-04-04 22:16] #364 closed, assigned to nobody

[2017-04-04 22:20] cklw5858 commented on #360
This was completed by Chase (according to commands branch commits). Closing issue.

[2017-04-04 22:20] #360 closed, assigned to nobody

[2017-04-04 22:22] cklw5858 commented on #349
Groupadd was completed by chase. Closing issue.

[2017-04-04 22:22] #349 closed, assigned to cklw5858

[2017-04-04 22:29] cklw5858 commented on #350
I've checked off that Write and LWrite have been completed. All that is left to do for  this issue is create a skeleton command class for Script.

[2017-04-05 21:19] laurenceforshaw opened #367 "Add AddUser Command"
Add a command  to add users, as well as permissions for them. Also add appropriate security stuff.

[2017-04-06 04:02] laurenceforshaw opened #368 "Return values for unknown SQL exceptions."
Make sure each database controller function returns an appropriate value that will indicate an error if there is an unknown sql exception.

[2017-04-06 04:04] #368 closed, assigned to laurenceforshaw

[2017-04-07 19:18] #278 closed, assigned to nobody

[2017-04-09 19:30] TremblingOdin opened #369 "TreeCell implimentation"
For issue #321 we cannot treat `TreeItem<>` as a node and need to use `TreeCell<>` in order to have event handling. In `ClientAppViewController` we need to modify `loadTree()` to use `TreeCell<>` along with items so that it will call `loadTree()` on the directory that is clicked.

[2017-04-10 01:09] SolidStateHero commented on #268
Just to reiterate for future classes, the goal of this was to change the UI through basic CSS rules such that others could look at the CSS and understand the unique syntax for FXML

[2017-04-10 01:10] SolidStateHero commented on #354
I've added comments to a few issues and made sure everything was cleared up. I am closing this issue now.

[2017-04-10 01:10] #354 closed, assigned to nobody

[2017-04-10 14:30] hbarri commented on #340
Further cleaned up the branch in commit 30538e3 by fixing some errors we found because of the merge with Jason (@jasonmarcum).

[2017-04-10 20:16] hbarri commented on #341
merged commit f62c3ca with commit 30538e3 instead of 7b972d3 because we made minor changes in commit 30538e3, pushing commit 482741d and closing this issue.

[2017-04-10 20:16] #341 closed, assigned to nobody

[2017-04-10 20:22] hbarri opened #370 "Clean Up Old Branches"
Since completing the merge of the team1 branches, we now have a couple of unnecessary branches sitting around that we created purely for the merge. So for this issue, we plan to go through them all and decide which ones to delete and which to keep/edit.

[2017-04-10 21:05] zackarm opened #371 "Merge team12 development branch into master and delete development branch"
We need to clean up our development branch so that it can be merged with master and delete the branch because the semester is coming to an end. As of now there are a few errors that need to be fixed and most likely some checkstyle violations. This issue can be closed when the team12dev and team12 branches have been successfully merged into master and deleted.

[2017-04-10 21:11] zackarm opened #372 "Properly comment team12 branches before merging"
We need to ensure that the team12 and team12dev branches are properly commented where our team has added new code before it is merged into the master branch. The comments need to be descriptive enough so that the team that picks this project up next semester has an easy time understanding what our code does. This issue can be closed when the team12 and team12dev branch have sufficient comments on

[2017-04-10 21:14] zackarm opened #373 "Document new code in team12 branches on wiki page"
We need to make sure that the code we have created in the team12 and team12dev branches are properly documented on the wiki page. This should only be done after these branches have successfully been merged into master, as they may have to change if they are not yet merged. This issue can be closed when the documentation for new code in the team12 and team12dev branches has been created on the wiki

[2017-04-10 22:15] markbrant621 commented on #347
this issue is closed as info has been added on our tutorial guide section

[2017-04-10 22:15] #347 closed, assigned to laurenceforshaw

[2017-04-10 22:54] ianbarney opened #374 "TreeItem Class"
This class will  contain a String variable for the path and an image for the gui. It will provide a way to use event handling on each tree item so that when a tree item is clicked we can pass it the path to create it's children. This will help complete issue #321

This issue is completed when the class contains all the information and has event handling that will populate the rest of the tree with

[2017-04-10 23:42] burks20 commented on #92
The class now accepts a String parameter for a directory/path to an external executable file.  Proper JavaDoc was added for usage.  This class does not extend the "Command" class like some of the other command files.

team8-dev-issue92 was merged to master.  I have deleted my branch and will be marking this issue closed.

[2017-04-10 23:42] #92 closed, assigned to burks20

[2017-04-11 01:06] orangecraz commented on #307
For documentation purposes, I have copied this comment from issue #308, since these resources can also be useful for servers. I'm not sure why I did not put this here in the first place.

I found a couple of examples of read/write functions for Java. Here they are:

http://stackoverflow.com/questions/18054154/how-to-transfer-file-using-ioutils-copy-through-java-sockets

http://stackoverflow.com/qu

[2017-04-11 01:08] orangecraz commented on #355
I do believe that we should add some information about IOUtils, since we were planning to implement it.

[2017-04-11 01:09] orangecraz commented on #355
I think we should add IOUtils onto out wikipage, if possible. We were planning on using it, and being able to use it properly would be useful.

[2017-04-11 01:17] ghost commented on #363
I created a generic skeleton for this but it needs defined. I have no idea what its function is.

[2017-04-11 02:53] elliottfries opened #375 "Treedev merge preparation"
Treedev needs to be prepared to merge and appropriately commented to help those reading the code that was added.

[2017-04-11 02:57] elliottfries commented on #366
The code in its current state does not require any additional error handling

[2017-04-11 02:57] #366 closed, assigned to nobody

[2017-04-11 03:01] elliottfries commented on #321
#374 is currently being worked on as a solution to this issue.

[2017-04-11 03:07] elliottfries commented on #192
A search area has been implemented.

[2017-04-11 03:07] #192 closed, assigned to nobody

[2017-04-11 03:10] #193 closed, assigned to nobody

[2017-04-11 03:45] LoganRickert opened #376 "Implement User Skeleton"
This issue is to breakdown #349. It is the next step after #361.

[2017-04-11 03:45] LoganRickert opened #377 "Implement Groupadd Skeleton"
This issue is to breakdown #349. It is the next step after #360.

[2017-04-11 03:46] LoganRickert opened #378 "Implement Write Skeleton"
This issue is to breakdown #350. It is the next step after #364.

[2017-04-11 03:47] LoganRickert opened #379 "Implement LWrite Skeleton"
This issue is to breakdown #350. It is the next step after #365.

[2017-04-11 03:48] LoganRickert opened #380 "Implement Users Skeleton"
This issue is to breakdown issue #349. It is the next step after #362.

[2017-04-11 03:48] LoganRickert opened #381 "Implement DelUser Skeleton"
This issues is to breakdown #349. It is the next step after #358.

[2017-04-11 03:49] LoganRickert opened #382 "Implement Logout Skeleton"
This issue is to breakdown #349. It is the next step after #359.

[2017-04-11 03:49] LoganRickert opened #383 "Implement Adduser Skeleton"
This issues is to break down #349. It is the next step after #357.

[2017-04-11 03:50] LoganRickert opened #384 "Implement Script Skeleton"
This issue is to breakdown #350. It is the next step after #363.

[2017-04-17 16:48] #372 closed, assigned to nobody

[2017-04-17 19:08] #373 closed, assigned to nobody

[2017-04-17 19:37] SolidStateHero commented on #355
Everyone should add a more permanent email address for future classes to contact us.

[2017-04-17 19:47] SolidStateHero commented on #355
I've edited it a bit, taking out old information or redundant information and adding a "left-overs" section where we will link information that may be relevant to future classes but cannot be put in other sections.

[2017-04-17 19:48] SolidStateHero commented on #355
I've edited it a bit, taking out old information or redundant information and adding a "left-overs" section where we will link information that may be relevant to future classes but cannot be put in other sections.

[2017-04-17 20:04] hbarri commented on #370
@jasonmarcum and I deleted team1-dev and team1-dev3 branches, only keeping the recently merged team1 branch.

[2017-04-17 20:04] #370 closed, assigned to nobody

[2017-04-17 20:14] hbarri commented on #345
@jasonmarcum and I went through the code and fixed all the errors, findbugs, and checkstyle issues for the new merged branch in commit 4febddb, closing this issue

[2017-04-17 20:14] #345 closed, assigned to nobody

[2017-04-17 21:27] markbrant621 commented on #351
i am closing this issue as the course is finishing up, and it will not necessarily transfer over into the next course. i was not able to fully implement this concept, unfortunately.

[2017-04-17 21:27] #351 closed, assigned to markbrant621

[2017-04-17 21:29] markbrant621 commented on #353
closing this issue as i know it was either finished or mostly completed. Regardless it does not need to remain open for a future class due to the lack of detail on what laurence ultimately wanted.

[2017-04-17 21:29] #353 closed, assigned to laurenceforshaw

[2017-04-17 21:31] markbrant621 commented on #367
i know progress was made on this. however, i am not exactly sure on the extent of the progress. Regardless this issue should not remain open as it was more of a task for laurence.

[2017-04-17 21:31] #367 closed, assigned to laurenceforshaw

[2017-04-17 21:33] markbrant621 commented on #309
I am closing this issue as GamingFox has made documentation, and this issue was essentially a singular task anyhow.

[2017-04-17 21:33] #309 closed, assigned to nobody

[2017-04-17 21:34] markbrant621 commented on #277
This issue was completed as we do have Junits up and running with several test classes, and laurence was able to get it to work with ant.

[2017-04-17 21:34] #277 closed, assigned to nobody

[2017-04-17 21:37] markbrant621 commented on #294
I will be closing this issue as it is coming to the end of the class. We were able to complete several of the test cases, but ultimately there was many others we were not able to get to.

[2017-04-17 21:37] #294 closed, assigned to cerasaurus, hbarri

[2017-04-17 21:39] markbrant621 commented on #285
I am closing this issue was it was part of our teams milestones, and it really can not be picked up by someone else as the work was done mostly by inDuberitably. It also was incomplete and would be even more tough for another student to pick up.

[2017-04-17 21:39] #285 closed, assigned to inDuberitably

[2017-04-17 21:40] markbrant621 commented on #244
I am closing this issue, as we have made several tutorials in our team 10 wiki, and have linked some of them in the main wiki tab.

[2017-04-17 21:40] #244 closed, assigned to laurenceforshaw

[2017-04-17 21:42] markbrant621 commented on #254
i will be closing this issue mainly because i believed it was changed awhile ago, but does not have a comment about the changes in this issue. I believe team 7 has fixed the issue, however.

[2017-04-17 21:42] #254 closed, assigned to nobody

[2017-04-17 21:43] burks20 commented on #199
All files containing the postfix "-copy" no longer exist in our project directory, but a filter was added to .gitignore in case it's ever needed.

Commit is https://github.com/rsanchez-wsu/jfiles/commit/4a82c05ae036eedeeca1117a339476bd14ae40f2

This issue well be closed.

[2017-04-17 21:43] #199 closed, assigned to burks20

[2017-04-17 22:56] #371 closed, assigned to nobody

[2017-04-17 22:56] mdgilene commented on #371
All team12 branches have been merged into master and deleted

[2017-04-18 01:54] TremblingOdin commented on #369
This is no longer a useful or viable solution to issue #321

[2017-04-18 01:54] #369 closed, assigned to nobody