[2016-09-23 16:28] bdenlinger opened #1 "Add basic log4j implementation to the JFiles project"
Add Log4J to team2 branch.  Version 2.6.2 should be used unless we find a reason not to.

[2016-09-23 16:31] bdenlinger opened #2 "Configure Log4J xml for basic logging"
Configure Log4J xml for basic logging, such as different types of messages.  Multiple xml files might be necessary depending on log to file vs log to console.  The focus should be on log to file first.

[2016-09-23 16:34] bdenlinger opened #3 "Update the project wiki with the necessary documentation"
The Log4J [manual](https://logging.apache.org/log4j/2.x/manual/index.html) is a good place to start.  We need to pare it down to usage and basics to ensure everyone uses the framework the same way.

[2016-09-23 16:38] bdenlinger opened #4 "Replace output to console with error logging"
On the server side, the program current writes to console on unknown input.
`out.write("ERROR: Unknown command!\n");`

Replace this with error logging as proof of concept.

[2016-09-23 17:26] cunningham124 opened #5 "Client Text Banner"
Change client text banner from "starting server" to "starting client"

[2016-09-23 17:27] cunningham124 opened #6 "Checkstyle"
Change checkstyle to HTML

[2016-09-23 17:27] cunningham124 opened #7 "Ant Target"
Fix the ant target

[2016-09-25 19:09] ChronoAnomaly opened #8 "Implement basic search command"
The first step is to make a simple search command that will be used to search for a file in the current directory.

[2016-09-25 19:11] ChronoAnomaly opened #9 "Expand on search command"
Adding in more functionality such as recursive searching from a directory or by passing a path to start searching from. This could also be expanded into a secondary command from the basic search command.

[2016-09-25 19:14] ChronoAnomaly opened #10 "Build up functionality for searching"
Add onto the search functionality by providing parameters that can specify how the command will work.
- [ ]  Allow for searching from a given directory
- [ ]  Searching by using the meta information that will be store with team 5's jfile classes
- [ ]  Searching for a type of file

[2016-09-25 21:33] Dorkatron199 opened #11 "T5-M1-I1: Creating the JFile Class"
# T5-M1-I1: Creating the JFile Class

<p>This issue shall consist of creating the basic, or skeletal, structure of the class that will be at the heart of the JFiles program's File API. This class shall consist of at minimum the following fields, constructors, and methods:</p>

<p>cut, copy, paste, and other methods that manage files shall be the duty of the JFileManager class, which shall manage f

[2016-09-25 21:43] Dorkatron199 commented on #11
I leave what returns each of these shall have up to whoever is making this at the time. Additionally, we may want to create a Tag object that simply has a String and ID (and equals method centering on the ID) so that we can have more definite control over how tags are handled. Otherwise, we can just use an array (or other, more appropriate container) of Strings for tags and compare Strings. It's b

[2016-09-25 22:28] Dorkatron199 opened #12 "T5-M1-I2: Creating the JFileManager Class"
# T5-M1-I2: Creating the JFileManager Class

<p>This class shall have methods geared towards managing JFiles, such as copy, paste, delete, etc. This class will interact most closely with the JFile class and will require the most collaboration with other teams. Hopefully, this will take security (authorization, authentication, accounting), networking, and file management and be the meeting point of

[2016-09-25 22:48] Dorkatron199 opened #13 "T5-M1-I3: Team Coordination"
# T5-M1-I3: Team Coordination

<p>Team 5 shall coordinate with other teams and make comments in the Java documentation on which teams will be important to what methods in the File API. This communication shall be critical in determining how the methods in the File API shall work.</p>

<p>Things that should be included are the following:</p>

<ul>
 <li>Security Measures:
 <ul>
  <li>Authentication

[2016-09-25 23:06] Dorkatron199 opened #14 "T5-M1-I4: Continue Research into Exsisting Classes/Interfaces"
# T5-M1-I4: Continue Research into Exsisting Classes/Interfaces

<p>For this issue, team 5 shall continue researching the File class and Runnable interface in Java. This research shall influence long-term goals and directions f the File API. Since the File API hinges on how we use the File class in Java, knowledge of this class will be absolutely critical to the formation of this API. Team 5 shoul

[2016-09-25 23:38] Dorkatron199 opened #15 "T5-M1-I5: Continuing Development"
# T5-M1-I5: Continuing Development

<p>This issue is put in for the sole purpose of giving team 5 more work to do, should they finish everything else. When the deadline for the milestone is met, this issue is to be closed, regardless of whether it was ever reached. It is likely that team 5 will not reach this issue, but is added to cover all possible bases.</p>

<p>The methods chosen for this issu

[2016-09-26 00:34] AlexDespain01 opened #16 "Basic GUI Interface"
First step is to create the basic window for the GUI. This will be the skeleton for which files / folders are displayed in. We are focusing first on the 'file explorer' area that will display the files and folders as their name and an associated icon.

[2016-09-26 00:41] AlexDespain01 opened #17 "Translate Output of Server to File / Folder Names and Icons"
After the basic GUI is constructed the next step will be to take output from the server and translate it to folders / files displayed in the window.

i.e. output from the server: C:\Users\foo\bar and C:\Users\foo\bar.txt
will display in the GUI window as a folder with the name of bar and a folder icon and a text file with the name of bar.txt and an icon of a text file

[2016-09-26 00:45] AlexDespain01 opened #18 "Making Folders and Files Clickable"
After the files and folders are displayed on the screen, clicking on them should have a corresponding action.

The action created by clicking the button for this issue is generic. It simply puts into code the basic structure of how clicking an button in the GUI works. This will later be altered to multiple types of buttons that have different actions based off of file type.

[2016-09-26 17:28] SasquatchMighty opened #19 "Identify what features and options our client side GUI should possess."
This will be a whole team effort.
btdugas and cspencer44 are also assigned to this issue, but as of yet they are not on the list of possible assignees.

[2016-09-26 17:29] SasquatchMighty opened #20 "Create a possible pictorial representation of the planned client side GUI."

[2016-09-26 17:30] SasquatchMighty opened #21 "Create a scalable popup window using Java FX."

[2016-09-26 17:30] SasquatchMighty opened #22 "Add a header and menus to the window."

[2016-09-26 20:21] DarthPacer commented on #3
Almost done reading the Log4j Manual, still need to document the needed information into our wiki.

[2016-09-26 23:04] bdenlinger commented on #1
See [commit](https://github.com/rsanchez-wsu/jfiles/commit/7b501567f71daa048df0b9424a082b249fefcd51).

[2016-09-26 23:04] #1 closed, assigned to bdenlinger

[2016-09-27 18:09] bdenlinger commented on #4
Can't complete until #2 is finished.

[2016-09-27 22:19] #5 closed, assigned to nobody

[2016-09-28 18:35] Swilloughby-github opened #23 "Implement Checksum"
Create a checksum that runs on the client.
It will read a file and run the checksum algorithm and display a value

[2016-09-28 18:57] Swilloughby-github opened #24 "Create Send Bytes Command"
Alter the server program to send bytes and store them in a file.

[2016-09-29 04:51] tytrip commented on #5
59f76d7 was supposed to close #2, not number 5. Sorry.

[2016-09-29 04:54] tytrip commented on #2
This issue is closed via 59f76d7. I accidentally referenced #5 in my commit message. Sorry.

[2016-09-29 04:54] #2 closed, assigned to tytrip

[2016-09-29 11:16] DarthPacer commented on #3
Have not had time to update the wiki, will do tonight after class.

[2016-09-29 11:17] DarthPacer commented on #3
Accidentally closed the issue.....my bad.

[2016-09-29 18:01] Swilloughby-github commented on #24
Latest commit has one issue with Findbugs taking issue with the BufferedInputStream object in the Server class. I don't know what to do about it right now, which is why this is on the dev branch. Honestly, I'm not even sure if this thing works, but it has to be a start.

[2016-09-29 21:01] Christofo commented on #4
Closed by 59f76d7

[2016-09-29 21:01] #4 closed, assigned to MichaelMorath

[2016-09-29 22:14] Christofo opened #25 "Expand Log4J2 log levels"
Need to add log levels such as debug, info, system, etc. and log to file.

[2016-09-30 00:42] JDampCoder opened #26 "Fix checkStyle problems for current team4 dev branch"
try to fix the checkStyle issue for solving the main "'}' at column 5 should be on the same line as the next part of a multi-block statement (one that directly contains multiple blocks: if/else-if/else or try/catch/finally)." issue, there is way too many problems with this

[2016-09-30 10:31] DarthPacer commented on #3
I combined the 3 log 4j pages into a singular page. I left the information on error logging, since our log 4j documentation just expands on that. I am closing the issue, however if anyone needs/wants to add additional information to the wiki.

[2016-09-30 10:31] #3 closed, assigned to DarthPacer

[2016-09-30 16:26] kryan100 opened #27 "Create Switch Statement framework for future commands"
Create empty switch statement in server file that can be filled with calls to functions as we create them. Do we need one for the client?

[2016-09-30 16:31] kryan100 opened #28 "Develop methods for each existing function and copy code to new methods"
LIST and FIND commands can be made into appropriate methods instead of being run directly inside the IF statements.

[2016-09-30 16:36] kryan100 opened #29 "Replace IF statements with new switch statement and methods"
Implement new switch statement and ensure it works functionally the same as old IF statements.

[2016-09-30 19:06] Christofo commented on #25
Issue closed by 59f76d7

[2016-09-30 19:06] #25 closed, assigned to Christofo

[2016-09-30 19:39] Christofo opened #30 "Add logs/ to gitignore"
Logs will be stored in a folder titled "logs", we need to add this to the gitignore.

[2016-10-02 17:42] bdenlinger opened #31 "Develop DTD document"
Develop a DTD document for transmission of information about directories.

[2016-10-02 17:43] bdenlinger opened #32 "Start writing a client side parser"
Start writing a client side parser for the XML we intend on sending.  At this point the output should be to console.

[2016-10-02 17:44] bdenlinger opened #33 "Finalize XML structure"
In the [XML wiki page](https://github.com/rsanchez-wsu/jfiles/wiki/XML-data-struct), we need to agree on a format and what information we need to send.

[2016-10-02 18:09] Dorkatron199 opened #34 "T5-M2-I1: Finish JFile"
# T5-M2-I1: Finish JFile
## What

Team 5 shall finish creating the JFile class's core methods and begin work on methods for other teams. In finishing the class, the team shall also work on refining the definition and purpose of the class as well as implementing any methods that other teams have readied for use in the File API. Since the JFile class is way ahead from the last milestone, this class

[2016-10-02 18:12] Dorkatron199 opened #35 "T5-M2-I2: Get JFileManager Operational"
# T5-M2-I2: Finish JFileManager
## What

Team 5 shall finish work on the JFileManager class and get it operational. This class will be continually built upon, so it won't necessarily be "finished", but it needs to be operational. This means actually making the methods and either making the methods according to the documentation for what they are supposed to do or changing the documentation to suit

[2016-10-02 18:17] Dorkatron199 opened #36 "T5-M2-I3: Integrate Logging Into the File API"
# T5-M2-I3: Integrate Logging Into the File API
## What

Team 5 shall integrate the logging software made by team 2 into the JFile API. The team shall have at least one member who focuses on learning how to use it who the team can turn to. This member will work with the team members who are working on specific classes to get the logging software implemented in those classes. Since JFile is mostly

[2016-10-02 18:26] Dorkatron199 opened #37 "T5-M2-I4: Create Integration Comments"
# T5-M2-I4: Create Integration Comments
## What

Team 5 shall communicate with other teams and create comments in the JFile and JFilemanager classes detailing which teams will have methods that need to be integrated into which methods in these classes. An example of this would be networking methods needing to be integrated into copy and pasting methods. This could also be security methods needing

[2016-10-02 18:31] Dorkatron199 opened #38 "T5-M6-I2: Create a Wiki Page Explaining How the File API Works"
# T5-M6-I2: Create a Wiki Page Explaining How the File API Works

Changed from "<b>T5-M2-I5</b>"
Changed from "<b>T5-M3-I4</b>"
Changed from "<b>T5-M4-I1</b>"
Changed from "<b>T5-M5-I2</b>"
## What

Team 5 shall create a Wiki page that details how the File API works. At this point in time, this page should only cover the basic concepts. This page must have at least have an introduction to the File

[2016-10-02 19:08] Dorkatron199 opened #39 "T5-M2-I6: Get Ant Working for at Least One Team Member"
# T5-M2-I6: Get Ant Working for at Least One Team Member
## What

Team 5 must have to have at least one individual capable of checking the File API with Ant. The team doesn't have to check when pushing to team5_dev, but it does have to be able to check before pushing to team5 (main) or master. This individual may also be able to help other team members get Ant working.
## Why

Ideally, the team sh

[2016-10-02 19:57] Dorkatron199 commented on #13
We made and assigned this issue a bit prematurely, but we have had some teams come forward and make requests and have gotten a slightly better sense of what teams will be important to what methods.

**Team 4** will need anything that is important to searching.
 • _JFile's tag system will be useful to them, but they are quite a ways away from using it in theo searching and sorting functions._

**Te

[2016-10-02 19:57] #13 closed, assigned to nobody

[2016-10-02 20:00] Dorkatron199 commented on #12
This will be closed when we finally get Ant working and get this pushed to master. We also will not push this to master until the entire API is at least functional.

[2016-10-02 20:03] rsanchez-wsu commented on #1
Commit reference: 7b501567f71daa048df0b9424a082b249fefcd51

[2016-10-02 20:04] Dorkatron199 commented on #15
Brand almost completely finished JFile rather than just creating a skeleton structure. As this milestone is coming to a close, I am closing this issue. Any further development won't be part of Milestone 1, but milestone 2.

[2016-10-02 20:04] #15 closed, assigned to nobody

[2016-10-02 20:20] rsanchez-wsu commented on #3
@DarthPacer when working issues related to wiki pages, please make sure to include a link to the page.  Also, don't forget that you can create links that show the page diff, which may also be very useful to post to the issue.

[2016-10-02 20:23] rsanchez-wsu commented on #25
@Christofo Is this issue really closed?  I don't see how 59f76d7caf187bd1911426398344cdf6277118d1 is really related to the specific change described in this issue.  That commit only adds a single console appender and a single root logger for severity "error".  Can you describe how the additional log levels were added by this commit?

[2016-10-02 20:38] rsanchez-wsu commented on #23
Consider that this code will be used by both the client and server and probably belongs in a common package.

[2016-10-02 21:09] Christofo commented on #25
@rsanchez-wsu My error! It is actually closed by bc5d55c15394a871ad37e762b7716b6632d7bca9

[2016-10-02 21:31] rsanchez-wsu commented on #25
@Christofo Much better.  Don't forget that it is much easier to reference the issue number in the commit message and GitHub will then automatically link the two.

[2016-10-03 01:07] srodriguez4 commented on #14
**FILE CLASS**
- openAsExe() File Class
  This is in regards to the fact that "openWith(Application app)" inherently assumes the object is a file to be opened by another application, as opposed to being an application itself. This method should run the application on its own if it is an application and throw an error if it is not (of if there is some other error).
- delete() File Class
  Deletes t

[2016-10-03 01:08] #14 closed, assigned to Dorkatron199, srodriguez4

[2016-10-03 01:54] rsanchez-wsu commented on #17
Keep in mind that this application needs to be platform independent.  With that in mind, it probably makes sense to use URL/URI syntax instead of Windows-specific path specifications.

[2016-10-03 01:59] rsanchez-wsu commented on #8
@viro101 When closing an issue, it either needs to be done via an annotation in a commit message (as I covered in class) or with a note to the issue explaining how/why the issue was closed.  If a specific commit relates to the issue but was not annotated in the commit message, then simply mention the commit's SHA1 hash in a comment on the issue and GitHub will properly link the two.

[2016-10-03 03:48] tytrip opened #40 "Collaborate with Team 5"
We need to collaborate with Team 5 to determine what a JFile object looks like and what data it contains. This JFile object is what we will be sending in XML format, so we need to have a thorough understanding of what this datatype is

[2016-10-03 05:35] rsanchez-wsu commented on #6
It turns out that the CheckStyle Ant task only support plain text and XML output.  The current configuration sends plain text output to the console and captures XML formatted output in a file.  This is more than sufficient for our current needs, so I am closing this issue.

[2016-10-03 05:35] #6 closed, assigned to rsanchez-wsu

[2016-10-03 05:38] #7 closed, assigned to rsanchez-wsu

[2016-10-03 19:31] SasquatchMighty opened #41 "Create the login page with a popup window and appropriate text labels to prompt a user."
This popup window will be created in a separate chunk of code than the Team 6 Milestone 1 GUI. Whether this is in a separate Java class or just a separate code block is up to the implementer.

This popup window will require text labels. The first will display the programs name. Keep it simple like “JFiles”. The next two labels will prompts for the user to enter their username and password into  te

[2016-10-03 19:32] SasquatchMighty opened #42 "Add text fields to accept user input."
Create 2 text fields. These text fields are for accepting the user’s username and password and should be near their corresponding label to ensure user comprehension. They should be similar in size and font to their corresponding labels. They should also be large enough to accommodate a single line user input of approximately 25 characters.

[2016-10-03 19:33] SasquatchMighty opened #43 "Add a “Connect” and "Exit" buttons with corresponding action listeners to the login window."
Below the user input text fields add two buttons. The first will be an “Exit” or “Cancel” button to close the popup window and terminate the program without logging in. The second will be a “Connect” button. This button will be pressed after the user has entered the username and password. When pressed this button will collect the user entered  data and save it into variables, likely strings.

[2016-10-03 19:34] SasquatchMighty opened #44 "Add an output area where the user can be informed of login errors, such as bad connection or invalid username."
This can be handled a few different ways. One possibility is to create an empty label. When an issue arises it is populated with related text. Another possibility is to create a few prefilled error labels and keep them invisible or un-added to the pane until they are required.
A few examples of needed labels are:
    “Incorrect username and or password.”
    “No connection detected”

[2016-10-03 21:31] Swilloughby-github opened #45 "Fully Implement Server-side File Sending"

[2016-10-03 21:32] Swilloughby-github opened #46 "Implement Threads"
Program will create a thread when a command to send a file from server to client.
This will stay open till the file is done transmitting the file.

[2016-10-03 21:32] Swilloughby-github opened #47 "Increase Checksum Functionality on Both Sides"

[2016-10-04 00:10] joyceje opened #48 "Checksum Server Implementation"
Implement a checksum on the server side that runs displays a value

[2016-10-04 00:11] joyceje opened #49 "Checksum Client Implementation"
Added Client checksum of the newly created file compare the 2 and display the results

[2016-10-04 00:58] matthews92 opened #50 "Differentiate types of buttons."
We will need two different general types of buttons for clicking a file or a folder that will send different requests to the server. When clicking a file, a request should ask the server to download or open the file. When clicking a folder, a request should ask the server to see it's contents.

If the user double clicks on a file, this should request the file from the server and download it to the

[2016-10-04 01:06] matthews92 opened #51 "Collaborate with team 2."
When making requests to the server there could be multiple errors from the connection being lost to the file requested not being found. Our team will collaborate with team 2 and their established error logging to have consistency in error logging and prepare for planned advancements in the GUI that may make use of this resource.

[2016-10-04 02:28] tytrip commented on #40
Upon further analysis, I do not believe this issue is relevant to our current milestone. Our XML files will be made up of the file system on the server, not of an actual JFile object. Therefore, I am marking this issue as complete.

[2016-10-04 02:28] #40 closed, assigned to nobody

[2016-10-04 10:47] rsanchez-wsu commented on #40
@tytrip I added the invalid label.  If an issue is deemed not worth fixing or not valid, it is best to apply an appropriate label to distinguish it from legitimate issues that have been or are being addressed.  As the number of old issues continues to grow it will help future developers on the project get a better idea of the project's history.

[2016-10-04 14:13] bdenlinger commented on #32
The client side parser should take a collection of JFiles objects, wrap them in a JavaBean, and call the XMLEncoder class.

[2016-10-04 14:14] rsanchez-wsu commented on #32
@bdenlinger when you say "wrap them in a JavaBean", what do you mean by that?

[2016-10-04 14:21] bdenlinger commented on #32
@rsanchez-wsu Perhaps encapsulate is the better term.  We need some way to serialize the collection into XML to transmit.

[2016-10-04 14:23] rsanchez-wsu commented on #32
@bdenlinger OK.  I just wanted to make sure you were referring to a JavaBean in concept (i.e., a class that implements the requirements that allow it to be classified as a JavaBean) and not JavaBean the type (which isn't useful to us for the scenario you describe).  It is likely that any of the collections available to us from Java will be perfectly suitable, so you may want to start by looking th

[2016-10-04 20:19] bdenlinger opened #52 "Add config file reading to client and server startup."
Instead of storing magic values like port bindings and other such values.  We will implement a startup method to read a config file (stored as XML) to store these values.

[2016-10-04 20:59] MichaelMorath commented on #51
Did you look at our wiki entry? https://github.com/rsanchez-wsu/jfiles/wiki/Error-Logging it should help you understand how it works.

[2016-10-04 21:01] bdenlinger commented on #52
[Java.utils.properties](https://docs.oracle.com/javase/tutorial/essential/environment/properties.html) appears to be the appropriate class to do this with.

[2016-10-04 21:15] bdenlinger commented on #52
[Example](http://www.ibm.com/developerworks/java/library/j-tiger02254/index.html).

[2016-10-04 23:48] ghost opened #53 "Create Mock-Ups to get an idea of what the GUI should look like"
I am going to do my mock-ups with bootstrap and some html just so we can get an idea of what we want to set our design goals to. Feel free to comment on what you like or don't like and we can change the styling.

[2016-10-04 23:49] ghost commented on #53
Login Page:
![login-mockup](https://cloud.githubusercontent.com/assets/21348105/19096589/a57847a8-8a6b-11e6-84ac-b88d9381e4c7.png)

[2016-10-04 23:57] Swilloughby-github commented on #45
Also cleaned up some currently obsolete code from run().

[2016-10-05 00:19] ghost commented on #53
Simple File browser mock up with possible search functionality
![file-browser-mockup](https://cloud.githubusercontent.com/assets/21348105/19097081/ccafaa24-8a6f-11e6-8a81-d362c289d14c.png)

[2016-10-05 18:48] MichaelMorath commented on #33
I think we should set it up for a Windows host.  I'm open to whatever format we want to use as long as it has everything we need. That said, we should definitely have at least most of the ones in the wiki. We definitely need to track the owner, permissions, when it was last modified,  etc to check access to the file and record changes and size, type, attributes, etc  to check how it is used and ho

[2016-10-05 20:42] bdenlinger commented on #52
Commit reference: [ca18c7f](https://github.com/rsanchez-wsu/jfiles/commit/ca18c7f0ad754240c322b5de93e282c23de54882)

[2016-10-06 01:35] rsanchez-wsu commented on #33
@MichaelMorath What do you mean by "set it up for a Windows host"?

[2016-10-06 06:51] tytrip commented on #31
Closing this issue after committing 1e58ae5

[2016-10-06 06:51] #31 closed, assigned to nobody

[2016-10-06 13:34] MichaelMorath commented on #33
@ranchez-wsu like we said in the wiki, the metadata we track may be slightly different depending on what operating system we have in mind. Permissions being a good example. I'm simply suggesting that since this file browser of ours is fairly simple, we keep Windows in mind when considering what metadata to track as it would be a good basepoint.

[2016-10-06 13:39] bdenlinger commented on #33
@MichaelMorath @rsanchez-wsu Java.nio.file.attribute.BasicFileAttributes is platform independent.  Sub interfaces exist for POSIX and DOS system specific attributes.  The DTD can allow for those as optional elements.

We should plan on this being platform independent, in my opinion.

[2016-10-06 15:11] bdenlinger commented on #33
@MichaelMorath @rsanchez-wsu Also something that I just thought of, DOS file attributes are support by filesystems like Samba.  I don't believe the reverse is true in Windows.  I believe that means we might have to move the system attribute down so that each item has it's own system?!

[2016-10-06 16:50] MichaelMorath commented on #33
@bdenlinger Sounds good. I don't know why I didn't think of simply enumerating the options in the DTD to work for multiple operating systems.

[2016-10-06 21:29] Swilloughby-github commented on #9
It seems that the issue itself is solidly defined, but it depends on the completion of another issue within the same milestone, which is something I personally wouldn't do.

[2016-10-06 21:30] MichaelMorath opened #54 "fix serverConfig.xml pathing"
The server can't find the xml file and is throwing a FileNotFound exception. This needs to be fixed before the server can be properly tested.

[2016-10-06 21:36] bdenlinger opened #55 "Create a common package"
Currently, the only common file is the log config.  There will be a need a common package so we can just import it and abstract some useful methods from the main client and server.

[2016-10-06 23:47] #45 closed, assigned to nobody

[2016-10-07 00:36] #18 closed, assigned to nobody

[2016-10-07 00:36] #16 closed, assigned to nobody

[2016-10-07 02:46] tytrip opened #56 "Add Basic XML Creation to Server"
The server needs to be able to construct an XML file. We need to get the basic structure for this setup. For now, the XML can simply be displayed via console to verify the file is being created.

[2016-10-07 03:02] tytrip commented on #56
This issue is closed via 438980f

[2016-10-07 03:02] #56 closed, assigned to tytrip

[2016-10-07 20:00] SasquatchMighty commented on #21
Commit e576784dbb8b5d861f70180fdde09c71918ad86c closes this issue.

[2016-10-07 20:00] #21 closed, assigned to SasquatchMighty

[2016-10-07 21:10] Rotbot9k opened #57 "Fix client getting stuck in output loop team4-dev branch."
The client is getting stuck in the printout loop after the first command

[2016-10-07 21:30] joyceje opened #58 "File Transfer"
Start planning how we are going to collaborate with the Jfiles and XML groups about how these files are transferring. Work out what will be needed and appoint a collaboration lead.

[2016-10-07 21:34] joyceje opened #59 "Create a review Day"
Speak with the team and figure out when we can all meet up online and create a review day in slack to go over the previous weeks activites

[2016-10-07 21:52] #55 closed, assigned to nobody

[2016-10-07 22:34] #26 closed, assigned to nobody

[2016-10-07 22:39] Rotbot9k commented on #29
closed by dafbfaef287f3f0f15fd0082aa06e1a573a04792

[2016-10-07 22:39] #29 closed, assigned to nobody

[2016-10-07 22:39] SasquatchMighty commented on #22
Commit d395c694f9648dd6e830d64a6718d41556af1355 resolves this issue.
Sooner or later I will get the commit comment to close the corresponding issue.

[2016-10-07 22:39] #22 closed, assigned to SasquatchMighty

[2016-10-07 22:39] Rotbot9k commented on #28
closed by dafbfaef287f3f0f15fd0082aa06e1a573a04792

[2016-10-07 22:39] #28 closed, assigned to nobody

[2016-10-07 22:40] Rotbot9k commented on #8
closed by dafbfaef287f3f0f15fd0082aa06e1a573a04792

[2016-10-07 22:40] #8 closed, assigned to Rotbot9k

[2016-10-07 22:42] btdugas opened #60 "Remove in-class content from main wiki page"
Remove all in-class content from the team 6 main Wiki page and place it on subpages. The team 6 main page should then be updated to reflect what team 6 is focused on and what they are currently working on. Any team 6 code should also be explained on a Wiki page.

[2016-10-07 22:48] btdugas opened #61 "Discuss GUI design and functionality with Team 3"
Due to the similar nature of team 6’s and team 3’s work overlapping, duplicated, and similar coding will likely occur. To avoid this a line of communication should be established between the two teams, and team 6 should keep up to date on team 3’s portion of the project.

[2016-10-07 22:49] btdugas opened #62 "Design an icon to represent files"
Create an image that will represent a generic file on the Client Side GUI. The image is meant to be a thumbnail image so it will be small. This means it should have very little detail and be simple design.

[2016-10-07 22:49] btdugas opened #63 "Design an icon to represent folders"
Create an image that will represent a folder on the Client Side GUI. The image is meant to be a thumbnail image so it will be small. This means it should have very little detail and be simple design.

[2016-10-08 02:20] Dorkatron199 commented on #37
Jonathan Joyce (@joyceje) from Team 1 has just discussed with us on Slack regarding collaboration.

Team 1 is planning on implementing the actual network transfers, so we need to coordinate with them on what will be transferred. This is necessary for both teams. Team 1 needs this so that they can make their code transfer JFile objects, while Team 5 needs it so that they can better tailor JFile to

[2016-10-08 02:54] Dorkatron199 commented on #35
Upon discussing with other members of my team and other teams, I have come to the realization that this method cannot be worked on efficiently without collaboration with other teams... Additionally, it can't really be worked on without other team's methods being finished. I may have to set this issue aside for a while, instead focusing on coordinating with other teams and directing how the API is

[2016-10-08 03:42] srodriguez4 commented on #39
**Was able to get ant working**
**Problem:** Had issues with setting path on Windows 10
**How to fix this problem on Windows 10:**
- In Cortana, search 'variables' (system properties window will open)
- Click on Environmental Variables
- Double Click on 'PATH' in the bottom pane
- Click on 'New'
- Once 'New' is clicked, it should make a space at the bottom for you to add a path
- Add the Whole pat

[2016-10-08 03:42] #39 closed, assigned to srodriguez4

[2016-10-09 17:34] Dorkatron199 commented on #34
@BrandAllred @srodriguez4
Once Sergio rechecks this file, this issue can be closed. Additionally, the file ca then be pushed up to our "main" branch for our team, the team5 branch. I suggest closing this issue only after JFile gets pushed to our main, which will only happen after Sergio checks the file.

I would also like to thank Sergio again for his help. We would not be making this progress wit

[2016-10-09 17:58] Dorkatron199 commented on #12
@rsanchez-wsu @BrandAllred @srodriguez4

In regards to Issues #11 and #12, do you want us to just close these issues now and close the milestone, or do you want for us to wait until these classes get pushed to main, which won't be for a very long time? We have both of these classes pushed to team5-dev and will be pushing to team5 soon. These issues are, for all intensive purposes completed, but Gi

[2016-10-09 22:54] Dorkatron199 opened #64 "T5-M3-I1: Opening Files with Particular Applications"
# T5-M3-I1: Opening Files with Particular Applications
## What
### open(JFile file)

The open(JFile file) method is expected to open a file with a default application as defined by a config file. There has been quite a bit of debate as to how the file of this config file should be and how this method shall work as a result. This is mostly due to different OSs handling this subject differently. Thi

[2016-10-10 00:55] Dorkatron199 commented on #37
Only JFile is left. Since this is so, I will not re-up this issue in the upcoming milestone.

[2016-10-10 01:01] Dorkatron199 opened #65 "T5-M3-I2: Integrate Logging Into the File API"
# T5-M3-I2: Integrate Logging Into the File API

Continued from #36 (<b>T5-M2-I3: Integrate Logging Into the File API</b>), which wasn't done in the previous milestone...
## What

Team 5 just pulled log4j on 9 Oct. 2016 to team5-dev. This issue calls for team 5 to gain an understanding of log4j so that they can ensure that it is running in the File API. In other words, if it is not plug-and-play,

[2016-10-10 01:32] Dorkatron199 commented on #35
This is being closed for the preceding reason. Future issues will be more focused.
See #64.

[2016-10-10 01:32] #35 closed, assigned to Dorkatron199

[2016-10-10 02:03] Dorkatron199 opened #66 "T5-SI2: Refine JFile to the Projects Needs"
# T5-SI2: Refine the File API to the Projects Needs

Renamed from "<b>T5-M3-I3: Refine JFile to the Projects Needs</b>"
Renamed from "<b>T5-M4-I2: Refine JFile to the Projects Needs</b>"
Renamed from "<b>T5-M5-I1: Refine JFile to the Projects Needs</b>"
Renamed from "<b>T5-M6-I1: Refine JFile to the Projects Needs</b>"
## What

This will mostly consist of adding functionality that other teams requ

[2016-10-10 02:16] Dorkatron199 commented on #65
Briefly looking into log4j, I can see that it does require coding.

Sergio has my permission to add anything and everything necessary to JFileManager to ensure that it logs appropriately, once it gets far enough along to need it. I am sure Brand will also give permission. If there's nothing for you do do in this issue, you can create another issue for making the documentation for JFile more thorou

[2016-10-10 03:41] Dorkatron199 commented on #12
This issue was finished but the commits didn't close the issue. I am closing it manually.

52e4916 was enough to fix it, and e704a07 should have closed it.

[2016-10-10 03:41] #12 closed, assigned to Dorkatron199

[2016-10-10 03:43] Dorkatron199 commented on #11
This issue is fixed by ba4b804.

[2016-10-10 03:43] #11 closed, assigned to BrandAllred

[2016-10-10 04:00] Dorkatron199 commented on #58
Please feel free to join the <a href="https://ceg3120fall2016.slack.com/messages/file_api_integration/">file_api_integration</a> channel in Slack to communicate with team 5. Brand Allred (@BrandAllred)  is in charge of JFile and I (John Wintersohle; @Dorkatron199) am in charge of JFileManager. You will most likely need to speak with Brand. His primary issue for the next milestone will be to refine

[2016-10-10 04:11] Dorkatron199 commented on #36
With my commit that pulled log4j into our API, I consider this issue complete. It has been passed on to the next milestone at #65. Now, Sergio needs to read through team 2's wiki and documentation and try to get this working in JFile if possible. It may not be possible at the time, since JFileManager may not have enough to start implementing logging software and JFile may not have as much to log..

[2016-10-10 15:01] AlexDespain01 opened #67 "Fix Checkstyle Errors in Latest GUI Commit"
Simply put, I ran out of time to fix the checkstyle issues in my latest commit for Team 3. Creating an issue as a reminder.

This is in reference to issue #17

[2016-10-10 15:06] AlexDespain01 opened #68 "Expand Test XML Data"
In my latest GUI commit, the following is being used to test XML parsing for gathering file names, types, and extensions.

String testXML = "<?xml version=\"1.0\"?><item><name>Test</name><ext>.txt</ext><type>file</type></item>";

I would like to expand on this and add more than one <item> element so that it is returning multiple files / folders. A loop would then be used to iterate through those r

[2016-10-10 20:18] BrandAllred commented on #34
We, as a team, feel that JFile is fully completed. We will edit as needed, following the communication with others teams.

issue #34 is now closed.

[2016-10-10 20:18] #34 closed, assigned to BrandAllred

[2016-10-10 20:18] joyceje opened #69 "Figure out what is needed to push to master"

[2016-10-10 20:22] BrandAllred commented on #37
The comments are not necessary in the JFile. I, and the other members of team 5, are going to be working closely with the other teams.

[2016-10-10 20:22] #37 closed, assigned to Dorkatron199

[2016-10-10 20:26] joyceje opened #70 "Write documentation on how to implement Network"

[2016-10-10 20:28] joyceje opened #71 "Inform other teams about our implementation"

[2016-10-10 22:07] #52 closed, assigned to bdenlinger

[2016-10-10 22:12] bdenlinger opened #72 "Start work on a Java bean to encapsulate JFiles"
The class will consist of some basic methods to read the data from the bean like current path, number of objects, etc.  It will also consist of a serialize and deserialize method.

[2016-10-10 22:14] bdenlinger opened #73 "Integrate team 2 and team 5 code base"
The JFiles API and classes work needs to be integrarted into our code base because it provides the structure for what data is transmitted.

[2016-10-10 22:15] bdenlinger opened #74 "Continue to move common classes into the com package"
Continue work of consolidating common classes and files into the com package.

[2016-10-10 22:17] bdenlinger opened #75 "Java bean serialization work"
Depends on #72.  Work needs to be divided up as this is a lot of code to write.

[2016-10-10 22:18] bdenlinger opened #76 "Write a client side config file and parser"
Similar to the server side config file, we also need a client side parser to contain "magic numbers" and other settings.

[2016-10-10 22:23] bdenlinger commented on #33
We need to commit this to the wiki.  Once we do that we can close.

[2016-10-10 23:32] Swilloughby-github opened #77 "Convert Server File-Sending Function to Method"
Basically, do what we did with the client's file function. If the functions are all consolidated to their own methods, the code will appear a lot more organized.

[2016-10-10 23:33] Swilloughby-github opened #78 "Expand Server Ability to Locate Files"
Add code so that the server can find and send a file not located in it's main directory.

[2016-10-10 23:34] Swilloughby-github opened #79 "Finish File-Receiving for Client"
Write code in the client side that makes it able to receive a file sent from the server.

[2016-10-10 23:34] Swilloughby-github opened #80 "Client Can Print Lines of Received Data"
Write code so that the client can print out lines of data that it is receiving as it is receiving them.

[2016-10-10 23:35] Swilloughby-github opened #81 "Server Can Print Lines of Data"
Write code in the server so that it can print out lines of data as it is sending them.

[2016-10-10 23:56] matthews92 opened #82 "Design Gui with team 6"
This task involves deciding on a layout and general ideas for the gui. This task will be completed when a mock up gui image is created and posted to the wiki with agreed upon gui functionality.

[2016-10-11 03:22] kryan100 opened #83 "Add recursive search and partial search options"
On the server side, we'll utilize either iterateFiles or listFilesAndDirs from java.io.File to add the ability to search through all child folders. iterateFiles returns an iterator and listFilesAndDirs returns a Collection of all files which matched the FileFilter specified.

For partial search options we can use the WildcardFileFilter, and wrap each search within "*"

Update 1:
Abandoned iterateF

[2016-10-11 03:29] kryan100 opened #84 "Discuss file transfer format with Team 1"
For any new function, information must be passed between the client and the server. Therefore, at the bare minimum anyone wanting to create a new function will need to know what format the data will be received in(Are we parsing a string with multiple arguments? An Array? An Object?) and what format the results need to be to send them to the client. By setting a standard, teams can create new func

[2016-10-11 03:38] kryan100 opened #85 "Create search history logging on client side"
A search history log will open new possibilities for future features such as search recommendations based on frequent searches. This can be done by appending a search to a text file before sending it to the server to process.

[2016-10-11 11:14] bdenlinger commented on #85
This sounds like a perfect excuse to do custom logging levels in log4j!

[2016-10-11 18:38] slyr91 opened #86 "Server receiving null value from BufferedReader"
The statement `String cmd = in.readLine();` is placing null in the variable cmd. The server will then terminate shortly after this line as it will skip the rest of the code that follows.

[2016-10-11 19:17] slyr91 commented on #86
I believe the problem might be with how the socket handles streams. If we change the code to use a DataInputStream/DataOutputStream then we should be able to send and receive properly.

[2016-10-11 23:37] Swilloughby-github commented on #77
Forgot to replace the code I moved to the new method with a method call under the case statement.

[2016-10-11 23:37] #77 closed, assigned to nobody

[2016-10-12 18:37] rsanchez-wsu commented on #9
@ChronoAnomaly Please give this issue a more detailed description, along with a clearly stated set of criteria that define when the work is complete.

[2016-10-12 18:38] rsanchez-wsu commented on #10
@ChronoAnomaly Please give this issue a more detailed description, along with a clearly stated set of criteria that define when the work is complete.

@thugmunch if you will be working on an issue that is not assigned to anyone, please assign it to yourself.

[2016-10-12 18:45] rsanchez-wsu commented on #12
@Dorkatron199 For the time being I don't have a strong feeling about whether a change needs to be merged to master before the issue itself is closed.  I am OK with the issues being closed once the fix is committed on any branch.  Given how many issues we have open at any point in time, it would not make sense to force issues to stay open.

I may change my mind on this in the future, but not for no

[2016-10-12 18:48] rsanchez-wsu commented on #15
@Dorkatron199 Did this issue get closed because it is no longer valid or did the work captured by it transition to another milestone/issue?  If it is no longer valid, please add the invalid label to the issue.  If it moved to another milestone/issue, please identify the new issue in a comment on this issue so that GitHub will link them.

[2016-10-12 18:52] rsanchez-wsu commented on #18
@matthews92 Is this issue really closed by commit 83b77ea?  It does not look like it to me.  Additionally, the idea of single clicking on a file icon triggering a download is not something that seems right to me.  In a file browser a user would typically expect a single click to only select that item.  The download might be a right-click behavior available through the context menu or a double-clic

[2016-10-12 18:53] rsanchez-wsu commented on #19
@SasquatchMighty Could you flesh out this issue with a more detailed description and clear objectives as to what it is meant to accomplish?  As it is, the description is very vague.

[2016-10-12 18:54] rsanchez-wsu commented on #20
@SasquatchMighty Could you flesh out this issue with a more detailed description and clear objectives as to what it is meant to accomplish? Aside from the title there is not even a description.

[2016-10-12 19:07] rsanchez-wsu commented on #30
@Christofo Please update .gitignore ASAP (especially on master).  Make sure that other files/directories that don't belong in Git also get captured.  I have already seen some commits of log files into Git.

[2016-10-12 19:09] rsanchez-wsu commented on #32
@bdenlinger There does not appear to be any progress on this issue.  Perhaps it needs a better description or clearly stated criteria about what the end state is.

[2016-10-12 20:28] rsanchez-wsu commented on #34
@Dorkatron199 @BrandAllred @srodriguez4 was the file referenced in John's comment ever checked and pushed?

[2016-10-12 20:42] rsanchez-wsu commented on #36
@Dorkatron199 Please identify the commit that you believe completes this issue.  Also, please note that it is OK to move an issue from one milestone to the next instead of closing the issue and creating a new one.

[2016-10-12 20:47] rsanchez-wsu commented on #39
@Dorkatron199 @BrandAllred did either of you manage to get Ant working from the CLI?  It should be trivially easy and every member of the team should have it working.  If you are experiencing difficulty please hit me up in Slack and I will try to help you sort it out.

[2016-10-12 20:55] rsanchez-wsu commented on #46
@Swilloughby-github This issue should have a more detailed description.  Additionally, consider whether it makes sense to have the thread spawning behavior apply for other commands besides just sending a file.  Also don't forget that it may be necessary to place a limit on the number of threads that the server will spawn in order to prevent resource exhaustion.

[2016-10-12 20:56] rsanchez-wsu commented on #47
@Swilloughby-github This issue needs a proper summary (I am not even sure what it means to increase the checksum functionality), a clear description of the work to be done, and set of defined criteria that capture the desired end state.

[2016-10-12 20:57] rsanchez-wsu commented on #48
@joyceje How is this issue distinct from #47?  Also, please see my comment to @Swilloughby-github on that issue.  The same things apply to this issue.

[2016-10-12 20:57] rsanchez-wsu commented on #49
@joyceje How is this issue distinct from #47? Also, please see my comment to @Swilloughby-github on that issue. The same things apply to this issue.

[2016-10-12 21:02] rsanchez-wsu commented on #50
@matthews92 This issue could use a bit more detail and a clearer statement of the end state.

[2016-10-12 21:03] rsanchez-wsu commented on #51
@matthews92 This issue doesn't actually describe any work to be done, other than a very vague collaboration.  Please either make this issue specific or close it as invalid.

[2016-10-12 21:05] rsanchez-wsu commented on #53
@cspencer44 Nice work with these.  Make sure that other folks (particularly team 3) knows that they are here and how to start using them in the GUI parts.

[2016-10-12 21:15] rsanchez-wsu opened #87 "Adjust handling of XML configuration files"
@bdenlinger Based on the commit (ca18c7f) that implements the parsing of serverConfig.xml, I realized that we need something a bit more suited to what we are doing.  I would like for you (and your team) to make a few changes to the XML file handling:
- Remove `serverConfig.xml` and `log4j2.xml` from the repository
- Replace them with example files, perhaps in an examples directory
- Have the progr

[2016-10-12 21:17] rsanchez-wsu opened #88 "Rename com package to common"
The name `com` (implemented to resolve #55) for a package is confusing.  Please rename the package to `common`.

[2016-10-12 21:44] rsanchez-wsu commented on #58
@joyceje This issue should really lay out some specifics about what needs to be done; "plan how to collaborate" is quite vague.

[2016-10-12 21:46] rsanchez-wsu commented on #61
@btdugas What would be the objectives of such a discussion?  Perhaps you should invite some of the team 3 folks to contribute some objectives to the discussion ahead of time as well.  Remember to be specific and to be clear with the statements about what is to be done.

[2016-10-12 21:49] rsanchez-wsu commented on #62
@btdugas Please have a look at #50 and coordinate with team 3 to make sure that there isn't unnecessary duplication of effort.  FYI: @matthews92

[2016-10-12 21:51] rsanchez-wsu commented on #63
@btdugas Please have a look at #50 and coordinate with team 3 to make sure that there isn't unnecessary duplication of effort. FYI: @matthews92

[2016-10-12 21:54] matthews92 commented on #18
@rsanchez-wsu What we decided on in class was to first make a functioning set of buttons that just do any simple thing and then what they actually do when clicked would correspond later.  This is why the differentiate types of buttons issue was made (#50 ). I will adjust them now for clarity.

[2016-10-12 21:57] rsanchez-wsu commented on #18
@matthews92 Thanks!

[2016-10-13 00:59] rsanchez-wsu commented on #69
@joyceje This issue contains no useful information.  Please update with a description of what needs to be done and what criteria need to be met.

[2016-10-13 01:00] rsanchez-wsu commented on #70
@joyceje This issue contains no useful information. Please update with a description of what needs to be done and what criteria need to be met.

[2016-10-13 01:00] rsanchez-wsu commented on #71
@joyceje This issue contains no useful information. Please update with a description of what needs to be done and what criteria need to be met.

[2016-10-13 01:10] rsanchez-wsu commented on #72
@bdenlinger Please flesh out this issue with a more robust statement of the objective, work to be done, and completion criteria.

[2016-10-13 01:12] rsanchez-wsu commented on #73
@bdenlinger Please describe in more detail what needs to be integrated, what "integrated" means in this context (merged into a particular branch?) and what criteria will be met when the work is complete.

[2016-10-13 01:14] rsanchez-wsu commented on #74
@bdenlinger Please see the new issue created about the common package (#88).  Also, please identify which classes need to be moved, and what the benefit of moving them will be.

[2016-10-13 01:16] rsanchez-wsu commented on #75
@bdenlinger As with the other issues, please identify what needs to be done, what the objective is, and what the completion criteria are.

[2016-10-13 01:20] rsanchez-wsu commented on #76
@bdenlinger Please fully develop this issue with details about the work to be done, the objectives, and the completion criteria.

[2016-10-13 01:23] rsanchez-wsu commented on #78
@Swilloughby-github One of the configuration options passed to the server on start up needs to be the root of its filesystem.  You should flesh out this issue along those lines.

[2016-10-13 01:23] rsanchez-wsu commented on #79
@Swilloughby-github This issue requires considerably more detail.

[2016-10-13 01:24] rsanchez-wsu commented on #80
@Swilloughby-github This issue requires considerably more detail.

[2016-10-13 01:25] rsanchez-wsu commented on #81
@Swilloughby-github This issue requires considerably more detail.

[2016-10-13 01:27] rsanchez-wsu commented on #82
@matthews92 Please make sure that in addition to the GUI mockup that a list or description of the agreed upon functionality is also captured.  The wiki is definitely the right place for it, but the image and criteria also need to be posted here to this issue.  That will ensure that when the issue is closed the state of the mockup and criteria are captured as they are at the time of issue closure.

[2016-10-13 01:29] rsanchez-wsu commented on #83
@kryan100 Please don't forget to describe the command/protocol that the client will need to use to access this recursive or partial search.

[2016-10-13 01:29] rsanchez-wsu commented on #84
@kryan100 I would like to see this issue have a more concrete statement about what is to be accomplished.

[2016-10-13 01:31] rsanchez-wsu commented on #85
@kryan100 This should be configurable in the client configuration.  Please make sure to add information to the description for this issue to capture any new configuration options(s), sensible default values, valid values, etc.

[2016-10-13 02:28] slyr91 commented on #46
Just added thread spawning for the server. Currently it has no control so it runs indefinitely and without a max limit in number of threads spawned.

[2016-10-13 06:23] slyr91 commented on #86
The client needed to flush the output stream before the string would be received by the server.

[2016-10-13 06:23] #86 closed, assigned to nobody

[2016-10-13 07:13] #30 closed, assigned to nobody

[2016-10-13 20:52] kryan100 opened #89 "Handling invalid input"
Currently if the user input includes the FIND command, it is split into an array with the second value holding the search pattern. However, if the FIND command isn't followed by a search pattern, the program will throw an IndexOutOfBounds exception as there would be no second value.

If FIND is input without an argument the (Client? Server?) should alert the user instead of trying to process the r

[2016-10-13 21:29] srodriguez4 commented on #65
**Added Log4j Methods to JFIle and JFileManager**
Added methods:
- logger.info("insert message"); To log a certain functionality that has
  been executed and log that it has been successfully executed upon
  completion.
- logger.error("insert message"); To log in the event an error has taken
  place after a certain command has taken place.

These logging methods still need to be implemented approp

[2016-10-13 21:29] #65 closed, assigned to srodriguez4

[2016-10-13 21:40] rsanchez-wsu commented on #65
@srodriguez4 I am confused by your last comment and the closure of this issue.  When you say "added methods" are those added to documentation, to specification, or to code?  Is there a commit associated with this?

[2016-10-13 21:56] rsanchez-wsu commented on #89
@kryan100 Nice job with this issue.  It is clear what needs to be done and when the work would be considered complete.

[2016-10-13 22:02] tytrip opened #90 "Expand on Server-Side XML Creation"
- [x] Expand on the code that was added in Issue #56 - there needs to be logic added that can add directories, files, etc.
- [x] We also need to provide a basic implementation of XML parsing, using the DTD that was created in 1e58ae5
- [x] Before completing this issue, the XML creation code should be moved into its own class and renamed to XmlHandler.java

[2016-10-13 23:49] Swilloughby-github commented on #79
Okay. So, at the time I first posted the issue, there was no code in the client that would allow it to receive bytes from the server and output them to a new file. The idea I had was that the client needs to be able to get these bytes that the server sent and output them to a file, and then validate the new file's checksum against that of the original to make sure no changes were made. The method

[2016-10-13 23:59] rsanchez-wsu commented on #79
@Swilloughby-github Thanks

[2016-10-14 01:04] bdenlinger commented on #87
I agree with the issue regarding the server config.  The log4j2.xml is little more difficult.  It is apprently possible to reconfigure the xml location from within the class, but [LoggerContext class is not part of the public API so your code may break with any minor release](https://logging.apache.org/log4j/2.0/faq.html#reconfig_from_code).

I changed it once when I moved it.  It's a settings cha

[2016-10-14 11:28] rsanchez-wsu commented on #87
@bdenlinger Thanks for looking into this.  I'll also assign myself to this issue and have a look at the log4j2.xml part.

[2016-10-14 16:06] tytrip commented on #87
@bdenlinger @rsanchez-wsu Just throwing this out there - would there be any benefit to passing the properties file to the program via a start script? The start script could pass the file to the jar via cmd line. This way we wouldn't have to define several locations to search for it. During development we can simply pass it via an Eclipse run argument

[2016-10-14 18:16] bdenlinger commented on #87
Found the config file parameter location.  It's a VM argument.
![image](https://cloud.githubusercontent.com/assets/21348151/19398058/c391b404-9218-11e6-8e93-144750ae8730.png)

[2016-10-14 18:34] bdenlinger commented on #87
@rsanchez-wsu Having some issues with finding a file that I know exists.  Current code looks like:
![image](https://cloud.githubusercontent.com/assets/21348151/19398506/faa005a2-921a-11e6-8259-8d2fbf6e870a.png)
I also tried:

[code]

[2016-10-14 19:09] #76 closed, assigned to nobody

[2016-10-14 19:09] #88 closed, assigned to bdenlinger

[2016-10-14 21:08] rsanchez-wsu commented on #87
@tytrip @bdenlinger I am OK with allowing the user to specify the configuration file path via the command line.  However, I also feel strongly that the application should look in "standard" locations as well.

[2016-10-15 00:41] SasquatchMighty commented on #19
Team 3 and Team 6 are collaborating on the projects GUI designs. On our joint slack page named “gui_collaboration” (https://ceg3120fall2016.slack.com/messages/gui_collaboration/) there is a simple list of GUI features drawn from both teams’ wiki pages. The list is currently divided into priority features and secondary features. Priority features are things we believe need to be implemented if our

[2016-10-15 00:42] #19 closed, assigned to SasquatchMighty, TiberiusMagnus, btdugas, w012bwh

[2016-10-15 01:08] SasquatchMighty commented on #61
In closing issue #19 we also addressed this issue.
Team 3 and Team 6 are collaborating on the projects GUI designs. On our joint slack page named “gui_collaboration” (https://ceg3120fall2016.slack.com/messages/gui_collaboration/) there is a simple list of GUI features drawn from both teams’ wiki pages. The list is currently divided into priority features and secondary features. Priority features a

[2016-10-15 01:08] #61 closed, assigned to SasquatchMighty

[2016-10-15 18:48] Swilloughby-github opened #91 "Client creates TXT-COPY file"
When the client calls the server's sendFile method, it seems to receive the bytes from the command. It needs to create a file identical to the one it requested, only with "-copy" appended to the filename. When ran, the code creates a new file in the form of "filename.txt-copy", which is an invalid file type. This issue is considered fixed when we can get it to create a file in the form of "filenam

[2016-10-15 21:29] rsanchez-wsu commented on #88
@bdenlinger Thanks!

[2016-10-15 21:44] rsanchez-wsu commented on #19
@SasquatchMighty Nice. Thank you.

[2016-10-15 21:46] rsanchez-wsu commented on #91
@Swilloughby-github Nice work with the description.  Is the objective of appending -copy to prevent a name collision on the client side?

[2016-10-16 00:03] Dorkatron199 commented on #64
I think this issue may take some research in order to do. I think I may look into a different issue that I can actually get work done now. However, in the wake of our recent JavaBeans information, I have a better sense of what I want JFiles to do and what needs to be left to other teams. The open and openWith methods will most likely call network methods that open files. Network methods will handl

[2016-10-16 00:11] rsanchez-wsu commented on #64
@Dorkatron199 One thing that you might consider as a "quick" approach to the idea described in this issue is the use of a `ProcessBuilder`.  You can basically use the `Application` object to construct a command line n a `ProcessBuilder` that then gets executed in the system shell.

[2016-10-16 00:14] Dorkatron199 commented on #64
@rsanchez-wsu  Thanks. I will look into it.

[2016-10-16 01:19] Swilloughby-github commented on #91
@rsanchez-wsu I assume so. I think Michael wrote the comments for the client's fileCommand, and he wrote that the new filename should have "-copy" appended at the end. I just sort of went with that when I was writing the code implementation. I at least have this issue fixed, but have yet to push because I think JJ and Daryl are doing something with the code. I'll close this issue whenever I can ma

[2016-10-16 02:51] Dorkatron199 commented on #65
This was done via commit ce852a9.

Since part of his task was to learn what methods need to be implemented from log4j for us to be in compliance with the rest of the project (and in the context of the things he changed in the commit), I think this may be information for us. He asked me if it was okay for him to close this issue and I gave him permission.

By "Added methods:" he means he implemente

[2016-10-16 03:09] Dorkatron199 commented on #64
@rsanchez-wsu I added documentation explaining some of the details of this into the code for whoever gets to developing it. It may take a little bit of tinkering, but it should work. Thank you very much for your support.

Brand is much more familiar with OSs, so I may still ask him for aid, but this helps greatly.

This may even be relevant to what I was planning to do instead of this issue, which

[2016-10-16 03:50] Dorkatron199 commented on #65
His code has now been consolidated into try/catch blocks. What he did _was_ enough to close the issue, but I went ahead and reworked the code to clear out redundancies and make the logger log correctly.

[2016-10-16 04:57] Dorkatron199 commented on #66
To refine the requirements to close this, create comments for each of the following:

<b>Team 1)</b> Will they need copies of our JFile to test to see if the file can be transferred? In other words, do they want/need actual objects to test their network scripts? This may be related to teams 3 & 6 in the sense of getting metadata to the GUIs.
<b>Team 2)</b> What metadata will they need for their XM

[2016-10-16 05:05] Dorkatron199 commented on #64
I will close this issue and open up a new one for testing what you have shown me in the new milestone.

[2016-10-16 05:05] #64 closed, assigned to Dorkatron199

[2016-10-16 05:40] Dorkatron199 opened #92 "T5-SI3: Gain an Understanding of the ProcessBuilder Class"
# T5-SI3: Gain an Understanding of the ProcessBuilder Class

Renamed from "<b>T5-M4-I3</b>"
Renamed from "<b>T5-M5-I3</b>"
Renamed from "<b>T5-M6-I3</b>"

This is a continuation from #64, which was in response to #35. This issue keeps getting passed onward and getting more and more specific in what needs to be done. Ideally, there may actually be some genuine progress on this issue in this milesto

[2016-10-16 05:45] Dorkatron199 opened #93 "T5-M7-I4: Create a Working Directory Field and Related Methods"
# T5-M7-I4: Create a Working Directory Field and Related Methods

Renamed from "<b>T5-M4-I4</b>"
Renamed from "<b>T5-M5-I4</b>"
Renamed from "<b>T5-M6-I4</b>"
## What:

To help provide other teams with a way of controlling the system a little bit better, the File API shall have a working directory field that shall represent the location the user is operating from. The system also must have a way o

[2016-10-16 05:54] Dorkatron199 commented on #65
Sergio typed "ref# 65" by accident when doing the commit.

[2016-10-16 05:59] Dorkatron199 commented on #36
ce852a9,    eb38dd9 (now)

I don't know/remember what commit I was talking about then, but it is definitely done by now. I have also started moving issues on to new milestones more often now, unless closing seems more appropriate. Can I close this issue now?

I apologize if this sounds blunt, I'm typing this a 2:00 AM... It isn't meant to be.

[2016-10-16 13:59] bdenlinger commented on #74
#88 is closed code was committed to master.

[2016-10-16 13:59] #74 closed, assigned to nobody

[2016-10-16 15:09] ghost commented on #63
We should talk about what kind of theme do we want for this GUI. We could make completely custom icons or we could use glyphicons possibly. These are already created for us in open source projects. My personal favorite is: http://fontawesome.io/icons/. There is also a bootstrap version of this: http://getbootstrap.com/components/. Just some ideas for now.

[2016-10-16 16:21] bdenlinger opened #94 "Merge team 5 Jfiles work into team 2 work"
Merge team 5s dev branch into ours so that we  can proceed with Java bean work.  Specfically, getters and setters are specific to the contents of the object.  The jfile object is the base object used to send information from the server to the client.  We need to start work on this and need knowledge of the base object we intend to send.
### Completion Goal

Merge team5-dev and team2 into a new bra

[2016-10-16 16:35] bdenlinger opened #95 "Fix issue with config file pathing"
References #87.  Code committed to master contains a bug where environmental variables are not read correctly.  Specfically, values like $HOME and %APPDATA% are not understood as variables.  The correct procedure would be use [System.Properties](https://docs.oracle.com/javase/tutorial/essential/environment/sysprop.html) class.
### Completion Goal

Config file is correctly read when stored in:
`$HO

[2016-10-16 16:37] bdenlinger commented on #66
Answering team 2 part, A Map(string,string) would be best.  You don't need named variables for every piece of metadata.    Our work will pertain to bean and serialization, so no work is required from team 5 beyond the base object.

Also, does the jfile object or jfile manager actually interact with file system.  For example, is there a method where you can pass a path and an object or array of obj

[2016-10-16 18:47] bdenlinger opened #96 "Java bean getters and setters"
This is a continuation of #75.  We need standard getter and setter methods in the javabean to aid in serialization.
### Completion Goal

Getter and setter methods stubbed out for all private variables and objects currently in the Jfiles class.

[2016-10-16 18:57] #81 closed, assigned to nobody

[2016-10-16 18:58] #80 closed, assigned to nobody

[2016-10-16 18:59] #79 closed, assigned to nobody

[2016-10-16 20:39] #23 closed, assigned to nobody

[2016-10-16 20:39] #24 closed, assigned to nobody

[2016-10-16 20:40] #46 closed, assigned to nobody

[2016-10-16 20:40] #58 closed, assigned to nobody

[2016-10-16 20:40] #71 closed, assigned to nobody

[2016-10-16 21:21] rsanchez-wsu commented on #65
@Dorkatron199 Thanks for the clarification

[2016-10-16 21:26] rsanchez-wsu commented on #36
@Dorkatron199 No worries.  It is a learning process for all involved.

[2016-10-16 21:26] #36 closed, assigned to srodriguez4

[2016-10-16 21:27] rsanchez-wsu commented on #63
@cspencer44 I'm all for reusing what is out there already.

[2016-10-16 21:28] rsanchez-wsu commented on #60
@btdugas When closing an issue like this one (wiki content editing required), please make sure to add a comment to the specific wiki edit(s) that close the issue.  That is, not the wiki page itself, but the static links from the history that show the changes made.

[2016-10-16 21:29] bdenlinger opened #97 "Integrate XMLEncoder work into Java bean"
See commit 1fa8aa6.  The pre-existing XMLEncoder functionality should be integrated into the write() method of the bean.

 ### Completion Goal
Implement a basic write() method in the Java Bean. and be able to print XML to console.

[2016-10-16 21:30] rsanchez-wsu commented on #94
@bdenlinger Be careful about having slash (/) characters in Git branch names.  Git uses the slash to separate the remote name (origin in our case) from the branch name.  I would recommend `team-2-5-collab` in order to minimize confusion.

[2016-10-16 21:31] rsanchez-wsu commented on #96
@bdenlinger Please note that Eclipse will do this for you automatically. Let me know before/after class on Tuesday if you would like for me to show you how this works.

[2016-10-16 23:14] Christofo commented on #94
I created the branch and merged team2 and team5-dev. 764496c5d29a98bcb5e66b38313a7105532c3e18

[2016-10-16 23:19] Christofo commented on #94
@rsanchez-wsu Can you please disable Travis CI on this branch?

[2016-10-16 23:35] w030mao commented on #69
We have implemented a way to send a file from the server to client and would like to push this to master so other teams can see how we are doing this.  First we will need to merge master with the team1 branch to get the logging commits from team2. Then we will need to clean up our code on dev and merge our team1-dev branch to team1 and ensure it works before merging to Master.

[2016-10-17 00:05] Dorkatron199 commented on #66
@bdenlinger Acknowledged. Brand will work accordingly. Thank you very much for your support.

[2016-10-17 00:13] Dorkatron199 opened #98 "T5-M4-I5: Implement Cloneable Method Into JFile"
# T5-M4-I5: Implement Cloneable Method Into JFile

We still have a bug notification for this (so I've been told). This will be needed for deep-copying during the `copy` and `paste` methods and all methods that implement the `copy` and `paste` methods, such as the `move` and `cut` methods. More details will be added later, but this should be enough to complete this issue.

[2016-10-17 00:20] BrandAllred commented on #66
I'm working on the map implementation now.

It can rename the file, and I believe the plan was to have JFileManager have the ability to move the file. In retrospect, that probably wasn't the best idea ever. It doesn't have a method that it intakes a path and an object/set of objects. What did you have in mind?

[2016-10-17 00:26] Dorkatron199 commented on #66
@bdenlinger Here a description of what our two classes are supposed to do.

JFile just holds the metadata. That's basically it. There are a variety of reasons for this, but is mostly due to competing priorities (getting metadata across the network without the burden of transferring actual data). JFile should be used for transferring metadata across the network (as in for use by the GUIs to know wh

[2016-10-17 00:28] Dorkatron199 commented on #66
JFile, so far, just functions as a File object will slightly limited functionality so that it can, hopefully, be slightly more secure when put into everything else. Only methods that are needed are passed through to JFile.

Or at least, this was my intent; I haven't looked at it recently...

If this is unfeasible or inefficient, I am open to ideas. If we are going to chnage course, it is best to d

[2016-10-17 03:35] #83 closed, assigned to kryan100

[2016-10-17 03:38] rsanchez-wsu commented on #94
@Christofo I have Travis already configured to ignore branches that end in `-dev`.  The best thing would be to either rename the branch to something like `team-2-5-collab-dev`, or to go into `.travis.yml` on the branch and tweak it.  Have a look at the `.travis.yml` on your branch and see if you can add the necessary lines to have it ignore the branch if you like.  Feel free to ping me if you want

[2016-10-17 03:39] rsanchez-wsu commented on #69
@w030mao Could you mention the specific commits that implement that capability so that they are linked to this issue?

[2016-10-17 14:55] AlexDespain01 opened #99 "Implement Default Folder / File Icons in Basic GUI Window"
As we have a basic GUI window that can parse XML and display clickable objects on the screen I believe the next step will be to begin changing this to clickable transparent folder and file icons.

Once a default folder and file icon are created, we will need a way to display these on the screen. They need to remain clickable as well so that a click will correspond to opening a file or folder.

Thi

[2016-10-17 14:59] AlexDespain01 commented on #99
We can then later begin producing icons for different file types (i.e. .xls, .docx, .png, etc)

[2016-10-17 18:47] Swilloughby-github opened #100 "Client Can Send a File to the Server"
This function should be nearly identical to that of the server's file sending function. Upon a certain entered command, the client should be able to retrieve a file from it's local directory, retrieve the bytes, and put them into the output stream on its way to the server. This issue can be considered finished when the client can at least read bytes from a file and correctly put them on the output

[2016-10-17 18:51] Swilloughby-github opened #101 "Server Can Receive File from Client"
This issue is the direct counterpart of #100. The server needs to have a function where it can accept a stream of bytes from the client side and create a file in the form of "filename-copy.txt". Ideally, this should be its own method like the server's file send command. To solve this issue, the server needs to be able to accept a stream of bytes from the input stream and then write them to a file.

[2016-10-17 18:54] Swilloughby-github opened #102 "Implement Checksum on Sending Files"
For this issue, the program needs to be able to attach checksums to files that are sent over the output stream. As our program stands at the time of this writing, a checksum is only attached to the received file. For this issue, we must figure out how to read the input stream and find the part of it that contains the checksum value. This issue can be considered solved when we have some way of send

[2016-10-17 18:58] Swilloughby-github opened #103 "Write Exit Command"
While our branch currently implements threads, they are rather limited in functionality. As it stands, the client closes the connection as soon as a single command is entered. We need to implement a loop (do-while?) that can keep the client connected until they enter an exit command. This issue can be considered solved when the client can keep a connection to the server and execute any number of c

[2016-10-17 19:03] Swilloughby-github opened #104 "Begin Implementing Encryption"
Of the subjects that our milestone covers, I know the least about encryption, so bear with me. We need sent files to be encrypted so that a theoretical middleman attacker won't be able to retrieve any information sent over the client/server connection. One idea for an implementation is to import the Cipher class to sender and receiver methods. For now, all we need to finish this issue is to instan

[2016-10-17 22:35] SasquatchMighty opened #105 "Add Additional Menu Items To ClientSideGui.java"
In preparation for coming functionality we need to expand our GUI drop-down menus. We will begin by creating a Menu to the right of the “File” Menu called “Edit”. Under the new “Edit” Menu create the following Menu Items: “Create”, “Open”, “Delete”, “Copy”, “Paste”, and “Cut”.

[2016-10-17 22:37] SasquatchMighty opened #106 "Research JavaFX Panes, Sizing, Alignment and Scalability"
Soon we will begin placing features into our GUI. To avoid rewriting code we need to plan ahead. Specifically we need to select the appropriate JavaFX panes to ensure our features are easy to place and position. Then we need to polish our features by correcting Sizing, Alignment and Scalability. To ensure we select the best JavaFX components for our needs we should begin by researching the possibl

[2016-10-18 02:40] randymusser opened #107 "Conforming the GUI to meet JavaBean Criteria"
We will need to ensure that our GUI is serializable, has a public zero argument constructor, and we need to create the appropriate getters and setters.

[2016-10-18 02:51] matthews92 opened #108 "Create panel to display file path for GUI"
This panel should display the the current location in the file system to the client.
For example: 'C:\Users\Public\Downloads' would be displayed in the panel and it should accurately reflect on which folders and files are in this location by the GUI.

In the future this panel may be switched to be editable by the user to change their location in the file system, but for now it will be unable to be

[2016-10-18 20:20] rsanchez-wsu commented on #102
@Swilloughby-github I like this idea.  I would be interested to hear some specifics for different approaches to attaching the checksum to the file.  I have one that I like, but I want to hear other ideas first before I toss mine out there.

[2016-10-18 20:22] rsanchez-wsu commented on #104
@Swilloughby-github Let's leave this issue open, but take off your milestone.  Encryption is not something I want to attempt.  We need an actual working application first.  Besides, our threat model is that this is only used on a trusted network, so encryption is not necessary.

[2016-10-18 20:27] rsanchez-wsu commented on #107
@randymusser That's a fantastic idea and a wonderful set of criteria.  Where did you get such a wonderful idea? :-)

[2016-10-18 20:27] rsanchez-wsu commented on #108
@matthews92 The current location in which filesystem?  The local filesystem or the remote filesystem?

[2016-10-20 12:50] btdugas commented on #60
Added new subpages to easily find client side GUI information that the team collects.
Wiki page commits:
https://github.com/rsanchez-wsu/jfiles/wiki/Team-6/_history
Subpage commits and changes:
https://github.com/rsanchez-wsu/jfiles/wiki/Team-6-Ideas/_history
https://github.com/rsanchez-wsu/jfiles/wiki/Features/_history

[2016-10-20 12:53] #60 closed, assigned to btdugas

[2016-10-20 22:16] bdenlinger opened #109 "Extend JFile class with a helper method to populate tagList Map"
The JFile object currently has a Map<String, String> for storing file attributes.  There needs to be a method to populate the Map with file attributes as we pass it the file path.
### Completion Goals

A method that takes a file path as a variable and creates a JFile object with a populated tagList.

[2016-10-20 23:55] matthews92 commented on #108
@rsanchez-wsu I was initially thinking the remote system, should this GUI also be working with the local system? I think I might be missing a big picture thing with the functionality.

[2016-10-21 02:12] rsanchez-wsu commented on #60
@btdugas FYI, if you go into the history view and check the boxes for the revision just before your changes through you last revision, then you get a diff page:

https://github.com/rsanchez-wsu/jfiles/wiki/Team-6/_compare/d21c078941acb522d27e93a641961ab270bcdde9...1d2968e4aa6a807242e3bce325b40885431f3309

That would be ideal, so that the issue captures the specific changes.  At some point in the f

[2016-10-21 02:16] rsanchez-wsu commented on #108
@matthews92 I think we will eventually need both.  Team 1 is working on code that allows transfers in both directions between the server and the client.  I think it makes sense that the client GUI will need to have context for both the location on the server and the location on the client.  You don't have to tackle both right away, but I think they both need to be done eventually.

[2016-10-21 23:54] SasquatchMighty commented on #105
Commit # 1aff69b092229bb9fcdff026973ef10786747680 resolves this issue.

[2016-10-21 23:54] #105 closed, assigned to SasquatchMighty

[2016-10-22 00:09] SasquatchMighty commented on #20
In closing Issues #19 and #61 we also resolved this issue.
When Team 3 and Team 6 collaborated on the projects GUI designs a collective GUI Mockup was created. It can be found on our joint slack page named “gui_collaboration” (https://ceg3120fall2016.slack.com/messages/gui_collaboration/) as well as below.
The mockup currently shows the following features:
•    refresh button
•    back and forward

[2016-10-22 00:09] #20 closed, assigned to SasquatchMighty

[2016-10-22 01:56] rsanchez-wsu commented on #20
@SasquatchMighty Would you mind posting the mockup here, for the benefit of future students who might not have access to the current Slack team?

[2016-10-22 01:58] SasquatchMighty commented on #20
![erik_early_gui_mock_up](https://cloud.githubusercontent.com/assets/14119599/19616120/5e6b7e18-97d9-11e6-8ef0-186ed8e39328.jpg)
Sorrry, I refrenced the image in the above comment but forgot to include the image.

[2016-10-22 02:00] rsanchez-wsu commented on #20
@SasquatchMighty I seem to recall having seen that image elsewhere, but I am glad it's here now.

[2016-10-23 04:54] tytrip commented on #95
Fixed via 530e3a9

[2016-10-23 04:54] #95 closed, assigned to bdenlinger, tytrip

[2016-10-23 04:54] tytrip commented on #95
Correction: 530e2a9

[2016-10-23 05:08] tytrip commented on #94
The branch was renamed to "team-2-5-dev" via commit d6eed61. I am closing this issue since the completion criteria has been met.

[2016-10-23 05:08] #94 closed, assigned to Christofo, tytrip

[2016-10-23 13:46] AlexDespain01 opened #110 "Create Mock Default Folder and File Icons"
Create basic designs for folder and file icons to be displayed in GUI window.

[2016-10-23 14:09] AlexDespain01 commented on #63
@btdugas Could you take a look at the slack GUI collaboration channel? I just uploaded a few folder and file icons. You can see them here as well https://github.com/rsanchez-wsu/jfiles/tree/team3-dev/src/gui

[2016-10-23 18:51] rsanchez-wsu commented on #94
@tytrip Are you sure that the branch was renamed?  It looks to me like the team-2-5-collab branch is still in the repository.  If you meant to delete it, remember that there is a push operation involved in deleting a remote branch.

[2016-10-23 19:08] Dorkatron199 commented on #98
40fda58 fixed this issue, but I put "ref" instead of fix since I was in a hurry. I have not tested the method to make sure that the copies are genuinely deep copies, but I will be closing this issue since the method is at least implemented and the bug warning is now gone. I will make testing the method an issue in the next milestone.

[2016-10-23 19:08] #98 closed, assigned to nobody

[2016-10-23 20:33] joyceje opened #111 "Team 5 & 1 - Sending Jfiles to client from server"
In this issue we need to replicate the file content and syntax from the server to the client

[2016-10-23 20:34] joyceje opened #112 "Team 5 & 1 - After File has been sent replicate in Jmanager"
Once the file has been received by the client then the jManager needs to sync with the new jFile.

[2016-10-23 20:36] joyceje commented on #112
Specifically in the thread we need to have the newly created jFile update the jManager once it has been created. This needs to happen in a loop because navigation needs to be made possible.

[2016-10-23 20:37] joyceje commented on #112
We will need to have an open thread at all times between the client and gui where we can transfer this infomration back and forth.

[2016-10-23 20:40] joyceje commented on #111
Specifically in the main thread where the client connected to the server. We need to manage an on going communication stream to request information from the server when the jManager needs it. Then go ahead and handle that request.

[2016-10-24 03:32] tytrip commented on #90
Closing since all topics have been addressed.

[2016-10-24 03:32] #90 closed, assigned to tytrip

[2016-10-24 03:48] tytrip commented on #94
@rsanchez-wsu you are correct, I created a new branch but didn't delete the original branch. The original branch named "team-2-5-collab" should now be deleted.

[2016-10-24 14:44] AlexDespain01 opened #113 "Data Structure for Parsed XML Objects"
Currently our GUI parses XML and stores this data into an array list. However, this only stores a file / folder name and extension.

i.e. the array list holds test.txt, test, test.png, etc.

This is then iterated through to determine how many objects need to be displayed in the GUI window and the text to display.

This only gives us access to a file name and it's extension, and more information wi

[2016-10-24 15:28] bdenlinger commented on #113
This is currently being covered by our JFile bean work and specifically #109 will populate a Map data structure with the [basic file attributes](https://docs.oracle.com/javase/7/docs/api/java/nio/file/attribute/BasicFileAttributeView.html).

The end product of this should be an array of JFile objects that you an iterate through.

[2016-10-24 15:40] bdenlinger opened #114 "Import libs and setup DB enviroment"
The first step is to create a Derby DB is getting the libraries imported into Ivy and setting appropriate classpath parameters.  Consult the [official tutorial](http://db.apache.org/derby/papers/DerbyTut/install_software.html#derby_configure) for steps.
### Completion Goals
- [x] Get Derby jar imported and dependencies in Ivy.
- [x] Set classpath parameters in build environment.

[2016-10-24 15:46] bdenlinger opened #115 "Create a Derby database for the project"
We need to create a database and table to store the tag information of each file tagged.  This warrents further discussion on table and DB structure.
### Completion Goals
- [x] Create Derby Database
- [x] Create tables to store data

[2016-10-24 22:29] bdenlinger opened #116 "Create an Errors class to abstract error messages"
An enum class is needed to abstract the text of the error message from the code.  Currently, error message text is limited by checkstyle line length limits of 100 characters.
### Complete Goal

Create a class similar to [this](https://ceg3120fall2016.slack.com/files/bdenlinger/F2TJT857T/error.txt) that can be used to abstract error text from code.

[2016-10-24 23:27] Swilloughby-github opened #117 "Summarize Chapter 11 of Textbook on Wiki"
Chapter 11 in the course textbook provides an overview on the use of remote objects in Java. I feel that one of the most efficient ways of getting a feel for this kind of programming is to read over these sections and post summaries to pages on the wiki. It's a way that we can learn while also providing useful information to other students. This issue can be considered finished when we have at lea

[2016-10-24 23:31] Swilloughby-github opened #118 "Post Outside Research to Wiki"
Similar to issue #117, we need to do some legwork on getting acquainted with remote objects by doing some of our own research on the topic. The textbook likely provides a good overview, but it would also be helpful to get some sources from outside that scope. Find RELIABLE sources in print or on the web that provide overviews/tutorials of remote objects. Similarly, we should summarize these source

[2016-10-24 23:36] Swilloughby-github opened #119 "Comment Code to Prepare for Remote Object Implementation"
This issue will most likely come after the previous two in this milestone. After we have a decent understanding of how remote objects work in the context of JFiles, we need to look over our code and see how they will fit into our current implementation. Write comments over lines that you think will need to be modified/removed to make room for remote objects. If we need to write new methods, provid

[2016-10-25 01:14] bdenlinger opened #120 "Agree on table structure for storing file tags"
As a team, we need to agree on a table structure to store file tags.
### Completion Goals

Post agreed structure to the team wiki page.

[2016-10-25 01:20] bdenlinger opened #121 "Agree on table structure for cacheing directory information"
Another use of a database is as a caching mechanism for individual directories.  When something is requested from the client, then the cache is checked, anything found there is displayed, then an update is requested from the client.
### Completion Goal
- [x] Post table structure to team wiki
- [x] Work with team 4 regarding command inputs how to integrate cache with their work

[2016-10-25 02:20] btdugas opened #122 "Ensure our classes are JavaBean compatible"
After the ninth week of classes, it has become a priority to make sure that all of the classes in our client side GUI are JavaBean compatible.
These are a few of the areas that this issue will cover:
a.  Public zero argument constructor
b.  Properties are accessible via getters and setters
c.  Classes are serializable

[2016-10-25 02:22] btdugas opened #123 "Methodize ClientSideGui.java"
For this issue, we will need to:
a.  Encapsulate the code into methods
b.  Properly JavaDoc those methods
c.  Update Wiki with the Method information once this issue has been completed and/or closed

[2016-10-25 02:24] btdugas opened #124 "Collaborate with Team 3 about merging our branches"
We will continue to collaborate with Team 3 about the essentials within our branches and how we will go about merging them.
The main points of this issue include:
a.  Begin discussion over Slack concerning merge
b.  Merge and resolve conflicts

[2016-10-25 02:37] btdugas opened #125 "Construct fully functional prototype of jfiles client side GUI"
Now that we have passed the halfway point of this semester, it is about time we pull all of our resources and research together and begin constructing a prototype of the jfiles client side GUI. This will be a several week process, so this issue will not be a top priority for this week.
To better organize this issue, it would be best to divide the requirements for this issue.

Feel free to divvy up

[2016-10-25 03:32] Dorkatron199 commented on #66
## UPDATE:

<b><i>To all people working on this issue:</i></b> Me and Brand have talked a bit about this issue and we have determined that this issue is going to be a bit of a bear, so we will create issues that effectively branch from this issue. In that sense, please use the nomenclature we have been using but append an <b>S#</b>  to the end.
Example: "<b>T5-M5-I1-S1</b>"
This will stand for "Su

[2016-10-25 03:53] Dorkatron199 opened #126 "T5-SI4: Fix Logging System"
# T5-SI4: Fix Logging System

Renamed from "<b>T5-M5-I5</b>"
Renamed from "<b>T5-M6-I5</b>"
Renamed from "<b>T5-M7-I3</b>"
## What

The current logging implementation set up by John Wintersohle only gives some general descriptions fro errors and info. For the errors, Team 5 also needs to ensure that the stack traces are also logged for better understanding.
## Why

Besides the fact that Prof. Sanc

[2016-10-25 12:35] DarthPacer commented on #114
I will get my Eclipse environment fixed tonight and begin working on this.

[2016-10-26 16:48] kryan100 opened #127 "Exception catching needs to be handled by the logger"
Currently there are many instances where error catching is still handled in the default format, such as

[code]

Error handling should be done through log4j so that it looks more like this

[code]

[2016-10-26 16:52] bdenlinger commented on #127
FYI, see #116.  We plan on expanding logging with an Enum class to abstract out the error messages.  Currently Checkstyle limits line length and thus error message verbosity.

[2016-10-27 18:17] SasquatchMighty commented on #41
Commit eb3a8ed resolves this issue.

[2016-10-27 18:17] #41 closed, assigned to SasquatchMighty

[2016-10-27 18:37] SasquatchMighty commented on #42
Commit 86d1005 resolves this issue.

[2016-10-27 18:37] #42 closed, assigned to SasquatchMighty

[2016-10-27 20:32] SasquatchMighty commented on #43
Commit 32be927 references this issue, buy it does not quite close it. We still need to work on the Action Listeners of the Connect Button

[2016-10-27 21:25] bdenlinger opened #128 "Update Log4J documentation with enum Error class examples"
See #116.  Additional feature has been added to our logging framework.  Examples on proper usage are need in the Log4J wiki.
### Completion Goals

Update wiki with usage examples for enum Error class

[2016-10-29 22:12] DarthPacer commented on #114
Throwing this one back into the pool for someone else to attempt. I have tried to get it imported and it is not cooperating. I am sure this is a user error on my part, however, I know Chris's issue is setting up a database so i believe he is dependent on this and i do not know when Ill be able to work on this again today/tomorrow.

[2016-10-30 00:56] Swilloughby-github opened #129 "File Sending Function Broken"
As of the time of this writing, the client cannot properly create a file given information from the server, or vice versa. A new file is entitled "filename"-copy.txt is created, but nothing is put into the file. I personally think this has something to do with the threading functions, but someone else may know more than I do. Consider this issue fixed when the client can write to the server, ask f

[2016-10-30 12:09] AlexDespain01 commented on #82
We talked to team 6 on Thursday after class and have agreed that we should merge our branches. They already have a decent base design and GUI window running, but they don't have any files displayed in their window yet. Since ours mostly only does the displaying of files in a window, we should merge our work and collaborate together on future development.

[2016-10-30 12:12] AlexDespain01 commented on #113
@bdenlinger How would I incorporate this into our project?

[2016-10-30 13:51] AlexDespain01 opened #130 "Transition From Node Traversal to XPath Evaluation"
Currently, our GUI uses Node Traversal when evaluating XML to get file names and extensions.

This works, but it's relatively messy and I think using XPath will be a better way of getting values from XML.

[2016-10-30 13:53] AlexDespain01 opened #131 "Move Parsing Code to Another Class"
Our GUI class currently contains code that is not necessarily directly related to GUI components. One of these is the code for parsing XML.

To clean this up a little, I am moving the parsing code to a new class and calling those methods from the GUI class instead.

[2016-10-30 20:13] MichaelMorath commented on #128
I added your example to the Lo4J wiki.

[2016-10-30 20:13] DarthPacer commented on #128
Michael Morath saved an edit as I was editing, so I lost my input. I went through and fixed the spelling/grammar in the updated wiki. Going to continue updating the wiki with any more helpful information, closing this issue.

[2016-10-30 20:13] #128 closed, assigned to DarthPacer

[2016-10-30 20:15] MichaelMorath commented on #128
Yeah we were both fixing up the grammar.

[2016-10-30 20:16] DarthPacer commented on #128
Yeah...we need to coordinate better in the future, because I was adding the code while you were apparently, and you got to the save button before I did. At least the wiki is updated :)

[2016-10-30 20:29] tytrip commented on #114
Not sure when this was done but it appears that the derby-10.11.1.1.jar has already been added to the "lib" directory in the JFiles project as well as being added to ivy. Therefore, I am closing this issue.

[2016-10-30 20:29] #114 closed, assigned to tytrip

[2016-10-30 20:41] MichaelMorath commented on #128
yeah that is honestly what ultimately matters. I just saw that we still hadn't updated the wiki and started doing so.

[2016-10-30 21:05] DarthPacer commented on #120
Started the wiki page on the file tag data structure, need to have more information from Brian before deciding on the structure as a team.

[2016-10-30 21:05] tytrip commented on #72
A duplicate issue (#75) has been created for this. Since the duplicate issue has relevant sub-issues attached to it, I am closing this. All future work on the Java Bean should reference #75.

[2016-10-30 21:05] #72 closed, assigned to bdenlinger

[2016-10-30 21:09] tytrip commented on #73
This issue was completed via commit d6eed6146b5811655e7294d79975aff8aab371b8. Team 2 and Team 5 now have a collaboration branch named "team-2-5-dev".

[2016-10-30 21:09] #73 closed, assigned to bdenlinger

[2016-10-30 21:16] tytrip commented on #96
@bdenlinger Can I close this issue? Not sure we need an issue for creating getters/setters as this can be done via Eclipse in a matter of seconds. Additionally, are we actively working on the Java Bean? I am not aware of a Java Bean class that is created as of right now, so I'm not sure this issue is still relevant.

[2016-10-30 21:17] tytrip commented on #75
@bdenlinger Is this an issue that is still relevant to our project?

[2016-10-30 21:19] tytrip commented on #97
@bdenlinger What is the name of the Java Bean class that this write method needs to be integrated into?

[2016-10-30 21:23] tytrip commented on #121
@viro101 @kryan100 @thugmunch @ChronoAnomaly @dmaddalena Please take a look at our idea for the caching table (https://github.com/rsanchez-wsu/jfiles/wiki/Caching-Table-Structure) and see how you think we could integrate this into some of your search functionality.

[2016-10-30 21:23] bdenlinger commented on #96
@tytrip I'll close.  Still working on the bean stuff.

[2016-10-30 21:23] #96 closed, assigned to bdenlinger

[2016-10-30 21:37] rsanchez-wsu commented on #114
@tytrip I included Derby in the initial project commit to have an Ivy dependency in the project from the start.  I'm sorry I've not been as diligent in monitoring the GitHub traffic in Slack, or I would have pointed this out as soon as the issue was opened.

[2016-10-30 21:38] rsanchez-wsu commented on #115
@bdenlinger @Christofo  If I read this correctly, then this issue is blocked by #120 and #121.  Is that right?

[2016-10-30 21:42] Christofo commented on #115
@rsanchez-wsu Somewhat, I am about to begin at least creating a Derby database. Obviously no tables will be added until those issues are closed.

[2016-10-31 02:19] kryan100 commented on #121
This can be useful if the user is only looking for a single file. I can check the cache first, exiting the search if I find something. So following the structure you posted, the search function will search through the cache using the supplied pattern. Upon finding a file that matches the pattern, the function retrieves the path, constructs a JFile, then ends after passing the JFile to the client t

[2016-10-31 19:20] SasquatchMighty opened #132 "Convert Event Handlers to “Named Inner Classes”"
Currently in the file ClientSideGui.java there are 5 Event Handlers that are Anonymous Inner Classes. That is to say they are inner classes declared without a class name. FindBugs has flagged each of them with a Low Priority Warning. It recommends that they all be changed to static named inner classes. It suggests we make these classes static so that they are accessible through the ClientSideGui c

[2016-10-31 19:21] SasquatchMighty opened #133 "Fix the Header of the File logj42.xml"
/JFiles/src/edu/wright/cs/jfiles/common/log4j2.xml
The file logj42.xml inside the origin main branch, and subsequently our team6 branch after our last merge, is displaying a warning. “Line does not match expected header line of ‘^V*$’.” (Not the V in the regular expression is inverted in the actual warning message.) However, the header looks to be in the proper format. In an effort to correct this

[2016-10-31 19:24] SasquatchMighty opened #134 "Remove CheckStlye Errors and Merge to Master"
This issue is to be done after issue #132  and #133 are completed.
To ensure our work is accessible to other teams and to propagate our cleanup of the main branch we need to merge the team6 branch back to master. However, before doing so we need to locally merge the remote master into our team6 branch to resolve any conflicts and ensure we are currently up to date. We can then fix any remaining Ch

[2016-10-31 19:39] tytrip commented on #133
@sasquatchmighty @bdenlinger @christofo @darthpacer @michaelmorath this would have come from Team 2. We can look into this and see about getting a fix pushed out. Thank you for bringing this to our attention

[2016-10-31 19:46] SasquatchMighty commented on #133
Thank you for your speedy response. If you need a hand shoot me a email.
I was briefly looking into this and saw this mystery problem has occurred
on other GitHub repositories.

Jason Phares (GitHub ID: SasquatchMighty)

On Oct 31, 2016 3:39 PM, "tytrip" notifications@github.com wrote:

[2016-10-31 22:30] AlexDespain01 opened #135 "Merge Team 3 Branch With Team 6"
Team 6 has also been working on the GUI, and they are much farther along than our team is in terms of design and login options.

However, I believe they have not yet started on displaying files and folders in the window for the user to click on and open a file / directory. As our team has mostly been focused on getting this functionality working, rather than design and other GUI components, it may

[2016-10-31 23:40] Swilloughby-github opened #136 "Remove Excess Comments"
There are a lot of comments sitting around our team's branch. Many of these are documentation or code that has yet to be implemented. However, many of these are relics; code or information that is not relevant to our program as it currently stands. It is best that we remove it before merging to master. This issue can be considered solved when the team can agree that the program is devoid of excess

[2016-10-31 23:42] Swilloughby-github opened #137 "Document all Team Code"
For the most part, our team has contributed some quality features to the program. We need to document it by adding javadocs and adding comments for each step of the program. Whether or not a program has enough comments is rather subjective, so the team needs to come to a consensus on the comments before this issue is closed.

[2016-10-31 23:44] Swilloughby-github opened #138 "Merge Branch to Master"
This issue is exactly what the title says, but the importance of this going off without a hitch cannot be understated. This should be the last thing we do for this milestone, as we need to make sure everything works and is up to snuff with the rest of the teams' work before merging our branch with master. Close this issue when our team has come to consensus and merged our branch with master.

[2016-10-31 23:47] Swilloughby-github opened #139 "Document Methods on Wiki"
Our branch currently has a lot of functions that are just sitting there in Eclipse. It would be useful if we had a place for everyone to view them outside of an IDE. We should document each of our methods (parameters and returns included) on the wiki. For formatting guidance, refer to the methods that I have posted under Team 1's section. Of course, feel free to improve on this design. Close this

[2016-10-31 23:52] matthews92 opened #140 "Divide GUI functionality into multiple methods"
Currently almost all of the code written for the GUI is in a main method of a java file. The goal of this issue is to separate different parts of the core functionality into different methods and call them within the main method. This should make the code more readable and versatile.

[2016-10-31 23:53] #51 closed, assigned to nobody

[2016-11-01 00:26] DarthPacer commented on #116
This appears to be done? Closing he issue.

[2016-11-01 00:26] #116 closed, assigned to bdenlinger

[2016-11-01 02:09] tytrip commented on #120
Is this issue still relevant? Did we decide that we will not be storing tags?

[2016-11-01 02:12] tytrip opened #141 "Fix Checkstyle Issue"
Team 4 has discovered an issue (#133) in which our Log4j2 configuration file has been failing checkstyle. Please investigate, fix, and push to team2 branch.

### Completion Goals
- [ ] Fix checkstyle issue
- [ ] Push to team 2 branch

[2016-11-01 13:05] DarthPacer commented on #120
I was not sure what the finalized decision was, if we are for sure no longer using tags, then this can be cancelled.

[2016-11-03 01:55] rsanchez-wsu commented on #94
@tytrip It appears that the -collab branch has reappeared in the last few days.  Be aware that when you delete a branch, you need to also notify everyone that may have likely had it checked out (probably just people on your team) so that they can prune it from their local repositories.  Otherwise, every time someone that still has the branch does a full push (i.e., all branches), it will be pushed

[2016-11-03 02:40] rsanchez-wsu commented on #120
@DarthPacer Please provide a link to the wiki page so that it can be easily found from this issue's discussion.

[2016-11-03 02:42] rsanchez-wsu commented on #121
@kryan100 That sounds good.  I would also add that after rendering/displaying the cached object (if one is found) then it should also make a request of the remote server to update the display and then cache any updated data.

[2016-11-03 02:45] rsanchez-wsu commented on #124
@btdugas Could you expand/clarify the completion criteria?  The two previous issues had clearly stated completion criteria, but the two items you list here are somewhat vague.

[2016-11-03 02:52] rsanchez-wsu commented on #127
@kryan100 Please note that the `e.printStackTrace()` line should be removed entirely, not just commented out.

[2016-11-03 02:58] rsanchez-wsu commented on #128
@DarthPacer @MichaelMorath Please provide the links that show the wiki edit diffs related to this issue.

[2016-11-03 03:13] rsanchez-wsu commented on #82
@masters1222 I definitely think a team-3/team-6 collaboration is worthwhile.

[2016-11-03 03:15] rsanchez-wsu commented on #130
@masters1222 Please make the description of this issue more concrete in terms of what should be completed within the scope.

[2016-11-03 03:18] rsanchez-wsu opened #142 "Relocate classes from gui package"
I just noticed that the team-3 branch has classes in a package called `gui` under the directory `src/gui`.  Please note that the application has a package structure based on the package hierarchy `edu.wright.cs.jfiles.`  Please refactor the classes so that they are located under the directory `src/edu/wright/cs/jfiles` and the corresponding package.

[2016-11-03 03:32] #140 closed, assigned to nobody

[2016-11-03 03:46] rsanchez-wsu commented on #133
@SasquatchMighty @tytrip I have #87 assigned to me to handle this.  I haven't been able to get to it yet.

[2016-11-03 03:49] rsanchez-wsu commented on #138
Recall that you should first merge master into your branch, resolve the issues, then merge your branch back into master.

[2016-11-03 03:51] rsanchez-wsu commented on #139
A better approach might be to create an Ant target called `doc` or `javadoc` that builds all the javadocs and then we can figure out a place to publish them.  That would be more productive than having to maintain the same documentation in two places (source code and wiki).

[2016-11-03 03:52] rsanchez-wsu commented on #141
@tytrip @DarthPacer This is captured in #87, but feel free to take it over.

[2016-11-03 15:54] DarthPacer commented on #128
[308db4b](https://github.com/rsanchez-wsu/jfiles/wiki/Log4J/308db4b6a016c51071bac3e92b68b53fdc9ad4c8)

[7df725d](https://github.com/rsanchez-wsu/jfiles/wiki/Log4J/7df725dfd146ce8f126784ab6cda18420a27e770)

[24b4952](https://github.com/rsanchez-wsu/jfiles/wiki/Log4J/24b495284ad645d7100176bc7efb22913021716d)

[18aa86c](https://github.com/rsanchez-wsu/jfiles/wiki/Log4J/18aa86c9ca468c2fed613c9b173c109

[2016-11-03 21:19] Christofo commented on #120
Are users going to have the ability to add custom tags? If so then I suppose a database could be used, if not then I feel we should store usable tags in the config file.

[2016-11-03 21:29] Dorkatron199 opened #143 "T5-SI1: Creating a Test Class for the File API"
# T5-SI1: Creating a Test Class for the File API

## What
We shall create a class that tests the functionality of the File API at runtime. This is to ensure easy retesting to ensue that no new code breaks any old code. This class must test all methods and ensure that the methods are tested in multiple ways, keeping a particular eye on boundary cases where applicable.

## Who
@Dorkatron199
@randymu

[2016-11-03 21:30] joyceje opened #144 "Checksum - Migrate function to a utility class"
Currently Checksum is implemented in both client and sever. But it would be better implemented to remove duplicate code by creating a Utility Class and having both Server and Client reference that class.
@MichaelMorath

[2016-11-03 21:30] Christofo commented on #120
@SasquatchMighty and I have decided to use the tag database for custom tags, we will populate the database with some basic tags that a user can use. The user will also have the ability to create new tags and have them stored in the database.

[2016-11-03 21:32] Dorkatron199 commented on #143
Today, we will create the initial class and create a skeleton structure for the overall class. We will then try to start looking at what methods to test and how to test them. At minimum, we must have a way to test each method thought up.

As an example, for the copy method, we would copy a file to the clipboard and display the contents of the clipboard to the console. Only the concepts are needed,

[2016-11-03 21:32] rsanchez-wsu commented on #144
This issue is being driven by a comment I made on commit 682fde4

[2016-11-03 21:33] bdenlinger commented on #89
Commit c24929e6b3de8332b566b529cfaef76d883e51c9 contains an error.  The while loop loops for ever if valid input is received.  An if is appropriate here.

[2016-11-03 21:34] bdenlinger commented on #89
Working on this with @viro101 .

[2016-11-03 21:34] cunningham124 commented on #103
@DarthPacer and I hold that there is quit and exit command in the code. The exit command does nothing and the quit command throws an exception. So we are going to remove the quit command the  make the exit command work.

[2016-11-03 21:35] tytrip commented on #137
@TiberiusMagnus and I will be reading through the Team 1 code base and adding javadocs/comments where necessary. We will also be removing comments where necessary, as excess comments makes the code hard to follow.

[2016-11-03 21:35] bdenlinger commented on #115
Working on this with @viro101 .

[2016-11-03 21:36] w030mao commented on #110
Working with @BrandAllred on this.

[2016-11-03 21:47] bdenlinger opened #145 "Fix client config file name"
JFilesClient currently searches for serverConfig.xml

It should look for clientConfig.xml

[2016-11-03 22:00] bdenlinger commented on #120
filepath VARCHAR(260) tag VARCHAR(255) makes sense to me.  Just a key value pair of the absolute filepath and a tag.  260 for the filepath size as that is the max Windows file path length.  255 is the max for EXT4.

[2016-11-03 22:03] #89 closed, assigned to nobody

[2016-11-03 22:10] bdenlinger commented on #121
My idea:
filepath VARCHAR(260), XML BLOB

Blob is storing the XML previously returned from the server.  I see that Derby has an XML datatype, but I don't see us using the features.

[2016-11-03 22:20] randymusser commented on #143
Current progress
-Created class and skeleton methods for testing the classes
-Commented on the intended way to implement the majority of the test classes
-Locally committed by John. @Dorkatron199

[2016-11-03 22:57] DarthPacer commented on #103
@cunningham124 and I have completed this issue. Waiting to close until the commit has been pushed to the team1-dev branch. There are some checkstyle issues in the code, he wanted to address first.

[2016-11-04 01:38] rsanchez-wsu commented on #103
@DarthPacer @cunningham124 Nice work.

[2016-11-04 01:39] rsanchez-wsu commented on #143
@randymusser @Dorkatron199 I am looking forward to seeing the test class.

[2016-11-04 01:54] rsanchez-wsu commented on #110
Commit 1a8d66c relates to this issue

[2016-11-04 04:22] slyr91 commented on #103
@DarthPacer @cunningham123 I dont know if you guys changed this or want to utilize this feature in the future but the commands you guys were talking about were located in a switch that did not have a break statement between the exit and quit commands. So even though exit didn't have any code it would flow over from exit into quit where the desired operations would lie. Switch statements keep execu

[2016-11-04 04:23] slyr91 commented on #103
Oops meant @cunningham124

[2016-11-04 13:24] Dorkatron199 commented on #143
@rsanchez-wsu Thanks! We noticed that testing the version of the paste method that is used in the move method will be tricky since it is private, be I have a way to test it without changing the visibility of the method. You will be able to see it when I finish the method and push.

In addition to creating a method for testing each of the methods in JFileManager (JFM), we made some supplemental met

[2016-11-04 16:50] tytrip commented on #32
This issue is not relevant to where we currently are in the project, so I am closing this issue and marking it as invalid. Perhaps this can be re-opened in a later milestone when the completion goals are more clear.

[2016-11-04 18:51] SasquatchMighty commented on #123
Thank you srodriguez4 and thugmunch for your help. Team6 is grateful.

[2016-11-04 20:29] SasquatchMighty commented on #44
This has already been accomplished in commit eb3a8ed. All that remains is to create corresponding Event Handlers that trigger the corresponding label to become visible when the connect button is hit and that is being handled by issue #43.

[2016-11-04 20:29] #44 closed, assigned to SasquatchMighty

[2016-11-04 20:50] SasquatchMighty commented on #63
masters1222 of Team 3 has created icons that will meet our needs. They are located at on the team3-dev branch. jfiles\src\gui\img
![folder_icon2](https://cloud.githubusercontent.com/assets/14119599/20021979/ca96c662-a2ae-11e6-93b1-a63f47ba437c.png)

[2016-11-04 20:50] #63 closed, assigned to nobody

[2016-11-04 20:51] SasquatchMighty commented on #62
masters1222 of Team 3 has created icons that will meet our needs. They are located at on the team3-dev branch. jfiles\src\gui\img
![file_icon](https://cloud.githubusercontent.com/assets/14119599/20022017/efc74f92-a2ae-11e6-9d86-b1527347dc88.png)

[2016-11-04 20:51] #62 closed, assigned to nobody

[2016-11-04 21:32] SasquatchMighty commented on #106
We did not post anything on the Wiki but we have moved past this issue. In the commits eb3a8ed, 86d1005 and 32be927 We used a BorderPane as a foundation. We then stacked HBoxs, VBoxs and StackPanes on top of the BorderPane to ensure everything is in a proper layout. Infact we are three pains and four labels deep in one particular spot. I almost exclusivle drew my research from http://docs.oracle.c

[2016-11-04 21:32] #106 closed, assigned to SasquatchMighty

[2016-11-05 01:27] rsanchez-wsu commented on #106
@SasquatchMighty "Infact we are three **pains** and four labels deep in one particular spot." Freudian slip, perhaps?

[2016-11-05 01:28] rsanchez-wsu commented on #143
@Dorkatron199 Thanks for the extremely thorough analysis.  I agree that this presents plentiful opportunities for the next batch of students.

[2016-11-06 19:13] DarthPacer commented on #33
This seems to be completed, when reading the wiki, we have a permissions tag that have the options of Linux and windows. In the DTD, we would make those enumerated options and we should be good. I believe we can close this issue.

[2016-11-06 19:13] #33 closed, assigned to DarthPacer

[2016-11-06 19:30] Dorkatron199 commented on #139
@Swilloughby-github @rsanchez-wsu
Regardless of what path this takes, it may also be beneficial to go ahead and assign the "documentation" label to this for future referencing of this issue and to make it easier to find this issue (via looking through the documentation issues). I didn't want to assign it myself, since this isn't my issue, but I thought I might make this suggestion. Even if this is

[2016-11-06 19:46] Dorkatron199 commented on #124
Another thing to consider is that Team 3 has their own equivalent version of this issue. Having two issues means that you can have an issue for each team's milestone, but also creates a duplication of the issue. Creating one issue that handles the collaboration that is outside of both team's milestones means that any progress is not reflected in the teams' milestones, but eliminates the redundancy

[2016-11-06 19:58] Swilloughby-github commented on #139
Don't worry about it. I'm not pretentious; I'm aware that there's lots I have to learn as both a coder and developer. Thanks for the advice.

[2016-11-06 20:08] Dorkatron199 commented on #38
## UPDATE:

This issue need to focus on what the overall purpose of the classes are, not just give the javadocs. To that end, I have ill-informed Sergio. We need to change the pages to give the overall purpose rather than reiterate what is in the in-code documentation. With that said, the overall purpose was to get the wiki started so that we at least have the structure there, and this has been do

[2016-11-06 20:08] #38 closed, assigned to nobody

[2016-11-06 22:30] joyceje commented on #139
@rsanchez-wsu I understand your approach and I agree that we should have javadocs, but none of us know how to do this. Can you go over in class on how to do this so we can put that to testing.

[2016-11-06 22:33] #69 closed, assigned to nobody

[2016-11-06 22:33] #70 closed, assigned to nobody

[2016-11-06 22:34] #48 closed, assigned to nobody

[2016-11-06 22:34] #59 closed, assigned to nobody

[2016-11-06 22:34] #100 closed, assigned to nobody

[2016-11-06 22:34] #101 closed, assigned to nobody

[2016-11-06 22:34] #102 closed, assigned to nobody

[2016-11-06 22:34] #103 closed, assigned to nobody

[2016-11-06 23:55] Dorkatron199 commented on #66
## UPDATE:

<b><i>To all people working on this issue:</i></b> For our next milestone, this will be moved to being outside of a milestone. This is because this is a continuous issue and will be most likely not be completed until the end of the project, so putting it inside of a milestone would not make logical sense. This issue's position and name will not be changed after this (hopefully).

I als

[2016-11-07 00:07] ghost commented on #53
Before:
![untitled](https://cloud.githubusercontent.com/assets/21348105/20043059/3bbdc13c-a454-11e6-9d42-6b962599bf2b.png)

Possibly After:
![gui](https://cloud.githubusercontent.com/assets/21348105/20043062/3e6262a8-a454-11e6-9b97-1ce33e2dc637.png)

[2016-11-07 00:14] Christofo commented on #120
We will need to update the tags to be in a separate database that is not stored in memory.

[2016-11-07 00:30] Dorkatron199 commented on #139
@Swilloughby-github There's a lot more for us all to learn. No matter how experienced you are, you can always learn more. This is as true for me as well. I greatly appreciate your understanding.

With the exception of Prof. Sanchez and the outside people, we're all students here and all have more to learn.

[2016-11-07 01:41] Dorkatron199 commented on #92
## UPDATE:

<b><i>To anyone who is working on this issue:</i></b> This issue has been downgraded to a side-level issue. This issue should be pursued only after primary issues for the current milestone are complete.

If you wish to take this on as an issue for a milestone, let me know the week before so that I may put it on the milestone for you to work on it.

[2016-11-07 02:33] Dorkatron199 commented on #66
## UPDATE:

### On the use of the "Side Issue" Label

The "<b>Side Issue</b>" label was added to indicate that this issue is not associated with any milestone. This label was made for indicating issues that are not part of any milestone. For most issues, this is because they are not considered critical for that moment or would take too much time for one milestone and should be worked on off-and-on

[2016-11-07 02:42] Dorkatron199 commented on #66
@BrandAllred @Link801 @srodriguez4 @rsanchez-wsu

Please review the above policy and provide feedback. Since we are going to undoubtedly have a huge workload in the future, I built some policies for scalability. Please let me know if you have any issues with the policies. I acknowledge that this policy inherently has a 1-week delay, in issue handling, but the <b>Urgent Help Policy</b> aught to cov

[2016-11-07 03:07] Dorkatron199 opened #146 "T5-M8-I4: Finish File API Wiki"
# T5-M8-I4: Finish File API Wiki

Continued from #38...
Changed from <b>T5-M7-I1</b>

## What

The current wiki pages for the File API exist and are in the structure they need to be in, but we need the contents of these wikis to be updated to an explanation what what roles these files are supposed to play. JFile is supposed to simply be a wrapper around a File object to ensure that it is a bean an

[2016-11-07 03:10] Dorkatron199 commented on #38
This issue was removed from milestone 6 so that it doesn't wrongly reflect progress in milestone 7 (since I just changed the milestone rather than create a new one and move things over). If I had created a new milestone and moved all of the other issues over, this would have been the only issue left, so I just decided to rename the milestone and remove this issue.

[2016-11-07 03:18] Dorkatron199 opened #147 "T5-M7-I2: Gather Issues for the Next Milestone"
# T5-M7-I2: Gather Issues for the Next Milestone

## What

As if I didn't put enough on our plate, we need to ensure that we 1) have enough work to do, 2) don't have too much work to do, and 3) know what that work is. To achieve this, I created a collaboration policy in issue #66. With that said, we need to make sure that 1) we have more issues than we need (we will only assign what we can handle

[2016-11-07 04:19] tytrip commented on #145
Closing this issue, as it was fixed via commit 8a2dc03

[2016-11-07 04:19] #145 closed, assigned to nobody

[2016-11-07 14:47] Dorkatron199 commented on #66
If we move forward with this, I will move this to the Wiki so that it is easy to find.

[2016-11-07 18:42] SasquatchMighty commented on #43
Commit 7bb3d3d completed the connect button and closed this issue. However, I think it will be revisited because at some point the username and password variables will be only accessible through getters and setters.

[2016-11-07 18:42] #43 closed, assigned to SasquatchMighty

[2016-11-07 22:13] AlexDespain01 opened #148 "Create Scrollable Files / Folders Panel"
The GUI currently only displays files and folder in a static grid panel. After over populating the grid, each icon will get smaller and smaller until they are unidentifiable or can no longer fit in the window. Making the panel scrollable allows the icons to scale better with the window and enables the user to browse the files more comfortably. A more visual representation of this would be how the

[2016-11-07 22:21] AlexDespain01 opened #149 "Create Additional File Icons"
We currently have an icon for a default file and folder, but are lacking in icons for images, music, video, etc.

Support for all possible extensions may be impossible, but our application should at least support the below.

These extensions should display an image icon: .png, .jpg, .jpeg, .bmp, .gif, .tif

These extension should display an audio icon: .mp3, .wav, .ogg

These extensions should dis

[2016-11-07 22:24] SasquatchMighty commented on #132
This issue was closed by commit a40f9c4

[2016-11-07 22:24] #132 closed, assigned to SasquatchMighty

[2016-11-07 22:33] AlexDespain01 opened #150 "Remove Test XML and Replace With Actual Data From Server / API"
The XML that is currently implemented in the GUI is simply for testing.

We need to start creating the methods for requesting the actual XML from the server / API, storing this in a string, parsing it as we do the test XML string, and using that data to display files / folders in the panel.

This will require changing our parsing code depending on the actual element names that we are using. This w

[2016-11-07 22:38] SasquatchMighty commented on #134
Commit a40f9c4 removed the CheckStyle errors and FindBugs issues while commit 1676811 merged the team6 branch into master resolving this issue.

[2016-11-07 22:38] #134 closed, assigned to SasquatchMighty

[2016-11-07 23:20] SasquatchMighty opened #151 "Getters and Setters"
We should begin the process of creating Getters and Setters for our variables in the file ClientSideGui.java. For variables such as username and password this will provide an added layer of protection. This process will also serve the dual purpose of preparing for JavaBean compatibility presented in issue #122.

[2016-11-08 02:23] JDampCoder opened #152 "Fix search history"
Search history got broken once the re-code was done. Needs to fix history logging so that the server will save the searches recently.

[2016-11-08 02:25] JDampCoder opened #153 "Fix Searching (find command)"
The "re-code" has broken the find command and cannot find anything when searching. This needs to be fixed as well so that our main purpose is working.

[2016-11-08 02:32] #109 closed, assigned to bdenlinger

[2016-11-08 15:26] kryan100 commented on #153
Search should be fixed with my last commit https://github.com/rsanchez-wsu/jfiles/commit/3fae4592cf50aa4b1ebac340cd1f697670e8aa65

[2016-11-08 23:40] bdenlinger opened #154 "Data structure class to store individual files"
The JFiles class contains too many high level features to be useful.  We need a bare bones data structure class to store file information.

### Completion Goals ###
- [x] Write Constructor that takes a Path object
- [x] Write helper methods to populate the structure
- [x] Create public getters and setters

[2016-11-08 23:42] bdenlinger opened #155 "Add XStream Dependecies to ivy"
See title.

### Completion Goals ###
Add dependencies for version 1.4.9 and confirm build works

[2016-11-08 23:44] bdenlinger opened #156 "Rewrite XMLHandler for XStream"
The XMLHandler class needs a complete rewrite to take into account XStream.

### Completion Goals ###
- [x] sendXML method
- [x] readXML method
- [x] Storage of a list of structures from #154

[2016-11-08 23:46] bdenlinger opened #157 "sendXML method in XMLHandler"
The sendXML method should take an outputsteam of some kind and send a serialized object in the form of XML to it.

### Completion Goals ###
Create method to output some kind of XML to an OutputSteamWriter

[2016-11-08 23:48] bdenlinger opened #158 "readXML method"
The readXMLmethod should take an inputstream of some kind and read XML and deserialize it into an object.

### Completion Goals ###
Create method to take some kind of XML to an InputStreamReader

[2016-11-08 23:49] bdenlinger opened #159 "Config XStream method"
To abstract some parts away from the constructor, it is necessary to write a private method the configures XStream.

### Completion Goals ###
Stub out a confXStream method.

[2016-11-08 23:55] Swilloughby-github opened #160 "Post Test Plan for File-Sending Functions"
We need to have a set procedure for testing our program's file transfer functions, both for client-to-server and server-to-client. A test plan needs to be put in place that covers as many conditions and scenarios as possible, such as what should happen when no problem occurs or the requested file is not found. This test plan should include requirements (what the function should be able to do) and

[2016-11-08 23:58] Swilloughby-github opened #161 "Post Test Plan for Checksums"
Similar to file-transfer, we need to test how the program handles checksums, such as if it generates them at all, and how it handles matched or mismatched checksums. Similar to the template for file-transfer testing, we need to work as a team to draft a test plan that includes requirements and test cases. The test plan with both of these parts should be posted to the Github wiki and followed by te

[2016-11-09 00:01] Swilloughby-github opened #162 "Post Test Plan for Thread Management"
In recent weeks, our program has implemented threading as a way of handling multiple client connections to the server. Some of this functionality has broken or changed parts of the program that were previously well-established. We need to draft a test plan for thread management and follow it as a team to ensure no other functions in the client or server are broken by threads. We need to write up a

[2016-11-09 05:01] kryan100 opened #163 "Implement RMI to call commands on the server"
In keeping with this week's topic of RMI, we will need to collaborate with both Team 1 and Team 5 in order to implement an RMI structure to call methods on the server from the client. I am assuming Team 1 wants to call their sendFile function, Team 5 will likely want to call methods within JFile and JFileManager, and we have our search function and Command Classes that can be called. By collaborat

[2016-11-09 05:19] kryan100 opened #164 "Begin progress into implementing database into Search Function"
As noted in https://github.com/rsanchez-wsu/jfiles/issues/121 Team 2 is beginning work into implementing a database. They have suggested we leverage the database to speed up the search process by first checking for indexed searches within the database. I'm not sure if we can use it to capture multiple possible results, but for finding a single file/directory it should be effective.

[2016-11-09 10:09] bdenlinger commented on #164
Currently, the init method on the client creates a table with the following:
`sta.executeUpdate("CREATE TABLE cache (filePath VARCHAR(260), XML Blob)");`

So basically, it's a key/value pair with the file path as the key.

[2016-11-09 18:58] Dorkatron199 commented on #126
~~The above commit adds stack traces to all of the catch blocks that are already in existence. We still have to add Try-Catch-Finally blocks to he rest of JFile and makes the current method with try-catch blocks try-catch-finally clocks that close he logger at the end of the method.~~

~~(I also just thought of something else we can do that I will discuss later.)~~

UPDATE: Now that I have done mo

[2016-11-09 20:21] Dorkatron199 commented on #93
Me and Brand discussed this in class, so I am writing here to document our discussion. The working directory is going to be part of the JFM since it is a should be directly accessed by the UI teams. Additionally, its system-like nature lends itself to the JFM which would have system-like functionality.

The JFile's getWorkingDirectory method shall be removed as the JFM's is added. I can get to thi

[2016-11-10 12:33] DarthPacer commented on #75
Per Bryan's Request, closing all issues related to JavaBean's.

[2016-11-10 12:34] DarthPacer commented on #32
Per Bryan's Request, closing all issues related to JavaBean's.

[2016-11-10 12:35] DarthPacer commented on #97
Per Bryan's Request, closing all issues related to JavaBean's.

[2016-11-10 22:27] bdenlinger opened #165 "Get attribute names method"
The FileStruct class needs a method to output all attribute names.  Method header should look like:
`public String[] getAttrNames ()`

### Completion Goals ###
A method that returns a string array of attribute names

[2016-11-10 22:29] bdenlinger opened #166 "Contains method"
The FileStruct class needs a method to search for a attribute name.
Method header:
`public boolean contains(String name)`

### Completion Goals ###
A method that returns true if the attribute list contains a name

[2016-11-10 22:31] bdenlinger opened #167 "getAttribute method"
The FileStruct class needs a method to return a specific attribute if available.  Method header:
`public String getAttr (String name)`

### Completion Goals ###
A method to return an attribute value given a name

[2016-11-10 22:33] bdenlinger commented on #154
Ready to push to master.

[2016-11-10 22:36] bdenlinger commented on #159
Need to consider moving this to a static initializer.

[2016-11-10 22:40] bdenlinger commented on #157
I'm having an issue with the XStream trying to serialize itself. There is a specific exception for self streaming, yet it will still try to by default.

[2016-11-10 22:42] bdenlinger commented on #155
Ready to push to master.

[2016-11-12 05:04] Dorkatron199 opened #168 "T5-M8-I2: Coordinate With Team 6 on Preferences Screen"
# T5-M8-I2: Coordinate With Team 6 on Preferences Screen

## What

Team 5 shall gather a list of preferences that should be determinable by the user and hand that data to Team 6 so that they can build a Preferences GUI based on that information. This should reflect various projects we have done in the production of our File API as well as things that we are hoping to implement in the future. Ideal

[2016-11-12 05:04] Dorkatron199 commented on #163
I will make an issue for this to be put under our collaboration issue (#66). We will do what we can.

This week we are looking for what work other teams need for us to do, so we can organize what to tackle in what order. Please also remember that we have a slack channel specifically for [File API Integration](https://ceg3120fall2016.slack.com/archives/file_api_integration).

[2016-11-12 05:06] Dorkatron199 commented on #168
This issue was made partly for Issue #147. This comment was made so that this will be seen in that issue.

This issue is also a sub-issue of Issue #66.

[2016-11-12 05:24] Dorkatron199 opened #169 "T5-SI5: Collaboration For RMI"
# T5-SI5: Collaboration For RMI

## What

This issue will most likely consist of finally implementing Team 1's networking functionality and Team 4's search functions into JFileManager. In other words, this will be an integration issue. Furthermore, it will be a massive integration effort, which may take all three teams a solid week to ensure correct functionality. This issue may require subissuing

[2016-11-12 05:25] Dorkatron199 commented on #169
This issue is also in response it Issue #147 and is to be considered a subissue of Issue #66.

[2016-11-12 05:43] Dorkatron199 commented on #112
Teams 1 and 4 have created a series of issues for integrating all three team's work together. (#163/#169)

I decided to go back though the issues to find issues that pertain to this subject. This was found to be related. This comment was also made so that this issue is linked to the other two.

[2016-11-12 05:44] Dorkatron199 commented on #111
Teams 1 and 4 have created a series of issues for integrating all three team's work together. (#163/#169)

I decided to go back though the issues to find issues that pertain to this subject. This was found to be related. This comment was also made so that this issue is linked to the other two.

[2016-11-12 06:07] Dorkatron199 commented on #164
Have you considered whether you wanted to do this before or after issues #163 and #169? Doing this after has the benefit of being able to check the search functionality on a remote computer and check to see if the files that are being copied retain their tags (which would naturally affect searching). Doing this issue first would have the benefit of giving our team more time to do research and othe

[2016-11-12 06:17] Dorkatron199 opened #170 "T5-SI6: Enure Clarity and Readability of Code"
# T5-SI6: Enure Clarity and Readability of Code

## What

To ensure that our code is easy to follow, we need to fix spacing, remove old, irreverent comments, and change other aspects of the code's structure, such as whether commands entirely fit on one line or a split between lines. Naturally, there needs to be a balance between trying to keep code that is part of one single action on one line and

[2016-11-12 06:18] Dorkatron199 commented on #170
This issue made in response to issue #147.

[2016-11-12 06:32] Dorkatron199 opened #171 "T5-M10-I2: Get Code Pushed to Team 5's Main Branch"
# Get Code Pushed to Team 5's Main Branch

## What

We should have a working version of code on the team5 branch (our "main" branch). In order to do this, we have to have code that can build correctly, with absolutely nothing that would give a right-hand-margin tag (eclipse warnings/errors, CheckStyle errors, FindBugs errors, or ToDo tags). Additionally, the code must be able to build successfully

[2016-11-12 06:33] Dorkatron199 commented on #171
This issue made in response to issue #147.

[2016-11-12 06:37] Dorkatron199 commented on #147
With four issues made for us to tackle at different points, and the weekend winding down, I am going ahead and closing this issue down in advance. We have enough for the next couple of weeks and I am trying to wind down this weeks milestone.

[2016-11-12 06:37] #147 closed, assigned to nobody

[2016-11-12 19:35] Dorkatron199 commented on #93
This issue is closed by: 9912099

This commit is a but hairy, but does the job. It muddied up the code, sacrificing readability for functionality. We will need to have one member go back and clean it all up and add the proper logger calls.

If you decide you want to take this on, please assign yourself to issue #170. Also, keep in mind that the issues that are on the current weekly milestone are t

[2016-11-12 19:35] #93 closed, assigned to nobody

[2016-11-12 20:05] Dorkatron199 commented on #126
Commit d6148ac set this issue back a ways by adding a lot of new material that does not have logging calls. This puts more work on the individual maintaining this issue. I was hoping to get this done, but we may want to consider pushing this issue back (for a later milestone) or to the side (to span multiple milestones)...

If we decide to do the massive multi-team integration  next week, we may w

[2016-11-12 21:52] JDampCoder commented on #153
you should add fixes #153 or something so it will automatically be closed

[2016-11-13 15:13] AlexDespain01 commented on #135
I merged our updated branch after #142 was fixed with the team 3 - 6 dev branch. They should now both be up to date. Fixes #135

[2016-11-13 15:13] #135 closed, assigned to nobody

[2016-11-14 01:20] Dorkatron199 opened #172 "T5-M8-I1: TestDelete Method"
# T5-M8-I1: TestDelete Method

## What

We need to have a testDelete method made to the specifications set fourth by issue #143. This issue is a sub-issue of that issue, so all references to this issue should also reference that issue. This will be considered complete when the method can be shown as functioning

[2016-11-14 01:24] Dorkatron199 commented on #172
**NOTE**: Brand is making this because he was making the delete method and wanted to test it, so he decided to just make the method for testing it in the proper place.

[2016-11-14 01:46] Dorkatron199 opened #173 "T5-M10-I3: Clean Up Code From 9912099"
# T5-M10-I3: Clean Up Code From 9912099

## What

The code from commit 9912099 added a feature at the code of code clarity. Someone needs to go back and clean up the code by adding both the proper logging calls and simply making sure the code is readable.

## Why

This is a sub-issue of both #126 and #170. Both of these issues are important for upkeep, but should be broken down into manageable pie

[2016-11-14 03:07] #57 closed, assigned to Rotbot9k

[2016-11-14 03:07] tytrip commented on #159
Not sure when this was completed, but there is already a static init block that does the configuration work for XStream. Thus, I am closing this issue.

[2016-11-14 03:07] #159 closed, assigned to nobody

[2016-11-14 03:08] #27 closed, assigned to nobody

[2016-11-14 13:20] bdenlinger commented on #167
@MichaelMorath This is supposed to return the attribute value instead of the name.  It would make more sense to name the method `getValue`.

[2016-11-14 13:38] DarthPacer commented on #75
As discussed with Roberto, I am reopening all JavaBean related issue's I closed, as they may be useful in upcoming Semester's.

[2016-11-14 13:38] DarthPacer commented on #97
As discussed with Roberto, I am reopening all JavaBean related issue's I closed, as they may be useful in upcoming Semester's.

[2016-11-14 13:39] DarthPacer commented on #32
As discussed with Roberto, I am reopening all JavaBean related issue's I closed, as they may be useful in upcoming Semester's.

[2016-11-15 00:25] SasquatchMighty opened #174 "Tools/Widget Area"
The first element below the Dropdown Menu will be a Tools Area. This will be a place that the user can quickly select commands from, such as Copy and Paste. These will be presented as buttons with the bulk of each being an icon or image and a brief descriptive line of text below. These buttons will be organized left to right in a single row. An HBox or GridPane should be used to easily sort the bu

[2016-11-15 00:26] SasquatchMighty opened #175 "More Icons"
We need to create six icons to represent the buttons created in issue #174. These icons will represent the actions of Copy, Paste, Cut, Delete, Open and Create. These images should have dimensions that are square or nearly square. Once finished the icons should be placed in the file JFiles/src/gui/img in the team6 branch.

[2016-11-15 00:28] SasquatchMighty opened #176 "Current Directory Area"
Below the Toos/Widget Area will be the Current Directory Area referenced in issue #174. This area will inform the user where they are in the file structure by displaying the file path to their current working directory. This are should contain a label on the left displaying the text “Current Directory: ”. To the right of this a TextField will be added that extends towards the right edge of the win

[2016-11-15 00:28] SasquatchMighty opened #177 "Account for a Possible Casting Failure"
After merging the main, team6 and team3-dev branches a FindBugs warning was detected on line 194 of JFiles/src/gui/Gui.java of the team-3-6-dev branch.
Search “((JTextArea) consoleOutput).append” as the line number is subject to change.
The problem is that JTextArea is a swing component that is being cast as an AWT TextArea to be stored in an AWT container. This code functions correctly when teste

[2016-11-15 00:37] bdenlinger opened #178 "Continue work on static initializer block of XmlHandler"
The static initializer block in Xml Handler contains the XStream alias configuration and needs further work to confirm our output with the agreed upon format.

### Completion Goals ###
XML reads:
 `<field>value</field>`
Instead of:
`<entry>field</entry><entry>value</entry>`

[2016-11-15 00:47] matthews92 opened #179 "Integrate Team 3 and Team 6 GUIs"
After merging the two branches into a team 3-6 dev branch the two GUIs are still in separate classes. These two designs should be integrated to each other so that both teams can work on the same GUI. This will likely result in code creating the output text region, URL path display, and file population being moved into Team 6's frame along with the code they have written. It is ideal that the code

[2016-11-15 00:52] matthews92 opened #180 "Make Javadoc descriptions better"
Currently our GUI class was just quickly updated to stop check style from complaining about un-formatted comments while updating the Javadoc itself. The place holders are comments such as "I/O Exception Handler", instead of what the handler is doing. This issue will be completed when the current place holders are replaced with detailed information on why the exceptions might be thrown and or why t

[2016-11-15 00:54] bdenlinger opened #181 "Chained constructor for XmlHandler that takes an stream and path"
Currently, we have 2 constructors.  The first being the zero argument constructor and the second being a constuctor that takes a path and populates accordingly.  We need an additional contructor that takes a path _and_ an OutputStreamWriter.  Inside this constructor we will call the path constructor and than the send XML method.

Method header:
`public XmlHandler(Path path, OutputStreamWriter osw)

[2016-11-15 01:00] bdenlinger opened #182 "Collaborate with team 4 on the LIST command"
Collaboration work is needed to integrate the XmlHandler work into the LIST command so that it when the LIST command is processed it outputs Xml to the client.

### Completion Goals ###
Send Xml to the client
Additional issues to address needs:
 - [x] #191

[2016-11-15 01:03] bdenlinger opened #183 "Collaborate with UI teams to parse the deserialized object into their work"
UI teams also need to be aware of work done and how to use the deserialized object.

### Completion Goals ###
Work with UI teams to get object parsed
Add more issues as needed to address needs,

[2016-11-15 01:25] AlexDespain01 opened #184 "Add Functionality From Team 3 GUI into Team 6 GUI"
Team 3 and Team 6 have merged branches to the team-3-6-dev branch.

The team 3 GUI currently translates a string of XML to clickable files / folders on the screen while Team 6's GUI handles the login, and the general design of the window.

The XML parsing and file / folder displaying need to be implemented into Team 6's GUI. Assuming that Team 6 has a jpanel where files / folders are to be display

[2016-11-15 01:28] Swilloughby-github opened #185 "Create a New Branch off of Team1-Dev for Remote Objects"
To maintain the integrity of our current work on the project, it would be best if we created a separate branch off of team1-dev (titled something like team1-dev-rmi) and began work on remote object implementation. The closing conditions for this issue are simple: When we have a branch for remote objects (branching from team1-dev) on Github, we can consider this issue finished.

[2016-11-15 01:33] Swilloughby-github opened #186 "Write a Proxy Object"
For our remote object implementation, it would be best for our program if both the client and server had a proxy that they could communicate through when sending a file. When sending information, we need the client or server to be able to create a new remote object and have it handle the file transfer. For now, we should only be worried about whether or not the object can handle the transfer of in

[2016-11-15 01:37] Swilloughby-github opened #187 "Document Remote Object Implementation"
While we already have research about the Java RMI on the wiki, we need to document how our code implements RMI so that others can better understand the concept and the way our program works. While I originally envisioned method documentation on the wiki, it is clear that our project is evolving far too quickly for this to be practical. I suggest using a more technical approach such as JavaDocs. It

[2016-11-15 01:54] slyr91 commented on #185
Remember that the -dev needs to be last

[2016-11-15 03:56] kryan100 opened #188 "Create an Interface for the methods we wish to call using RMI"
Whichever class we want to call the functions of using RMI will need to implement an interface. This interface will extend Remote and contain the methods that we will want to call through RMI

[2016-11-15 04:05] kryan100 opened #189 "Merge Team 2's XmlHandler class into dev branch"
XmlHandler only requires a path and an output stream to function. With this it will generate XML at the given path and pass it to the client. With this the we will not have to worry about converting the results of our functions into XML before sending them to the client. As posted in slack the following code should generate XML of the contents at the given path, then send the XML to the client:

`

[2016-11-15 04:18] kryan100 opened #190 "Discuss issues preventing us from pushing changes to master branch"
The sooner we push to master, the fewer changes the other groups will have to make to accommodate it. The purpose of restructuring the command system has been to tackle such a significant change early on. By doing this, we can minimize the work needed for other groups to adjust. Within this issue or elsewhere, our group should be able to identify key factors preventing us from merging our branch a

[2016-11-15 12:12] bdenlinger opened #191 "List contents of directory vs. list direcotry"
Sub-issue of #182.
We need a way to differentiate between a request to list the _contents_ of a directory and the directory itself.  For now, a trailing slash should be used to indicate a request for content of a directory.  For example:
`/home/brian/git/jfiles` will result in XML of the contents of the directory.
`/home/brian/git/jfiles/` will result in XML of just that directory.

The `private v

[2016-11-15 16:35] bdenlinger commented on #191
I recall that rsync does something similar where a trailing slash means send the contents of the specified directory and no trailing slash means send the directory and it's contents.

[2016-11-15 18:34] bdenlinger commented on #191
Swapped behavior in first comment.

[2016-11-17 21:57] MichaelMorath commented on #167
Just checked and somebody already renamed it. It should be good now.

[2016-11-17 22:32] #17 closed, assigned to nobody

[2016-11-17 22:32] #152 closed, assigned to nobody

[2016-11-17 22:32] #91 closed, assigned to nobody

[2016-11-17 22:33] JDampCoder commented on #152
Closed because the search history is fixed and records searches

[2016-11-17 22:33] #85 closed, assigned to nobody

[2016-11-17 22:34] Swilloughby-github commented on #47
This issue is far outdated and poorly summarized. Checksums have been implemented in the program at this point, so this issue should be closed.

[2016-11-17 22:34] #47 closed, assigned to nobody

[2016-11-17 22:34] JDampCoder commented on #85
Closed because this completes the issues description and appends text to the history.

[2016-11-17 22:35] matthews92 commented on #82
We have created a team 3-6 dev branch and have a general idea of where the GUI is going.

[2016-11-17 22:35] #82 closed, assigned to nobody

[2016-11-17 22:36] #68 closed, assigned to nobody

[2016-11-17 22:37] matthews92 commented on #67
Check style errors are all fixed to date.

[2016-11-17 22:37] #67 closed, assigned to nobody

[2016-11-17 22:37] Swilloughby-github commented on #185
A branch has been created.

[2016-11-17 22:37] #185 closed, assigned to nobody

[2016-11-17 22:38] w012bwh commented on #133
This issue has been created for Mr. Sanchez.  There isn't a need to keep this one open when he is taking a look at the issue.  This is redundant and will be closed.

[2016-11-17 22:38] #133 closed, assigned to nobody

[2016-11-17 22:39] #154 closed, assigned to bdenlinger

[2016-11-17 22:39] #156 closed, assigned to bdenlinger

[2016-11-17 22:39] Swilloughby-github commented on #129
File transfer function has been overhauled and now works properly.

[2016-11-17 22:39] #129 closed, assigned to nobody

[2016-11-17 22:39] #157 closed, assigned to bdenlinger

[2016-11-17 22:39] cunningham124 commented on #118
Swilloughby-github Created Wiki pages for:
RMI Overview
Implementing a Remote Interface
Parameter Passing in Remote Method Invocation
Locating Remote Objects
Remote Server-Client Programs

[2016-11-17 22:39] #118 closed, assigned to nobody

[2016-11-17 22:39] MichaelMorath commented on #167
closing this issue as it is completed.

[2016-11-17 22:39] #167 closed, assigned to MichaelMorath

[2016-11-17 22:40] #115 closed, assigned to Christofo

[2016-11-17 22:40] Swilloughby-github commented on #160
I wrote up a test plan concerning this on the wiki.

[2016-11-17 22:40] #160 closed, assigned to nobody

[2016-11-17 22:40] randymusser commented on #99
File and folder icons have been implemented into the gui.

[2016-11-17 22:40] #99 closed, assigned to nobody

[2016-11-17 22:40] MichaelMorath commented on #166
closing this as it is completed.

[2016-11-17 22:40] #166 closed, assigned to MichaelMorath

[2016-11-17 22:40] MichaelMorath commented on #165
Closed because it is completed.

[2016-11-17 22:40] #165 closed, assigned to MichaelMorath

[2016-11-17 22:40] Swilloughby-github commented on #117
Summary has been posted.

[2016-11-17 22:40] #117 closed, assigned to nobody

[2016-11-17 22:41] matthews92 commented on #108
The area for the file path to be displayed in has been finished and is populated with the initial location, further work could be done to edit it as the user moves locations in the file tree.

[2016-11-17 22:41] #108 closed, assigned to nobody

[2016-11-17 22:41] #153 closed, assigned to nobody

[2016-11-17 22:41] joyceje commented on #119
Below commits cleaned up the code and made sure it ran in ANT and Clean Bugs
Commit ID: 7be5a4f853c60ca67a093aa269fc211bee8e193c

Commit ID: 066f4dd139f815249801a2702b03ca30ed5779be

[2016-11-17 22:41] #119 closed, assigned to nobody

[2016-11-17 22:41] tytrip commented on #158
I am closing this issue because this was completed via commit a8d71bf

[2016-11-17 22:41] #158 closed, assigned to bdenlinger

[2016-11-17 22:42] btdugas commented on #124
In conclusion:
Merged branch between team 3 and team 6
Commit: baf34a67f5cc5993874b825d0bae351089fb1917

[2016-11-17 22:42] #124 closed, assigned to nobody

[2016-11-17 22:42] Swilloughby-github commented on #104
Encryption isn't necessary to this project, and at this point we don't have enough time to properly implement it. I'm closing this issue.

[2016-11-17 22:42] JDampCoder commented on #153
I merged kryan100s code and ran it. It works and the find command is fixed.

[2016-11-17 22:42] MichaelMorath commented on #155
Closing because the issue is completed and merely waiting to merge to master.

[2016-11-17 22:42] #155 closed, assigned to bdenlinger

[2016-11-17 22:42] matthews92 commented on #110
These icons have been created and are in the current implementation.

[2016-11-17 22:42] #110 closed, assigned to nobody

[2016-11-17 22:43] #113 closed, assigned to nobody

[2016-11-17 22:43] Swilloughby-github commented on #49
Our program appears to have working checksum functions. This issue seems to be outdated, so I'm closing it.

[2016-11-17 22:43] #49 closed, assigned to nobody

[2016-11-17 22:44] randymusser commented on #142
gui class refactored to be inline with standards.

[2016-11-17 22:44] #142 closed, assigned to AlexDespain01

[2016-11-17 22:45] randymusser commented on #131
parsing code moved to parser class.

[2016-11-17 22:45] #131 closed, assigned to nobody

[2016-11-17 22:45] matthews92 commented on #148
This part of the GUI is now scrollable.

[2016-11-17 22:45] #148 closed, assigned to nobody

[2016-11-17 22:45] Christofo commented on #120
The table structure has been added to the wiki.

[2016-11-17 22:45] #120 closed, assigned to nobody

[2016-11-17 22:45] btdugas commented on #125
This issue is too ambiguous for any further progress.
Something of the like will return in the future but in a more structured manner.

[2016-11-17 22:45] randymusser commented on #130
xml parsing now uses xpath rather than node traversal.

[2016-11-17 22:45] #130 closed, assigned to nobody

[2016-11-17 22:46] cunningham124 commented on #162
https://github.com/rsanchez-wsu/jfiles/wiki/Thread-Management-Test

[2016-11-17 22:46] #162 closed, assigned to nobody

[2016-11-17 22:46] TiberiusMagnus commented on #123
We as a team decided to work on other visual items of the Client Side GUI. This may be a worth willed objective in the future; however, team 6 will not be executing this feature.

File Path: ClintSideGui.java
Commit: e8b5cdae211225b5bd95df9d253a82a748d5baca

[2016-11-17 22:46] #123 closed, assigned to nobody

[2016-11-17 22:47] cunningham124 commented on #161
https://github.com/rsanchez-wsu/jfiles/wiki/Checksum-Test

[2016-11-17 22:47] #161 closed, assigned to nobody

[2016-11-17 22:47] tytrip commented on #121
Collaboration was completed and team 4 will continue work on this via issue #164.

[2016-11-17 22:47] #121 closed, assigned to tytrip

[2016-11-17 22:47] Swilloughby-github commented on #136
I believe that our code has been cleaned up to the point that we can  consider this issue closed.

[2016-11-17 22:47] #136 closed, assigned to nobody

[2016-11-17 22:48] kryan100 commented on #9
Although the issue is vague, commit https://github.com/rsanchez-wsu/jfiles/commit/51bdd660919fef3f74698680d2a5bc46b040431a has been determined to adequately accomplish the intended functionality defined in this issue.

[2016-11-17 22:48] #9 closed, assigned to nobody

[2016-11-17 22:55] w012bwh commented on #122
This issue pertains to ClientSideGui.java. This is something that we cannot get to by the end of the semester. This is something that a future team will have to devote more time to, in order to finish this issue.

[2016-11-17 22:55] joyceje commented on #144
Commit ID: b542dbb95f33c9c4cfe60f9b352f130772a8c47e

[2016-11-17 22:55] #144 closed, assigned to nobody

[2016-11-17 22:56] joyceje commented on #139
We are no longer going in this direction, and are going to implement JavaDocs

[2016-11-17 22:56] #139 closed, assigned to nobody

[2016-11-17 23:11] btdugas commented on #151
This is one of the steps involved in issue #122

[2016-11-18 23:10] SasquatchMighty commented on #177
Commit 5a50586 resolves this issue.

[2016-11-18 23:10] #177 closed, assigned to SasquatchMighty

[2016-11-19 04:32] SasquatchMighty commented on #174
Commit 31d5662 resolved this issue. Currently the HBox containing the buttons expands and consumes nearly the entire window. This will change as more objects are added and the available space is consumed.

[2016-11-19 04:32] #174 closed, assigned to SasquatchMighty

[2016-11-20 14:04] bdenlinger commented on #178
The only thing I feel we have left is a converter for the Map object.  That is... of course the hardest part.

[2016-11-21 01:52] #172 closed, assigned to BrandAllred

[2016-11-21 03:44] Dorkatron199 commented on #92
## NOTE:

Here is the link to the Java documentation for this class. [`ProcessBuilder`](http://docs.oracle.com/javase/7/docs/api/java/lang/ProcessBuilder.html)

[2016-11-21 04:41] Dorkatron199 commented on #146
@srodriguez4 @Link801 @BrandAllred @Dorkatron199

The API is up, so we now need each of our team members to choose whether to sign off or not. I didn't think to ask Brand while he was on earlier tonight, but he will see it eventually. I will keep this issue (and thus the milstone) open just a little bit after it's due date so that all of our team members have an opportunity to sign off.

[2016-11-25 18:22] rsanchez-wsu commented on #125
Let's keep this open in case someone wants to adopt it in the future.

[2016-11-25 18:24] rsanchez-wsu commented on #151
@btdugas I'm afraid I don't understand.  You have not given a valid reason for closing this issue.  If it is a step of #122, then #122 should be annotated as being blocked by this issue.  Then once this issue is actually complete, #122 can be properly annotate that the step is complete and that #122 is no longer blocked.

[2016-11-25 22:55] rsanchez-wsu commented on #87
After reviewing this issue and #141, it seems like the CheckStyle problem with log4j2.xml should be handled separately.  That is the nature of #141, so I am closing this issue and the CheckStyle piece can be handled under #141.

[2016-11-25 22:55] #87 closed, assigned to rsanchez-wsu, bdenlinger

[2016-11-25 23:34] #141 closed, assigned to DarthPacer

[2016-11-26 00:05] rsanchez-wsu commented on #69
@joyceje What was the rationale for closing this issue?  Was it completed?  If so, how?  If not, why/how was the decision made to close and what is the follow-on plan if any?

[2016-11-26 00:05] rsanchez-wsu commented on #70
@joyceje What was the rationale for closing this issue? Was it completed? If so, how? If not, why/how was the decision made to close and what is the follow-on plan if any?

[2016-11-26 00:08] rsanchez-wsu commented on #100
@joyceje What was the rationale for closing this issue? Was it completed? If so, how? If not, why/how was the decision made to close and what is the follow-on plan if any?

In this case there is a commit (68bd68a) associated with this issue, but that commit's message only references this issue, it does not claim to fix it.  If the commit in fact fixes this issue, then a comment should have been ma

[2016-11-26 00:08] rsanchez-wsu commented on #102
@joyceje What was the rationale for closing this issue? Was it completed? If so, how? If not, why/how was the decision made to close and what is the follow-on plan if any?

[2016-11-26 00:09] rsanchez-wsu commented on #101
@joyceje What was the rationale for closing this issue? Was it completed? If so, how? If not, why/how was the decision made to close and what is the follow-on plan if any?

Does commit (c87db1b) close this issue?  If so, then please state that explicitly.  The message for that commit only references this issue without claiming to fix it.

[2016-11-26 00:11] rsanchez-wsu commented on #103
@joyceje What was the rationale for closing this issue? Was it completed? If so, how? If not, why/how was the decision made to close and what is the follow-on plan if any?

The indication from the comment above by @DarthPacer is that he and @cunningham124 implemented this and then were waiting for the commit to be pushed.  Perhaps that commit did not include a reference to this issue in the messag

[2016-11-26 00:16] rsanchez-wsu commented on #120
@Christofo Where on the wiki?

[2016-11-26 01:00] rsanchez-wsu commented on #150
@masters1222 This issue should probably be fleshed out with some details in terms of which methods will change over first, how they will be tested, etc.

[2016-11-26 03:40] rsanchez-wsu commented on #160
@Swilloughby-github Can you provide a link to the test plan on the wiki?

[2016-11-26 05:07] Swilloughby-github commented on #160
https://github.com/rsanchez-wsu/jfiles/wiki/Test-Plan:-File-Transfer

https://github.com/rsanchez-wsu/jfiles/wiki/Checksum-Test

https://github.com/rsanchez-wsu/jfiles/wiki/Thread-Management-Test

[2016-11-26 06:05] rsanchez-wsu commented on #160
@Swilloughby-github Thanks!

[2016-11-27 04:01] rsanchez-wsu commented on #129
@Swilloughby-github By which commits?

[2016-11-27 04:03] rsanchez-wsu commented on #118
@cunningham124 Please provide links for the wiki pages.

[2016-11-27 04:05] Dorkatron199 commented on #171
## Update:

I have finished up the last of our FindBugs and CheckStyle issues for team5-dev. The charset issues took a bit, but I found a way to get it working.

The only issues left are things that simply don't need to be fixed. FindBugs wants us to return arrays of 0 elements, when we're returning null. This is to differentiate a folder with 0 contents from a file, which is ironically what they

[2016-11-27 04:08] rsanchez-wsu commented on #117
@Swilloughby-github Please provide a link to the wiki content.

[2016-11-27 04:09] rsanchez-wsu commented on #104
Let's keep this open in case it becomes useful later on down the road.

[2016-11-27 19:50] rsanchez-wsu commented on #66
@Dorkatron199 I think the policy looks fine.  I have no objections.

[2016-11-27 20:17] Dorkatron199 commented on #66
@rsanchez-wsu Thanks! I will move forwards with the posting of this policy. I will copy the link here once it is posted.

[2016-11-28 02:15] Dorkatron199 commented on #66
@rsanchez-wsu It is posted. It can be reviewed [here](https://github.com/rsanchez-wsu/jfiles/wiki/Team-5-Policies).

I <b>did</b> update it a little in the hopes of being a bit more clear and to change the context to that of a wiki rather than in reference to this specific issue. Please re-review the policy and confirm that it is still acceptable at some point. Some of the changes are big; not in

[2016-11-28 20:56] SasquatchMighty opened #192 "Search Area"
Below the Current Directory Area referenced in issue #176 will be a Search Area. This Search Area will consist of a button and a text field. The idea being that a user types a key word into the text field then presses the button to launch a search of the file structure. The button should contain the Prompt Messages “Search”. When pressed it should collect the text field input and store it into a v

[2016-11-28 20:58] SasquatchMighty opened #193 "Output Area"
Below the Search Area referenced in issue #192 will be an Output Area. This area will be where messages and notifications are displayed to the user. For the moment this area will just receive a label as a place holder. This label should contain text, and its font color should be set to red. The label should span nearly the entire window horizontally but it should be set to be invisible. This is be

[2016-11-28 21:03] Dorkatron199 commented on #146
@BrandAllred @Link801
While posting our policies o the wiki, I re-arranged our pages to a more logical format. Please review our current wiki page and the changes I made and respond so that I can close this issue.

Also, is it okay if I remove the two documents for our files since those will most likely be replaced by the java docs at some later point?

[2016-11-28 21:49] matthews92 opened #194 "Adjust Branch to Accommodate new Checkstyle Warnings"
As of November 25th checkstyle was changed on the master branch, this issue serves to adjust our branch to fix what new checkstyle issues may show up in our code. This can be fixed by either merging the team 3 dev branch with master or adjusting the checkstyle setting currently in our branch to match those of commit 2722439. This issue will be complete when either option is chosen and the resultin

[2016-11-28 22:01] matthews92 opened #195 "Run a successful ant clean test on our branch"
To my knowledge, our code has not been run through ant yet. We are not supposed to merge to master until an 'ant clean test' is run. This should be done to prepare the next class to take over our code without being hindered right off the start. This also allows us to push the branch to master and allow other teams to use the code more safely. This issue will be complete when an indication by Travi

[2016-11-29 00:24] Swilloughby-github opened #196 "T1-M9"
As the semester is coming close to a wrap-up, we need to adjust our branch of the program so that it's quality and style are consistent with the work of the other teams. As our code has gone through many changes, there are a great deal of obsolete aspects that need to be changed or deleted. The work for this week's milestone can be summarized in the following list:

1. The instructor adjusted the

[2016-11-29 00:25] #196 closed, assigned to nobody

[2016-11-29 00:28] Swilloughby-github opened #197 "Remove Obsolete String Array From Client"
The way the program functions now, the user is asked what file they wish to send/receive when they execute the command. It used to accept an argument alongside the command, and the argument was identified by dividing the entered string into an array. This argument is no longer used as it is now decided when the method is called rather than before. This issue can be considered resolved when the arr

[2016-11-29 00:30] Swilloughby-github opened #198 "Merge Master & team1"
Modifications to the project's Checkstyle settings have been pushed to master. We now need to merge master with team1 and address any complaints that Checkstyle brings up on our branch.

- [ ]  commit is made with this change
- [ ] branch is free of Checkstyle errors

[2016-11-29 00:33] Swilloughby-github opened #199 "Add filename-copy Files to .gitignore"
Originally, our program created a new file named in the format "filename-copy.txt" when transferring files. This function is obsolete in our programs current state. We need to make a commit with the test file and the copy of that file added to .gitignore so that they do not show up every time someone pulls a commit from GitHub. Consider this issue closed when the demo.txt and demo-copy.txt files a

[2016-11-29 01:04] bdenlinger opened #200 "Remove throws IOException from sendXml"
Rather than throwing the exception to be handled later, the exception should be caught and logged at the time it is thrown.  It should be surrounded with a try catch block.

[2016-11-29 01:12] bdenlinger opened #201 "Clarify when IOException is thrown in populateArray"
populateArray throws an IOException.  We need to figure out when exactly this happens.  Ideally, it should only happen when a path exists, but we don't have access.  It may also occur when an error happens.

This information should be included in the javadoc of the constructors as they will throw the same IOException.

[2016-11-29 01:20] bdenlinger opened #202 "Remove fileSystem.dtd from common package"
As it is no longer needed, we need to remove the dtd from the common package.

[2016-11-29 01:55] DarthPacer commented on #182
@bdenlinger is this done?

[2016-11-29 02:57] AlexDespain01 opened #203 "Create a Right Click Menu"
Our GUI should have a right click menu when right clicking an individual file, that contains options such as copy, paste, cut.

(very basic mock up)
![right_click_menu](https://cloud.githubusercontent.com/assets/9289570/20694712/286e3c52-b5b5-11e6-9d76-bcf57a2bc141.png)

This should appear next to the file the has been right clicked, possibly even as a layered menu that floats above the jframe, an

[2016-11-29 02:58] AlexDespain01 opened #204 "Implement Basic File Operations"
Relies on #203.

We should begin implementing basic file operations such as cut, copy, paste, etc. I believe one of the teams has many of these functionalities already working. These could be imported and used in the GUI.

Steps to resolve:

1.) Determine team working on this and collaborate on how to incorporate into the GUI
2.) Possibly merge to obtain the needed classes
3.) Include these classe

[2016-11-29 04:21] Dorkatron199 opened #205 "Discuss How Test Code Should Work"
Need to read over the descriptions for what each method in the API testing class does and determine whether all of the descriptions are up-to-date for the class. If not, we need to discuss any changes that must be made either to the code or the description. It is okay if the code does not match the description exactly, so long as the description adequately described where we want the code.

[2016-11-29 04:23] Dorkatron199 commented on #171
This issue should be tackled first.

[2016-11-29 04:26] Dorkatron199 commented on #168
This has been moved forwards to ensure that Sergio has something to work on this week.

[2016-11-29 07:37] kryan100 commented on #190
The new command structure has been determined to be the biggest deterrent. We as a group decided that the implementation we tried to use was overly complicated, and should thus be replaced by a far more simple solution.

[2016-11-29 07:37] #190 closed, assigned to nobody

[2016-11-29 11:20] bdenlinger commented on #181
Closed in commit https://github.com/rsanchez-wsu/jfiles/commit/212a5650d0c0d04def49cbe3e75b3257dd87d329

[2016-11-29 11:20] #181 closed, assigned to DarthPacer, tytrip

[2016-11-29 11:20] bdenlinger commented on #182
They've not attempted to use it, so we can't close it yet.

[2016-11-29 11:21] bdenlinger commented on #191
Closed in commit https://github.com/rsanchez-wsu/jfiles/commit/10c853071a05de31d81e83b35c82b5bbbbece8e2

[2016-11-29 11:21] #191 closed, assigned to bdenlinger

[2016-11-29 12:02] DarthPacer opened #206 "Prepare and push 'Team 2' branch to Master"
I am completed with this issue, once the following have been resolved:
- [x] All Check-Style issues have been fixed
- [x] All Find Bugs issues have been fixed
- [x] Code has been well commented and documented
- [x] Ant completes a clean build of the 'Team 2' branch
- [x] 'Team 2' branch has been pushed to Master

[2016-11-30 17:07] #202 closed, assigned to bdenlinger, DarthPacer

[2016-11-30 17:12] DarthPacer commented on #202
@rsanchez-wsu The issue called to the delete the .dtd file, I was unsure whether or not we wanted to preserve the work we did before changing approaches so instead, i created a new package called "RetiredClasses", and stored the .dtd file in there. Is this the wrong approach? should I just delete the file ?

[2016-12-02 11:06] #201 closed, assigned to bdenlinger

[2016-12-02 11:06] #200 closed, assigned to bdenlinger

[2016-12-02 11:14] bdenlinger opened #207 "Rewrite FileStruct to store basic attributes as objects instead of strings"
In order for the FileStruct to be more useful, we need the attributes to be stored in their native format instead of strings.  The current way of gathering the attributes, Files.getAttribute(...),  returns objects already.  We should be able to change the Map to <string,Object>.  Actual object types, per [BasicFileAttributeView](https://docs.oracle.com/javase/7/docs/api/java/nio/file/attribute/Bas

[2016-12-02 18:57] #207 closed, assigned to nobody

[2016-12-02 19:10] DarthPacer opened #208 "Remove Inactive 'Team 2' Branches"
As discussed with @bdenlinger, we are deleting the 'Team 2-5-collab' and 'Team 2-5-dev' branches as they are inactive and no longer needed.

[2016-12-02 19:36] DarthPacer commented on #208
Branches have been removed. We have kept open Team 2 and Team 2-dev, we will close those together once we merge back into master for the last time.

[2016-12-02 19:36] #208 closed, assigned to DarthPacer

[2016-12-03 13:13] bdenlinger opened #209 "Calculate numeric representation on POSIX permissions"
In addition to the rwx representation of the permissions, we should also include the octal  representation of the permissions.

[2016-12-03 13:16] #178 closed, assigned to Christofo, bdenlinger

[2016-12-03 13:16] #209 closed, assigned to nobody

[2016-12-04 00:34] Swilloughby-github commented on #197
It turns out the array actually is needed. I misjudged the state of our code at the time I wrote this issue.

[2016-12-04 00:34] #197 closed, assigned to nobody

[2016-12-04 00:37] Swilloughby-github opened #210 "Client not recognizing command"
So I try to input a FILE command while testing out the program. The program will not recognize the command, and instead just endlessly outputs the "Command not found" string until the program is ended. This has to be due to a recent commit. Obviously, this issue can be considered fixed when the program can at least detect one of the integrated commands and execute accordingly.

[2016-12-04 14:23] DarthPacer commented on #183
@bdenlinger What is the status on this one ?

[2016-12-04 22:19] rsanchez-wsu commented on #196
@Swilloughby-github What was the reason behind closing this issue?  Is there a commit that took care of items 2 and 3 on your list?  Did master also get merged in at some point?

[2016-12-04 22:44] rsanchez-wsu commented on #199
It is also possible to use wildcards or file globs in .gitignore.

[2016-12-04 22:48] rsanchez-wsu commented on #202
@DarthPacer I would rather just have it be deleted.  The issues and commit history describe what has happened (assuming decent summaries and descriptions).  We can always reconstruct/restore it from history later if needed.

[2016-12-04 22:58] rsanchez-wsu commented on #210
@Swilloughby-github I haven't looked to see what has been merged into your branch, but this commit may be related: c24929e

[2016-12-05 02:15] btdugas opened #211 "Summarize final thoughts on team 6 wiki page"
On Thursday, 12/1, we as a team discussed how we would use the last week of classes on the project.  One suggestion was to write up some final thoughts in the team's wiki page.
This will be an effort for all team members to compile their final thoughts in the wiki page for team 6.

[2016-12-05 02:17] btdugas opened #212 "Remove old milestones and link old issues to newer relevant issues"
With the last milestone taking effect in the last week of classes, it is important that we close all old milestones. However, we will not close the issues contained in them but rather reference in comments to newer issues.

[2016-12-05 02:45] DarthPacer commented on #206
Everything is working and ready to be merged. When i attempted to merge, I was getting conflicts and was unsure how to resolve them; as I have not merged before. I opted to not merge, and reverted back to how it was.  Nothing was affected by me doing this and Is ready for someone else to merge it into master. All bugs and checkstyle issues have been resolved.

[2016-12-05 03:55] kryan100 opened #213 "Resolve all warnings before master merge"
Before we can push to master, we need to resolve all warnings. Currently these include:

- [x] Deprecated stop() method in JFilesServer, JFilesServerThread, and JFilesClient
- [x] Deprecated readLine() method in JFilesClient
- [x] Unused variable "server" in JFilesServer (We can probably suppress this one)
- [x] Unused variable "client" in JFilesClient (Probably suppress this one too)

[2016-12-05 22:02] matthews92 opened #214 "Merge Our Branches to Master"
The team 3 and team 3 dev branches need to be merged to master. We also have code in a team 3-6 dev branch that we should make sure gets merged to master.  This issue can be closed when each of these branches are merged. This issue is dependent on #195 to a degree, but it will need to be done to each branch merged.

[2016-12-06 00:28] DarthPacer commented on #183
@ChronoAnomaly Confirmed the changes on SLACK in the team4 channel. I am closing this issue and will proceed with merging into master.

[2016-12-06 00:28] #183 closed, assigned to nobody

[2016-12-06 01:01] Swilloughby-github opened #215 "Make Final Comments in Code"
Write comments all throughout our code that explains all functions and why they are implemented. As usual for documentation-based issues, the close conditions for this are ambiguous and rely on our judgement of how well our code is explained in the comments.

[2016-12-06 01:05] Swilloughby-github opened #216 "Document Methods/Classes"
Review, understand, edit, and add on to the comments previously written by team1 to clearly understand the code written and its uses. Descriptions should include method names, parameters, packages, return types, and a brief overview of what each method does. Class descriptions should have an overview, package, and listings of all constructors. We should document this information using either wiki,

[2016-12-06 01:08] Swilloughby-github opened #217 "Fix Checkstyle and/or Findbugs Issues"
Fix any CheckStyle and/or FindBugs issues our code has, or at least reduce these issues to as few as possible. Best-case scenario, be able to run ant clean test without any issues being found. We can close this issue after we've cleared as many of these CheckStyle and/or FindBugs issues from our code as possible.

[2016-12-06 03:35] DarthPacer commented on #182
@ChronoAnomaly Confirmed the changes on SLACK in the team4 channel. I am closing this issue and will proceed with merging into master.

[2016-12-06 03:35] #182 closed, assigned to nobody

[2016-12-06 03:36] DarthPacer opened #218 "Update Team 2 Wiki"
This is completed when the Team 2 wiki pages have been created/updated to reflect all work that has been completed and all failed/attempted/previous methods we did over the course of the semester.

[2016-12-06 03:38] DarthPacer opened #219 "Cleanup our Issues"
Go back through all open/closed issues and ensure all issues that are completed by us, are documented with the proper wiki page to look at to know more information; and any commit ID's associated with them. Additionally, we need to ensure all open Issues are valid, and none are no longer needed/already completed.

[2016-12-06 03:39] DarthPacer opened #220 "Insert a 'Reflection' Entry into Team 2 Wiki"
I know I am done, when a page exists on the Team 2 Wiki, that has a short reflection on the semester. The reflection can include what we learned, what we did, and what we would like to become of the project.

[2016-12-06 03:40] DarthPacer commented on #220
I know I am done, when a page exists on the Team 2 Wiki, that has a short reflection on the semester. The reflection can include what we learned, what we did, and what we would like to become of the project.

[2016-12-06 03:42] DarthPacer opened #221 "Create a 'Future Ideas' page on the Team 2 Wiki"
I know I am done, when all currently 'Future Ideas' are moved to a new page and more ideas are added on. This will provide the new students with some ideas to get them started in the first couple weeks.

[2016-12-06 04:02] Dorkatron199 commented on #173
For Milestone 10, we need to clean up all of our code, that includes the code from this commit.

[2016-12-06 04:14] Dorkatron199 commented on #146
I have just removed the excess pages (Week 1 Material, the two Milestones, and the two method classes) from the table of contents and deleted the two method pages entirely. The Java docs will handle these. I am now closing this issue.

We have more wiki pages to make, but they need to be made in a separate issue.

[2016-12-06 04:14] #146 closed, assigned to srodriguez4

[2016-12-06 04:22] Dorkatron199 opened #222 "T5-M10-I4: Create a Team 5 Goals and Objectives Wiki Page"
I had initially started a page detailing the goals and objectives of Team 5, and even got quite far, but then mistakenly closed the page losing my work. This page would be greatly useful to more accurately describe what the goals of the team is. Where the File API Wiki is about the objectives of the code, this wiki will be more about the team overall. This is what we want to accomplish in a more b

[2016-12-06 04:24] Dorkatron199 opened #223 "T5-M10-I5: Current Ideas Wiki"
This will simply be a wiki for whatever the heck ideas we have for the next team to build off of. These can be big or small, many or few, but we need them to have stuff to do. Have an idea? Add it to this page.

[2016-12-06 04:56] kryan100 opened #224 "Add thorough documentation to wiki"
Improved on to avoid confusion for next semester. Unless we determine otherwise, the wiki could still use documentation for:
- [ ] Command Structure, including all the classes involved and what they do. eg. clarify the difference between the Argument class and the Arguments class.
- [ ] Format for new commands so that other teams can easily develop new functions and seamlessly integrate them with

[2016-12-06 11:46] DarthPacer opened #225 "Delete the 'Team 2' and 'Team 2-dev' branches."
After the code has been merged and verified into the master branch, we should delete the 'Team 2' and 'Team 2-dev' branches. This will allows the Spring students to start with a clean slate of branches.

[2016-12-07 12:11] DarthPacer commented on #220
I have created the page, and put under 'Team 2' -> 'Thoughts and Ideas for future'. Everyone has the opportunity to write up a reflection about this semester as it regards to the project and this class. I created an opening paragraph, but this will probably be modified before the end of week; as the wording is still not right. Additionally, I am open to suggestions for renaming the sub portion of

[2016-12-07 12:15] DarthPacer commented on #221
I have created a page under the team 2 wiki page. I plan to further develop this as the week progresses.

[2016-12-07 17:49] DarthPacer commented on #221
Ideas from last Thursday have been moved to the new page. I encourage everyone on the team, to continue thinking of ideas and putting them on the page.

[2016-12-09 15:00] DarthPacer commented on #218
Wiki has been updated and reorganized to flow more fluently. I believe this issue is ready to be closed, as the remaining updates are on the reflections and future idea pages; which have their own stories.

Commits used to update wiki:
99b7522
91a7a2c
73901b5
1481e48
fd0f89f
7c6d842
59acc14
763752b
4546584
d6a56b3
f9ff008

[2016-12-09 15:00] #218 closed, assigned to nobody

[2016-12-09 15:01] DarthPacer commented on #220
Renamed the sub-portion of the wiki and reorganized the page layouts. Additionally, updated my reflection and encourage the rest of the team to do-so aswell.

Commits:
3d38c93
b766887

[2016-12-09 15:07] DarthPacer commented on #221
Pages have been modified, with all future ideas moved and previous brainstorming session ideas that were never implemented (to my knowledge). I have added them onto the page, and encourage the rest of my team to continue developing these ideas.

Commits:
cf3e7d1
2111ccb
9e946dd
a007708
a4bfc31
ed4651c
3d4cdc1
a81e4e6

[2016-12-10 21:08] matthews92 commented on #194
Check style for gui.java and ClientSideGui.java are all updated.

[2016-12-10 21:08] #194 closed, assigned to nobody

[2016-12-10 21:09] matthews92 commented on #180
Javadoc descriptions for exceptions have better information.

[2016-12-10 21:09] #180 closed, assigned to nobody

[2016-12-10 21:19] matthews92 commented on #184
Updated issue description to add in the very similar issue #179 and closed #179 to avoid confusion.

[2016-12-10 21:20] matthews92 commented on #179
This goal was somewhat duplicated in #184, description has been added there.

[2016-12-10 21:20] #179 closed, assigned to nobody

[2016-12-10 21:41] matthews92 commented on #50
This issue consists of a bunch of smaller issues that would all need separate issues that could each be large issues on their own. Not all of these concerns are directly related to the GUI and could already have work on them from other teams. It would be better to have the next development teams to create these issues on their own as they come to them rather than create them now.

[2016-12-10 21:41] #50 closed, assigned to nobody

[2016-12-11 20:04] MichaelMorath commented on #220
I've added my entry to the reflection page.

[2016-12-11 23:08] ghost opened #226 "NEEDS MOVED TO THE WIKI: How to: Import and Implement The Bootstrap CSS Library with the GUI"
Bootstrap is one of the worlds most popular styling libraries for the web. To enhance the visuals in the GUI we can let this library style it with a more modern style.

Download the bootstrap library at: http://getbootstrap.com/getting-started/#download. I recommend downloading the minified version to have a reduced size copy.

Import the library into your project.

To implement bootstrap in JavaF

[2016-12-12 13:10] DarthPacer commented on #220
Seems everyone did on who wanted too, so I am closing this issue as no more work is going to be done on the project; and this can't really be continued by another group of students.

[2016-12-12 13:10] #220 closed, assigned to nobody

[2016-12-12 13:11] DarthPacer commented on #221
Closing this issue, as the team seems to be done contributing to future ideas.

[2016-12-12 13:11] #221 closed, assigned to nobody

[2017-01-13 04:25] LoganRickert opened #227 "JFiles CommandLine Does Nothing After Initial Input"
Branch: Master
Package: edu.wright.cs.jfiles.client
File: JFilesClient.java

Issue:

The commandline tool does nothing after you give it an initial input. It only writes the first line to output then flushes.

Example IO:

[code]

[2017-01-13 05:29] LoganRickert commented on #227
Did some more further digging and testing and the server appears to receive the command okay. The issue seems to be that the client is not receiving the feedback from `JFilesServer.send(String)`. Unsure if the issue is that the `JFilesServer.send()` method is malfunctioning or the `JFilesClientThread.run()` method is malfunctioning.

[2017-01-13 05:49] LoganRickert commented on #227
After digging further, it appears that the command is successfully sent to the server and processed. The  issue is that the JFilesClientThread.run() method is never called. The reason this happens is because the thread is never started. By adding `client.start();` below the declaration of the thread in `JFilesClient`, the problem is fixed.

[code]

The reason a new prompt is never shown is because

[2017-01-14 04:23] LoganRickert commented on #227
This issue has been resolved with commit b8f8445a91c3104cb3f2dfd596369a47ae1ab8ce

[2017-01-14 04:23] #227 closed, assigned to nobody

[2017-01-14 04:42] LoganRickert opened #228 "Refining Table Of Contents"
I feel that the table of contents for the wiki should be refined. The primary issue I have with the wiki's table of contents is that it cannot be carried over from one semester to the next. If last semester's team 2 worked on the core package and this semester's team 8 works on the core package, the title will have to be changed to `team 2 and team 8`, and so on. It seems to be that it would be a

[2017-01-14 05:18] LoganRickert commented on #210
I think this issue has been resolved. The issue is not present on master and it seems the way commands are handled now have been changed at some point, though I was unable to track down when.

I tested out the server with the following both commented out and not commented out:

[code]

in server.JFilesServer and received the following output:

[code]

The file command and invalid commands seem to

[2017-01-14 05:25] LoganRickert opened #229 "Find/R Command With No Parameters Throws Exception"
Branch: Master
Package: edu.wright.cs.jfiles.server
File: JFilesServer.java

Issue:

When sending just `find` or `findr` with no parameters to the server, the server throws an array index out of bounds exception. The server is still able to accept new connections and procecss them without issue, but the connection that ran the `find` / `findr` command terminates.

Example IO:

[code]

[2017-01-14 13:49] rsanchez-wsu commented on #210
@LoganRickert This is likely a problem on the one of the team1 branches.  Most likely it is team1-dev.  I would check there.

[2017-01-14 13:51] rsanchez-wsu commented on #228
This looks excellent.  If there are no other suggestions from other folks, I am OK with you reorganizing the wiki in this way.

[2017-01-14 17:51] mdgilene opened #230 "GUI System needs rework to incorporate CSS styling rather than hardcoding"
Right now all the GUI elements are styled directly in the code which is tedious to create in the first place. Also the current implementation doesn't allow for easily applying the same style to multiple elements and makes any changes difficult due to having to manually change them everywhere they appear.

The current styling can be easily extracted and transferred to a stylesheet that can be appli

[2017-01-14 18:10] rsanchez-wsu commented on #230
I agree that this would be a very good thing to do.

[2017-01-14 19:10] mdgilene commented on #230
Side note: In my eclipse environment I had to add the JavaFX JDK library to the build path. Without it in the build path, eclipse was giving me warnings about unrecognized properties in the CSS file. Not sure if this is actually necessary or not but thought I would mention it.

[2017-01-14 19:21] LoganRickert commented on #210
I had a look at all of the team1's branches and it seems their code is pretty different from master. They don't even support the same commands.

[2017-01-14 19:32] rsanchez-wsu commented on #210
Yes, their code is quite different.  Team 1 was the one that had the student in California who re-implemented the entire networking component.  I intended to review the code and try to integrate over Christmas break, but that didn't happen.  Feel free to take a crack at it or at least to look at the code in depth and make some recommendations.

[2017-01-14 20:05] rsanchez-wsu commented on #210
@LoganRickert if you are interested in working on this, I suggest you get in touch with @joyceje here or in Slack (he has joined our team and joyceje is his username in Slack as well). He was the lead for team 1 and he has the best understanding of the code on those branches.

[2017-01-14 20:53] LoganRickert opened #231 "Formalizing Server Commands"
Hey everyone,

I just wanted to open a discussion about creating a formal design for commands. Currently, it appears as though server commands were just added at will. This appears to have caused some complications as multiple branches not only have different implementations of commands, but different commands all together with no consistency.

Some Examples:

* [master](https://github.com/rsanche

[2017-01-14 21:13] mdgilene commented on #231
Is there any current implementation limitation that is limiting us to on 4 characters for the command? If all commands sent to the server are space-separated then it should be easy to pick out the command as the first token in the string.

Another thought is that it might be useful to reuse the names of commands from a typical Linux shell for our shell. For example, instead of SCWD, this performs

[2017-01-14 22:14] LoganRickert commented on #231
The reason I went with a four character set is because FTP commands are generally all four characters long. You are correct that they could be any length without issue.

I like your idea for following Bash shell syntax. I think that if we discard the idea of having commands be four characters long and instead fit with the Bash shell syntax convention, it will indeed be easier to understand and lea

[2017-01-14 22:41] mdgilene commented on #231
Our flags certainly do not need to be as complex as they are with some bash commands. We could simplify it. For example our flags could follow the following format.

`cmd -flag:[param]`

Parameters would be optional.

[2017-01-14 22:50] LoganRickert commented on #228
I've gone ahead and:

* Added the proposed sidebar edit to the sidebar (kept the teams at the bottom).
* Added a `pages` section to each team page at the top with that team's table of contents
* Removed each team's table of contents from sidebar.

I think if there are no objects with this edit, it should be okay to close this issue.

[2017-01-14 22:51] rsanchez-wsu commented on #228
I like how it looks.  I am OK with closing the issue.  Very nice job.

[2017-01-14 22:52] #228 closed, assigned to LoganRickert

[2017-01-14 22:58] LoganRickert commented on #231
That's actually a really great idea for a good way of handling flags. It would also be a lot more simple to implement.

[2017-01-15 03:04] LoganRickert opened #232 "Clean Up Team 4's Branches"
All of Team 4's branches need to either be retired or merged in master.

- [x] Merge team4-alt-dev
- [x] Merge team4

- [x] Merge team4-dev

[2017-01-15 03:28] Rotbot9k commented on #232
please retire team4 and team4-dev'. I'm not sure how you retire a branch. Isn't there a way to make it 'inactive' without deleting?

[2017-01-15 03:30] LoganRickert commented on #232
Is it something like this? http://stackoverflow.com/a/1309934

[2017-01-15 04:47] rsanchez-wsu commented on #232
@LoganRickert I like the approach suggested in the SO posting

[2017-01-15 05:29] LoganRickert commented on #232
* team4-alt-dev has been merged through team4-tomerge branch and both branches deleted.
* team4-dev has been deleted.
* team4-team4 has been deleted.

[2017-01-15 05:29] #232 closed, assigned to LoganRickert, w012bwh

[2017-01-15 06:01] LoganRickert commented on #231
## Proposal 2

I propose that there are two categories of messages:

* `Information`
* `Command`

Each message code should be of any length but fit the following filter: `[A-Z]`.

### Argument Format

Arguments are space-seperated tokens that come directly after the message handler.

[code]

[code]

### Flag Format

Flags are given as so:

Flags:

* `myFlagName1`
* `myFlagName2:<argument>`

Flags

[2017-01-16 03:51] mdgilene opened #233 "Assess removal of team3 branch"
I think we are ok to remove the team3 branch. I've taken a look through the code and it doesn't appear to have been touched since early on in the project. The GUI is basically a place holder and doesn't contain any meaningful features. The client/server do work but are very simple and missing features/code that are present on master and other teams branches.

I propose the branch be ditched entire

[2017-01-16 03:55] LoganRickert commented on #233
I just had a look and I couldn't agree more.

What I did for the other branch was tag as archive, push the tag then deleted the branch locally and remotely.

[2017-01-16 03:55] mdgilene opened #234 "Merge branches team3-dev and team-3-6-dev"
At some point in the previous semester teams 3 and 6 started working together on a joint branch. We need to assess the state of the two branches and determine how to merge the two.

[2017-01-16 03:58] mdgilene commented on #233
This method?

http://stackoverflow.com/questions/1307114/how-can-i-archive-git-branches

[2017-01-16 04:08] #233 closed, assigned to nobody

[2017-01-16 04:33] mdgilene commented on #234
From what I can tell team-3-6-dev is also obsolete.

It was merged to master with commit 341a7e6d96d189d5943b5d38c0220547dc2472ab. Since this merge there is only 1 more commit on this branch 46a3f468cef70218096eb8310566c0d95b8dcfe2. This commit is trivial to merge into master at this point.

At this point I propose merging the existing team-3-6-dev branch to master and then archiving that branch.

[2017-01-16 04:38] LoganRickert commented on #234
Was team3-dev merged to master yet? I thought you committed to team3-dev earlier.

[2017-01-16 04:42] mdgilene commented on #234
Oh yeah, then I guess merge those changes into team-3-6-dev then to master. That should take care of both branches then both can be removed.

[2017-01-16 05:04] mdgilene commented on #234
team3-dev has been merged into team-3-6-dev.
team-3-6-dev has been merged into master

[2017-01-16 05:04] #234 closed, assigned to nobody

[2017-01-16 05:06] mdgilene commented on #214
Resolved with issue #234

[2017-01-16 05:06] #214 closed, assigned to nobody

[2017-01-16 05:07] mdgilene commented on #195
Resolved with issue #234

[2017-01-16 05:07] #195 closed, assigned to nobody

[2017-01-16 18:29] mdgilene opened #235 "Cleanup team2 and team2-dev"
A decision needs to be made on what to do with team2 and team2-dev. I have begun looking through the code and my thoughts are below.

## team2-dev
This branch is largely abandoned. It appears that all of the existing team2-dev code exists in master already. So I propose this branch be retired.

## team2
This branch on the other hand appears to contain the majority of the code that team2 was workin

[2017-01-16 19:05] LoganRickert commented on #235
Please see issue #225 as well.

[2017-01-16 19:06] LoganRickert commented on #235
There is issue #206 as well

[2017-01-16 19:40] mdgilene commented on #235
Based on these two issues I am going to go ahead and merge team2 into master and then archive both team2 and team2-dev

[2017-01-17 03:17] mdgilene commented on #235
team2-dev has been archived.

master has been merged into team2. Once we are ok with that merge we should be fine to go ahead and merge team2 into master then archive team2.

[2017-01-17 03:49] mdgilene commented on #184
This appears to have been completed. ClientSideGui.java does parse XML in order to populate the view with files.

[2017-01-17 03:51] #184 closed, assigned to nobody

[2017-01-17 23:23] mdgilene opened #236 "Do we need a server GUI?"
So currently all of the GUI work has been focused on the client side. But I think we should determine if we need or want a server side GUI as well.

## Possible Features
* Monitor status of the server.
  * Who's connected
  * Log of modifications made to files
* Act as a client itself.
  * The server GUI would have all the same features of the client GUI without having to connect with a separate c

[2017-01-18 03:04] rsanchez-wsu commented on #235
@mdgilene Is your idea that once team2 is merged to master that this issue can be closed?

[2017-01-18 03:06] rsanchez-wsu commented on #236
I am personally not a big fan of server-side GUIs, but I am not opposed to it in this case.  Depending on what you come up with, it might be bigger than what can be covered reasonably under a single issue.  You may also want to consider creating a wiki page that acts as the specification based on the comments from this issue and considering that wiki page as your deliverable for this issue.  New i

[2017-01-18 03:17] mdgilene commented on #235
Yes that is the idea. I just haven't had the time to do so yet.

[2017-01-18 03:17] rsanchez-wsu commented on #235
That sounds good to me.

[2017-01-18 03:35] #235 closed, assigned to mdgilene

[2017-01-18 21:59] LoganRickert commented on #236
A server GUI would primarily provide benefits to people who are testing their parts and I think that the points you brought up are valid. My only thing is that I personally think the server still needs a lot more foundation work before any work on a GUI begins.

[2017-01-18 22:09] mdgilene commented on #236
True that if the server was a much more complex system then a GUI would be far more beneficial than it is now. But even now it could be as simple as open up a stylized terminal where the output from the server is put. Which wouldn't take much or long to implement. Then as more and more functionality and complexity is added to the server then you can add interfaces to those systems to the GUI.